<section ng-controller="FrontPageController" class="container front-page" data-user-id="<%= current_user.id %>">
	<div class="alert alert-success mb-3 mt-3" ng-show="showWelcome" ng-cloak>
		<h4 class="alert-success mt-3">Thank you for registering on TheArticle.</h4>
		<p class="alert-success">Instructions for confirming email address here. Instructions for confirming email address here. Instructions for confirming email address here. Instructions for confirming email address here. </p>
	</div>

	<% if flash[:notice] %>
	<div id="flash_notice" class="d-none">
		<%= flash[:notice].html_safe %>
	</div>
	<% end %>

	<div class="alert alert-success mb-3 mt-3" ng-show="showPasswordChangedThanks" ng-cloak>
		<p class="alert-success">Thanks, your password has been changed.</p>
	</div>


	<div class="row" ng-cloak>
		<section class="col-md-4 col-lg-3" id="left_col">
			<div id="front_page_profile_card" class="mt-3 pb-3 mb-4">

				<div id="cover_photo"
						class="cover_photo"
						style="background-image: url('<%= current_user.cover_photo.url(:desktop) %>')">
				</div>

				<div class="d-flex">
					<a href="/my-profile">
						<img src="<%= current_user.profile_photo.url(:square) %>" class="profile_image rounded-circle" alt="<%= current_user.display_name %>" />
					</a>

					<div class="pl-2">
						<h5 class="mb-0 mt-2">
							<a href="/my-profile">
								<%= current_user.display_name %>
							</a>
						</h5>
						<h6 class="mb-2">
							<a href="/my-profile" class="text-muted">
								<small><%= current_user.username %></small>
							</a>
						</h6>
					</div>
				</div>

				<div class="d-flex" id="stats_info" ng-cloak>
					<div class="stats p-1 flex-fill" ng-click="openMyProfile($event, 'ratings')">
						<label>Ratings</label>
						<span><%= current_user.ratings_count %></span>
					</div>
					<div class="stats p-1 flex-fill" ng-click="openMyProfile($event, 'followers')">
						<label>Followers</label>
						<span><%= current_user.followers_count %></span>
					</div>
					<div class="stats p-1 flex-fill" ng-click="openMyProfile($event, 'following')">
						<label>Following</label>
						<span><%= current_user.followings_count %></span>
					</div>
				</div>
			</div>

			<div class="card w-100 mb-4" id="trending_exchanges_card">
				<div class="card-header">
					<h5 class="card-title">Trending exchanges</h5>
				</div>
				<div class="card-body">
					<% @trending_exchanges.each do |exchange| %>
						<div class="exchange_item d-flex align-items-center justify-content-start mb-4">
							<a href="<%= exchange_path(slug: exchange.slug) %>">
								<img ng-src="<%= exchange.image.url(:listing) %>" class="mr-3" alt="<%=exchange.name%>" />
							</a>

							<div class="inner">
								<h5 class="card-title mb-0">
									<a href="<%= exchange_path(slug: exchange.slug) %>">
										<span><%= exchange.name %></span>
									</a>
								</h5>
							</div>
						</div>
					<% end %>
				</div>
			</div>

			<% unless current_user.has_full_profile? %>
			<div class="call-to-action-card card">
				<div class="card-header">
					<h5 class="card-title">Fill out your profile</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Add information and photos to your profile to help people find you</p>
					<a href="<%= my_profile_path %>" class="btn btn-success btn-block">My Profile</a>
				</div>
			</div>
			<% end %>
		</section>

		<section class="col-md-8 col-lg-6" id="feed">
			<div class="container" id="activity-tabs">
				<div class="mb-2 mt-3 px-2 py-2 results_block row feed-listing">
          <textarea name="third_party_article_url"
                      id="third_party_article_url_phantom"
                      ng-keyup="openThirdPartySharingPanelIfEnterPressed($event)"
                      ng-focus="expandThirdPartySharingTextarea($event)"
                      ng-blur="contractThirdPartySharingTextarea($event)"
                      ng-paste="openThirdPartySharingPanelFromPaste($event)"
                      placeholder="What are you reading?"
                      class="form-control w-100"></textarea>
				</div>

				<div class="ajax_loading feeds" ng-if="!feeds.loaded">Loading feeds...</div>

				<div ng-if="feeds.loaded" class="results_block row"
						ng-class="{'empty': feeds.data.length == 0}">
					<p class="col-12 empty_resource" ng-if="feeds.data.length == 0">
						<span>There is no activity to show here</span>
					</p>

					<div ng-repeat="item in feeds.data" class="col-12 feed-listing pb-3 px-0"
								ng-class="{
									'feed-share': _.contains(['opinionAction', 'commentAction', 'share', 'rating', 'recentFollowingSummary', 'recentFollowedSummary', 'categorisation'], item.type),
									'feed-exchange': item.type == 'exchange',
									'feed-follow': item.type == 'follow',
									'feed-suggestion': item.type == 'suggestion'
								}">
							<div ng-if="item.type == 'share'"><%= render 'shares/card' %></div>
							<div ng-if="item.type == 'rating'"><%= render 'shares/card' %></div>
							<div ng-if="item.type == 'exchange'"><%= render 'exchanges/card' %></div>
							<div ng-if="item.type == 'commentAction'"><%= render 'comments/card' %></div>
							<div ng-if="item.type == 'opinionAction'"><%= render 'opinions/card' %></div>
							<div ng-if="item.type == 'follow'"><%= render 'follows/card' %></div>
							<div ng-if="item.type == 'categorisation'"><%= render 'categorisations/card' %></div>
							<div ng-if="item.type == 'suggestion'"><%= render 'profile_suggestions/card' %></div>
					</div>
				</div>
			</div>
		</section>

		<div class="col-md-0 col-lg-3 px-0 mt-3" id="callouts">
			<section id="trending_articles" class="callout card w-100">
				<div class="card-header">
					<h5 class="card-title">Latest articles</h5>
				</div>
				<div class="card-body pt-1">
					<% @trending_articles.each do |ta| %>
						<article class="row mt-3 px-0<%= ta.is_sponsored? ? ' sponsored_article' : '' %>">
							<div class="col-12">
								<% if(ta.is_sponsored?) %>
									<a href='/sponsors' class="sponsored">
										<i class="fas fa-star"></i>
										SPONSORED
									</a>
								<% end %>
								<h5 class="pb-0 mb-0">
									<a href="<%= article_path(ta) %>">
										<%= ta.title.html_safe %>
									</a>
								</h5>
								<% footerPaddingBottom = ta.is_sponsored? ? 'pb-4' : 'pb-0' %>
								<footer class="entry-footer pl-0 pt-0 <%= footerPaddingBottom %>">
									<p class="author_link">
										<a href="<%= contributor_path(slug: ta.author.slug) %>">
											by <span><%= ta.author.display_name %></span>
										</a>
										<span class="entry-date">
											<%= article_date(ta) %>
										</span>
									</p>
								</footer>
							</div>
						</article>
					<% end %>
				</div>
			</section>

			<section id="feed_journalist_spotlight" class="callout card w-100 mt-4">
				<div class="card-header">
					<h5 class="card-title">Contributor spotlight</h5>
				</div>
				<div class="card-body pt-1">
					<% @contributors_for_spotlight.each do |contributor| %>
						<article class="row my-4">
							<div class="col-5">
								<a href="<%= contributor_path(slug: contributor.slug) %>">
									<% if contributor.image? %>
										<img src="<%= contributor.image.url(:detail) %>" alt="<%= contributor.display_name %>" />
									<% end %>
								</a>
							</div>
							<div class="col-7 pt-0 pt-md-2 pl-md-1 pr-md-0 pl-lg-0">
								<h5 class="mb-1">
									<a href="<%= contributor_path(slug: contributor.slug) %>">
										<%= contributor.display_name %></a>
								</h5>
								<% if contributor.title %>
									<p class="mb-0">
										<%= contributor.title %>
									</p>
								<% end %>
							</div>
						</article>
					<% end %>
					<a class="btn btn-block btn-standard mt-2 mb-2" href="/contributors">See More</a>
				</div>
			</section>
		</div>
	</div>
</section>

<script id="requiresConnectionInfoBox" type="script/x-mustache">
	<%= render partial: 'follows/no_connection_modal' %>
</script>

<script id="thirdPartySharing" type="script/x-mustache">
	<%= render partial: 'third_party_articles/sharing_modal' %>
</script>

<script id="confirmNonWhiteListed" type="script/x-mustache">
	<%= render partial: 'third_party_articles/confirm_non_whitelisted_modal' %>
</script>

<script id="deleteOthersComment" type="script/x-mustache">
	<%= render partial: 'comments/delete_others_modal' %>
</script>

<script id="confirmBlock" type="script/x-mustache">
	<%= render partial: 'blocks/confirm_modal' %>
</script>

<script id="myFollowersOf" type="script/x-mustache">
	<%= render partial: 'follows/my_followers_of_modal' %>
</script>

<script id="opinionatorsOfShare" type="script/x-mustache">
	<%= render partial: 'user_shares/all_opinionators_modal' %>
</script>

<script id="commentersOnShare" type="script/x-mustache">
	<%= render partial: 'user_shares/all_commenters_modal' %>
</script>
