<% page_title "Exchanges" %>
<% meta_tag :description, "List of exchanges" %>

<section ng-controller="ExchangesController"
			data-signed-in="<%= user_signed_in? ? 1 : 0 %>" ng-cloak>

	<div id="content-page">
		<header class="entry-header">
			<h1 class="mb-0">
				<div class="container">
					Exchanges
				</div>
			</h1>
		</header>
	</div>

	<div class="container pt-4 py-md-5">
		<div class="well mb-3 mb-md-4 bg-grey">
			<p class="py-3 px-3"><b>What is an Exchange?</b> An Exchange is where our editor challenges contributors to debate a specific subject.  Follow the topics that interest you to receive relevant articles, from every angle, delivered to your personalised news feed.</p>
		</div>

		<form id="filter_list_form" name="filter_list_form"
					class="filter_list_form mb-3 mb-md-4"
					onsubmit="return false;">
	    <div class="input-group">
	      <input placeholder="Search for an Exchange" class="text-dark form-control" type="text" value="" name="search_filter">
	      <span class="input-group-btn" id="magnify">
	      	<i class="fas fa-search"></i>
	      </span>
	    </div>
		</form>

		<div class="row filter_list" id="exchanges_list">
			<p style="display: none;" class="filter_none_found my-3 text-center h5 w-100">Sorry there are no exchanges for your search term</p>
			<%
				@exchanges.each do |exchange|
			%>
			<article class="col-12 col-md-4 col-lg-3 article-listing exchange mb-4">
				<div class="inner">
					<div class="img_mask">
						<a href="<%= exchange_path(slug: exchange.slug) %>">
							<% if exchange.image? %>
								<img class="w-100 exchange_image" src="<%= exchange.image.url(:listing) %>" alt="<%= exchange.name %>" />
							<% end %>
						</a>
					</div>
					<div class="px-2 px-md-3 py-2 py-lg-3 heading_box">
						<h5 class="text-white mb-0 d-flex justify-content-between align-items-start">
							<a href="<%= exchange_path(slug: exchange.slug) %>" class="exchange-link pt-1 pt-md-0 text-white inherit_hover filter_target">
								<%= exchange.name %>
							</a>

							<a class="follow_exchange" href='#'
							    ng-click="toggleFollowExchange(<%= exchange.id %>, $event)"
							    ng-class="{'followed': inFollowedExchanges(<%= exchange.id %>)}">
						    <span ng-if="!inFollowedExchanges(<%= exchange.id %>)"><i class="fas fa-plus text-white"></i></span>
						    <span ng-if="inFollowedExchanges(<%= exchange.id %>)"><i class="fas fa-check text-black"></i></span>
						  </a>
						</h5>
					</div>
				</div>
			</article>
			<% end %>
		</div>

		<div class="col-12 text-center">
			<a class="btn btn-standard mt-md-4 mb-4" href="mailto:editor@thearticle.com?subject=Exchange Request">
				Request an Exchange
			</a>
		</div>
	</div>

	<% if browser.device.mobile? && show_ads? %>
		<div class="ads_box single_mpu mx-auto align-middle text-center mb-4">
			<!-- /<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/bottomsidecolumn -->
			<div id='div-gpt-ad-<%= ad_page_id %>-0'>
				<script>
					googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-0'); });
				</script>
			</div>
		</div>
	<% end %>
</section>