<% page_title "Exchanges" %>
<% meta_tag :description, "List of exchanges" %>

<div class="pt-md-5">
	<%= render partial: 'carousels/trending-exchanges', locals: { exchanges: @trending_exchanges } %>
</div>

<div class="container py-md-5">

	<form id="filter_list_form" name="filter_list_form"
				class="filter_list_form mb-3 mb-md-4"
				onsubmit="return false;">
    <div class="input-group">
      <input placeholder="Search for an exchange" class="text-dark form-control" type="text" value="" name="search_filter">
      <span class="input-group-btn" id="magnify">
      	<i class="fas fa-search"></i>
      </span>
    </div>
	</form>

	<div class="row filter_list" id="exchanges_list">
		<p style="display: none;" class="filter_none_found my-3 text-center h5 w-100">Sorry there are no exchanges for your search term</p>
		<%
			@exchanges.each do |exchange|
		%>
		<article class="col-6 col-md-4 col-lg-3 article-listing exchange mb-4 hoveraction">
			<div class="inner">
				<div class="img_mask">
					<a href="<%= exchange_path(slug: exchange.slug) %>">
						<img class="w-100 exchange_image" src="<%= exchange.exchange_image.url %>" alt="" />
					</a>
				</div>
				<div class="px-2 px-md-3 py-2 py-lg-3 block_click heading_box" data-href="<%= exchange_path(slug: exchange.slug) %>">
					<h5 class="text-white mb-0">
						<a href="<%= exchange_path(slug: exchange.slug) %>" class="text-white inherit_hover filter_target">
							<%= exchange.name %>
						</a>
					</h5>
					<p class="text-white entry-content mb-0 mx-0 mt-2 mobile_hide">
						<%= truncate(exchange.description, length: 220) %>
					</p>
				</div>
			</div>
		</article>
		<% end %>
	</div>

	<div class="col-12 text-center">
		<a class="btn btn-standard mt-md-4 mb-4" href="mailto:editor@thearticle.com?subject=Exchange Request">
			Request an Exchange
		</a>
	</div>
</div>