<% page_title "Exchange on #{@exchange.name}" %>
<% meta_tag :description, truncate(@exchange.description, length: 120) %>
<% meta_tag :image, @exchange.image.url(:detail) %>

<section ng-controller="ExchangesController"
		id="exchange_show_box"
		data-exchange="<%= @exchange.slug %>"
		data-per-page="<%= articles_per_page %>"
		data-signed-in="<%= user_signed_in? ? 1 : 0 %>" ng-cloak>
	<header class="black_heading py-4 py-md-5" ng-cloak>
		<div class="container">
			<div class="row">
				<div class="col-3 col-md-2">
					<% if @exchange.image? %>
						<img src="<%= @exchange.image.url(:detail) %>" alt="<%=  @exchange.name %>" class="mt-1 mt-md-1 mt-xl-2" />
					<% end %>
				</div>
				<div class="col-8 col-md-9 pl-0 pl-md-2 pl-lg-3 pt-0">
					<h1 class="mb-0 text-white">
						<% if @exchange.is_editor_item? %>
							<%= @exchange.name %>
						<% else %>
							Exchange on <%= @exchange.name %>
						<% end %>
					</h1>
					<% if !browser.device.mobile? %>
						<p class="h6 w-md-90 mb-0 text-white exchange_description"><%=  @exchange.description.html_safe %></p>
					<% end %>
				</div>
				<div class="col-0 col-md-1 d-flex align-items-end">
					<% if !browser.device.mobile? %>
						<button class="follow_btn in_header btn"
											ng-show="userExchanges.loaded"
											ng-click="toggleFollowExchange(<%= @exchange.id %>, $event)"
											ng-class="{
												'btn-outline-light': !inFollowedExchanges(<%= @exchange.id %>),
												'btn-light': inFollowedExchanges(<%= @exchange.id %>)
											}">
							<i class="fas fa-plus-square" ng-if="!inFollowedExchanges(<%= @exchange.id %>)"></i>
							<span ng-if="!inFollowedExchanges(<%= @exchange.id %>)">Follow</span>

							<i class="fas fa-check" ng-if="inFollowedExchanges(<%= @exchange.id %>)"></i>
							<span ng-if="inFollowedExchanges(<%= @exchange.id %>)">Following</span>
						</button>
					<% end %>
				</div>
			</div>
			<% if browser.device.mobile? %>
				<div class="row">
					<div class="col-11 pt-3">
						<p class="h6 w-100 pr-2 mb-0 text-white l-height-1">
							<small><%=  @exchange.description %></small>
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-12 d-flex justify-content-end">
						<button class="follow_btn in_header btn mt-3"
											ng-click="toggleFollowExchange(<%= @exchange.id %>)"
											ng-class="{
												'btn-outline-light': !inFollowedExchanges(<%= @exchange.id %>),
												'btn-light': inFollowedExchanges(<%= @exchange.id %>)
											}">
							<i class="fas fa-plus-square" ng-if="!inFollowedExchanges(<%= @exchange.id %>)"></i>
							<span ng-if="!inFollowedExchanges(<%= @exchange.id %>)">Follow</span>

							<i class="fas fa-check" ng-if="inFollowedExchanges(<%= @exchange.id %>)"></i>
							<span ng-if="inFollowedExchanges(<%= @exchange.id %>)">Following</span>
						</button>
					</div>
				</div>
			<% end %>
		</div>
	</header>

	<%if @exchange.is_editor_item? %>
		<div class="my-5"></div>
	<% else %>
		<% if @articles_for_carousel.any? %>
			<div class="container mt-4 mt-md-5 slick-carousel-title">
			  <h1 class="bullet cloak">Trending articles on <%= @exchange.name %></h1>
			</div>
			<%= render partial: 'carousels/articles', locals: { articles: @articles_for_carousel } %>
		<% end %>
	<% end %>

	<%=
		render partial: 'articles/listings', locals: {
			block_id: 'exchangeArticles',
			title: @exchange.is_editor_item? ? "Latest articles from #{@exchange.name}" : "Latest articles on #{@exchange.name}",
			is_editor_exchange: @exchange.is_editor_item?
		}
	%>
	<div class="ajax_loading exchange_articles" ng-show="exchangeArticles.loading">Loading articles</div>

	<%= render partial: 'common/page-bottom', locals: {
			spotlight_heading: 'Popular contributors',
			contributors: @contributors_for_spotlight,
			recent_articles: @recent_articles
		} %>
</section>