<div class="modal fade update_card_cetails" id="registerBoxModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header d-flex justify-content-between bg-grey">
        <div>
          <h5 class="mb-2 mt-1 pt-1">
          <a href="#" class="mr-4" ng-click="openSigninForm($event)">
            <i class="fas fa-user-circle text-green text-inrease-2"></i>
          </a>
           Join now – it's free
          </h5>
        </div>

        <button data-dismiss="modal" class="btn btn-link close_modal">
          <i class="fas fa-times text-green"></i>
        </button>
      </div>

      <div class="modal-body px-1 px-md-4">

        <header class="pt-2 container">
          <div class="row">
            <div class="col col-md-12">
              <div id="logo" class="py-3 mt-2">
                <span class="text-hide">TheArticle</span>
              </div>
            </div>
          </div>
        </header>

        <section ng-controller="AuthController" class="auth">
          <div class="container pt-4 pb-4">

            <div class="row">
              <div class="col-0 col-md-12">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="form-group">
                  <%= f.label :first_name %><br />
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "First name", class: "form-control", required: '' %>
                </div>

                <div class="form-group">
                  <%= f.label :last_name %><br />
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "Last name", class: "form-control", required: '' %>
                </div>

                <div class="row">
                  <div class="col">
                    <%= f.label :gender %><br />
                    <%= f.select :gender, options_for_select([ "Male", "Female", "Other", "Prefer not to say" ], resource.gender), {}, { class: "form-control short", required: '' } %>
                  </div>

                  <div class="col">
                    <%= f.label :age_bracket %><br />
                    <%= f.select :age_bracket, options_for_select([ "16-24", "25-34", "35-44", "45-54", "55-64", "65-74", "75+", "Prefer not to say" ], resource.age_bracket), {}, { class: "form-control short", required: '' } %>
                  </div>
                </div>

                <p class="mb-2"><a href='#gender_and_age_info' data-toggle="collapse" role="button"><small>What's this for?</small></a></p>
                <div id="gender_and_age_info" class="collapse mb-2">
                  <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</small>
                </div>

                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: '' %>
                </div>

                <div class="row mb-2">
                  <div class="col-md mb-3 mb-md-0">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: '' %>
                  </div>

                  <div class="col-md">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: '' %>
                  </div>
                </div>

                <div class="form-group checker d-flex">
                  <input type="checkbox" class="mr-2" name="tandc" id="tandc" required='true' />
                  <label>
                    <small>I am over 16 and agree to TheArticle <a href="/terms-and-conditions" target="_blank">Terms &amp; Conditions</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a></small>
                  </label>
                </div>

                <div class="actions">
                  <%= f.submit "Join", class: "btn btn-success btn-block text-white my-3" %>
                </div>
              <% end %>

              <p>Already have an account with <b>TheArticle</b>?  <a href=#" ng-click="openSigninForm($event)" class="text-green">Sign in here</a>.</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>