<div class="modal fade" id="registerBoxModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header d-flex justify-content-between bg-grey">
        <div>
          <h5 class="mb-2 mt-1 pt-1">
          <a href="#" class="mr-4" ng-click="openSigninForm($event)">
            <i class="fas fa-user-circle text-green text-inrease-2"></i>
          </a>
           Join now – it's free
          </h5>
        </div>

        <button data-dismiss="modal" class="btn btn-link close_modal">
          <i class="fas fa-times text-green"></i>
        </button>
      </div>

      <div class="modal-body px-1 px-md-4">

        <header class="container auth_header">
          <div class="row">
            <div class="col col-md-12">
              <div id="logo" class="">
                <span class="text-hide">TheArticle</span>
              </div>
            </div>
          </div>
        </header>

        <section ng-controller="AuthController" class="auth">
          <div class="container pt-2 pt-md-2 pb-4">

            <div class="row">
              <div class="col-0 col-md-12">
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                <div class="form-group">
                  <%= f.label :first_name %><br />
                  <%= f.text_field :first_name, autofocus: true, autocomplete: "First name", class: "form-control", 'ng-model': 'register.firstName' %>
                </div>

                <p class="alert alert-danger" ng-if="register.errors.names">{{register.errors.names}}</p>

                <div class="form-group">
                  <%= f.label :last_name %><br />
                  <%= f.text_field :last_name, autofocus: true, autocomplete: "Last name", class: "form-control", 'ng-model': 'register.lastName' %>
                </div>

                <div class="row form-group">
                  <div class="col">
                    <%= f.label :gender %><br />
                    <%= f.select :gender, options_for_select([ "Male", "Female", "Other", "Prefer not to say" ], resource.gender), {}, { class: "form-control short", 'ng-model': 'register.gender' } %>

                    <p class="mb-2"><a href='#gender_and_age_info' data-toggle="collapse" role="button"><small>What's this for?</small></a></p>
                  </div>

                  <div class="col">
                    <%= f.label :age_bracket %><br />
                    <%= f.select :age_bracket, options_for_select([ "16-24", "25-34", "35-44", "45-54", "55-64", "65-74", "75+", "Prefer not to say" ], resource.age_bracket), {}, { class: "form-control short", 'ng-model': 'register.ageBracket' } %>

                    <p class="mb-2"><a href='#gender_and_age_info' data-toggle="collapse" role="button"><small>What's this for?</small></a></p>
                  </div>
                </div>

                <div id="gender_and_age_info" class="collapse mb-2">
                  <small>This is to help us serve you articles and adverts that we think you might find interesting. This is not compulsory though; if you don't want to tell us, please select 'Prefer not to say'. The information you give on this page is private and will not be displayed on your public profile - learn more about how we manage your information.</small>
                </div>

                <p class="alert alert-danger" ng-if="register.errors.gender">{{register.errors.gender}}</p>
                <p class="alert alert-danger" ng-if="register.errors.ageBracket">{{register.errors.ageBracket}}</p>

                <div class="form-group">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", 'ng-model': 'register.email' %>
                </div>

                <p class="alert alert-danger" ng-if="register.errors.email">{{register.errors.email}}</p>

                <div class="row mb-2 form-group">
                  <div class="col-md mb-3 mb-md-0">
                    <%= f.label :password %>
                    <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> characters minimum)</em>
                    <% end %><br />
                    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", 'ng-model': 'register.password' %>
                  </div>


                  <div class="col-md">
                    <%= f.label :password_confirmation %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", 'ng-model': 'register.passwordConfirm' %>
                  </div>
                </div>

                <p class="alert alert-danger" ng-if="register.errors.password">{{register.errors.password}}</p>

                <div class="form-group checker d-flex">
                  <input type="checkbox" class="mr-2" name="tandc" id="tandc" ng-model='register.tandc' value="1" />
                  <label>
                    <small>I am over 16 and agree to TheArticle <a href="/terms-and-conditions" target="_blank">
                        Terms &amp; Conditions</a> and <a href="/privacy-policy" target="_blank">Privacy Policy</a>
                    </small>
                  </label>
                </div>

                <p class="alert alert-danger" ng-if="register.errors.tandc">{{register.errors.tandc}}</p>

                <div class="actions">
                  <button class="btn btn-success btn-block text-white my-3"
                          ng-class="{'disabled': register.joining}"
                          ng-disabled="register.joining"
                          ng-click="submitRegister($event)">
                    <span ng-if="register.joining">Joining...</span>
                    <span ng-if="!register.joining">Join</span>
                  </button>
                </div>
              <% end %>

              <p>Already have an account with <b>TheArticle</b>?  <a href='#' ng-click="openSigninForm($event)" class="text-green">Sign in here</a>.</p>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>