<% page_title @title %>
<% meta_tag :description, @desc %>

<section ng-controller="LandingPageController"
		id="landing_page_show_box"
		data-tags="<%= @tags.join(',') %>"
		data-per-page="<%= exchange_articles_per_page %>"
		data-signed-in="<%= user_signed_in? ? 1 : 0 %>" ng-cloak>

	<div id="content-page">
		<header class="entry-header">
			<h1 class="mb-0">
				<div class="container">
				<%= @title %>
				</div>
			</h1>
		</header>
	</div>

	<div class="my-4"></div>


	<div class="container mb-4">
		<p class="landing_page_intro"><%= @desc.html_safe %></p>
	</div>

	<%=
		render partial: 'articles/listings', locals: {
			block_id: 'articles',
			title: @articles_heading,
			is_editor_exchange: false
		}
	%>
	<div class="ajax_loading exchange_articles" ng-show="articles.loading">Loading articles</div>

</section>