<div class="card">
	<div class="user_info d-flex justify-content-between align-items-start">

		<div class="user_info_inner d-flex align-items-start">
			<a href="{{item.share.user.path}}">
				<img ng-src="{{item.share.user.image}}" alt="{{item.share.user.displayName}}" class="mr-3 rounded-circle" />
			</a>
			<div>
				<h4 class="mb-3">
					<a href="{{item.share.user.path}}">
						<b>{{item.share.user.displayName}}</b>
						<span class="text-muted">{{item.share.user.username}}</span>
						<span ng-if="item.type == 'rating'">rated</span>
						<span ng-if="item.type != 'rating'">shared</span>
						 an article
						&bullet; <time><span>{{item.share.date}}</span></time>
					</a>
				</h4>
			</div>
		</div>
		<div ng-if="item.share.user.id != <%= user_signed_in? ? current_user.id : 0 %>">
			<%= render partial: 'common/options_menu', locals: { from: :share } %>
		</div>

		<% if user_signed_in? %>
			<div ng-if="item.share.user.id == <%= current_user.id %>">
				<nav class="navbar share_menu_btn d-inline-block">
					<a href='#' data-toggle="dropdown">
						<i class="fas fa-chevron-circle-down"></i>
					</a>

				  <div class="dropdown-menu dropdown-menu-right">
				  	<a class="dropdown-item" href="#" ng-click="interactionMute($event, item.share)"
				  	      ng-if="!item.share.isInteractionMuted">Turn off notifications</a>
				  	<a class="dropdown-item" href="#" ng-click="interactionUnmute($event, item.share)"
				  	      ng-if="item.share.isInteractionMuted">Turn on notifications</a>
			      <a class="dropdown-item" href="#" ng-click="deleteMyPost($event, item.share)">Delete post</a>
				  </div>
				</nav>
			</div>
		<% end %>
	</div>

	<p class="post mt-3" ng-if="item.share.post.length > 0">
		{{item.share.post}}
	</p>

	<div class="member_ratings pt-3 px-3" ng-if="item.ratings.wellWritten > 0 || item.ratings.validPoints > 0 || item.ratings.agree > 0">
		<ul class="dots">
			<li class="mb-3" ng-if="item.ratings.wellWritten > 0">
				<label class="">Well written: </label>
				<div class="justify-content-start d-flex align-items-start">
					<div class="dots">
						<span class="dot feed" ng-repeat="i in _.range(1, 6)">
							<span ng-class="{
								'filled': i <= item.ratings.wellWritten,
								'empty': i > item.ratings.wellWritten
							}">&nbsp;</span>
						</span>
					</div>
					<h6 class="text-green feed">
						{{item.ratings.wellWrittenText}}
					</h6>
				</div>
			</li>

			<li class="mb-3" ng-if="item.ratings.validPoints > 0">
				<label class="">Interesting: </label>
				<div class="justify-content-start d-flex align-items-start">
					<div class="dots">
						<span class="dot feed" ng-repeat="i in _.range(1, 6)">
							<span ng-class="{
								'filled': i <= item.ratings.validPoints,
								'empty': i > item.ratings.validPoints
							}">&nbsp;</span>
						</span>
					</div>
					<h6 class="text-green feed">
						{{item.ratings.validPointsText}}
					</h6>
				</div>
			</li>

			<li class="mb-3" ng-if="item.ratings.agree > 0">
				<label class="">Agree: </label>
				<div class="justify-content-start d-flex align-items-start">
					<div class="dots">
						<span class="dot feed" ng-repeat="i in _.range(1, 6)">
							<span ng-class="{
								'filled': i <= item.ratings.agree,
								'empty': i > item.ratings.agree
							}">&nbsp;</span>
						</span>
					</div>
					<h6 class="text-green feed">
						{{item.ratings.agreeText}}
					</h6>
				</div>
			</li>
		</ul>
	</div>

	<div class="article_box">
		<div class="inner">
			<div class="img_mask">
				<a ng-if="item.article.image" href="{{ item.article.path }}"
						ng-attr-target="{{(item.article.isRemote) ? '_blank' : undefined}}">
					<img ng-src="{{ item.article.image }}" alt="{{ item.article.title }}" />
				</a>
			</div>

			<a href="{{ item.article.exchange.path }}" class="exchange-badge bg-colour-{{ $index+1 }}-dark exchange-{{ item.article.exchange.slug }}"
				ng-if="item.article.exchange.name.length">
		    <i ng-if="item.article.exchange.isSponsored" class="fas fa-star"></i>
			  {{ item.article.exchange.name }}
			</a>

			<header class="entry-header pt-3 px-3" ng-class="{'pt-4': item.article.isRemote}">
				<h6 ng-if="item.article.remoteDomain.length > 0" style="text-transform: uppercase;
	    margin: 0 0 8px;">{{item.article.remoteDomain}}</h6>

				<h4 class="entry-title mb-0" id="article-post-title-{{ item.article.id }}">
					<a href="{{ item.article.path }}" ng-bind-html="item.article.title"
							ng-attr-target="{{(item.article.isRemote) ? '_blank' : undefined}}"></a>
				</h4>
			</header>

			<div class="entry-content py-0 px-3" ng-class="{'pb-3': item.article.isRemote}">
				{{ item.article.snippet }}
			</div>

			<footer class="entry-footer pt-1 px-3 pb-2" ng-if="item.article.author.name.length">
				<p class="author_link d-flex justify-content-between align-items-start">
					<a href="{{ item.article.author.path }}">by <span>{{ item.article.author.name }}</span></a>
					<span class="entry-date">{{ item.article.publishedAt }}</span></p>
			</footer>
		</div>
	</div>

	<section>
		<div class="share_meta d-flex justify-content-start">
			<div class="count_box comment_count flex-fill" ng-if="commentCount(item, false) > 0">
				<a href='#' ng-click="showComments($event, item)">
					<i class="far fa-comment-alt"></i>
					{{ commentCount(item) }}
				</a>
			</div>
			<div class="count_box agree_count flex-fill" ng-if="agreeCount(item, false) > 0 && item.share.isOpinionatable">
				<a href='#' ng-click="showAgrees($event, item)">
					<i class="far fa-thumbs-up"></i>
					{{ agreeCount(item, false) }} agree
				</a>
			</div>
			<div class="count_box disagree_count flex-fill" ng-if="disagreeCount(item, false) > 0 && item.share.isOpinionatable">
				<a href='#' ng-click="showDisagrees($event, item)"
						>
					<i class="far fa-thumbs-down"></i>
					{{ disagreeCount(item, false) }} disagree
				</a>
			</div>
		</div>

		<div class="share_actions px-1 pt-3"
					ng-class="{'ghosted': !isSignedIn || item.canInteract != 'yes'}">
			<div class="d-flex justify-content-between">
				<a href='#' ng-click="showComments($event, item, true)" class="comment_action action">
					<i class="fas fa-comment-alt"></i>
					Comment
				</a>
				<a href='#' ng-click="agreeWithPost($event, item)" class="agree_action action"
						ng-class="{'selected': item.iAgreeWithPost}"
						ng-if="item.share.user.id != <%= user_signed_in? ? current_user.id : 0 %> && item.share.isOpinionatable">
					<i class="fas fa-thumbs-up"></i>
					Agree
				</a>
				<a href='#' ng-click="disagreeWithPost($event, item)" class="disagree_action action"
						ng-class="{'selected': item.iDisagreeWithPost}"
						ng-if="item.share.user.id != <%= user_signed_in? ? current_user.id : 0 %> && item.share.isOpinionatable">
					<i class="fas fa-thumbs-down"></i>
					Disagree
				</a>
			</div>

			<p class="mb-0 mt-4 alert alert-danger" ng-if="item.actionAuthError == 'not_followed'">
				You follow {{item.user.displayName}} but they do not follow you so you cannot interact with this post. Start a discussion on your own profile by <a href='{{item.article.path}}'>visiting the article</a> and sharing your own thoughts and rating.
			</p>

			<p class="mb-0 mt-4 alert alert-danger" ng-if="item.actionAuthError == 'not_following'">
				{{item.user.displayName}} follows you but you do not follow them so you cannot interact with this post. <a href='#' ng-click='followUserFromAuthError($event, item, true)'>Follow {{item.user.displayName}}.</a>
			</p>

			<p class="mb-0 mt-4 alert alert-danger" ng-if="item.actionAuthError == 'not_connected'">
				You need to be connected to {{item.user.displayName}} to interact with this post. Make the first move by <a href='#' ng-click='followUserFromAuthError($event, item, false)'>following {{item.user.displayName}}.</a>.
			</p>
		</div>
	</section>
</div>

<section>
	<!-- Comments -->
	<div class="comments_pane" ng-if="item.share.showComments">
			<div class="ajax_loading" ng-if="!item.share.commentsLoaded">Loading...</div>

		<div ng-if="item.share.commentsLoaded">
		  <div class="respond" data-share-id="{{item.share.id}}" data-comment-id="0" ng-if="item.canInteract == 'yes'">
		    <form class="comment-form">
		    	<div class="d-flex w-100">
		    		<% if user_signed_in? %>
							<img src="<%= current_user.profile_photo.url(:square) %>" alt="<%= current_user.display_name %>" />
						<% end %>
		        <textarea class="comment_textarea ml-3 form-control" name="comment" rows="4" placeholder="Add your Comment" ng-model="commentForSubmission.value"></textarea>
		      </div>
		      <div class="d-flex justify-content-end">
				    <a class="cancel_reply text-green mr-4 mt-4" href='#' style="display: none;" ng-click="cancelReply($event, item.share.id)">Cancel reply</a>
			      <input class="btn px-5 btn-success mt-3" class="post_comment" type="submit" value="Post Comment" ng-click="postComment($event, item)" />
			    </div>
		    </form>
		  </div>

		  <div class="comments px-0 px-md-2 px-lg-3 navbar">
		  	<div class="order_by_dropdown dropdown ml-2">
		  	  <a class="text-green dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  	    {{commentOrderText(item.orderCommentsBy)}} <i class="fas fa-chevron-down"></i>
		  	  </a>
		  	  <div class="dropdown-menu">
		  	    <div class="dropdown-item" ng-click="reorderComments($event, item, 'most_relevant')">
		  				<i class="fas fa-check tick" ng-if="item.orderCommentsBy == 'most_relevant'"></i>
		  				<h6>Most relevant</h6>
		  				<p>Shows people you follow’s comments and the most engaging comments first</p>
		  	    </div>
		  	    <div class="dropdown-item" ng-click="reorderComments($event, item, 'most_recent')">
		  				<i class="fas fa-check tick" ng-if="item.orderCommentsBy == 'most_recent'"></i>
		  				<h6>Most recent</h6>
		  				<p>Shows all comments, with the most recent first</p>
		  	    </div>
		  	    <div class="dropdown-item" ng-click="reorderComments($event, item, 'oldest')">
		  				<i class="fas fa-check tick" ng-if="item.orderCommentsBy == 'oldest'"></i>
		  				<h6>Oldest</h6>
		  				<p>Shows all comments, with the oldest first</p>
		  	    </div>
		  	  </div>
		  	</div>

		    <ol class="comment-list">
		    	<li ng-repeat="comment in filterCommentsByLimit(item)"
		    				class="comment parent feed-listing"
		    				ng-class="{'with_children': comment.children.length > 0}">
		        <%= render 'shares/comment' %>
		        <ol class="children" ng-if="comment.children.length > 0">
		          <li class="comment feed-listing" ng-repeat="child in filterRepliesByLimit(comment, item)">
		            <%= render 'shares/comment_child' %>
		          </li>
		        </ol>
		        <a href='#' ng-click="showAllReplies($event, comment)"
		        						ng-if="(comment.data.replyShowLimit > 0) && (comment.children.length > comment.data.replyShowLimit)"
		        						class="show_more text-green pt-2 pb-3 px-2 mb-3">
		        						<i class="fas fa-chevron-down mr-1"></i>
		        					View all {{comment.children.length}} replies
		        					</a>
		      </li>
		    </ol>
		    <a href='#' ng-click="showAllComments($event, item)" ng-if="(item.share.commentShowLimit > 0) && (item.comments.length > item.share.commentShowLimit)" class="show_more text-green pt-2 pb-3 px-2 mb-5">
		    	<i class="fas fa-chevron-down mr-1"></i>
		    View all {{item.comments.length}} comments
		  	</a>
		  </div>
	  </div>
	</div>


	<!-- Agrees -->
	<div class="opinions_pane agrees" ng-if="item.share.showAgrees">
		<div class="ajax_loading" ng-if="!item.share.opinionsLoaded">Loading...</div>

		<div ng-if="item.share.opinionsLoaded">
			<h5 class="pt-2 pl-4">People who agree with this post</h5>
			<ol class="comment-list">
				<li ng-repeat="opinion in filterAgreesByLimit(item)" class="opinion feed-listing feed-opinion">
			    <%= render 'shares/opinion' %>
			  </li>
			</ol>
			<a href='#' ng-click="showAllAgrees($event, item)"
						ng-if="(item.share.agreeShowLimit > 0) && (item.opinions.agrees.length > item.share.agreeShowLimit)" class="show_more text-green pt-2 pb-3 px-2 mb-5">
				<i class="fas fa-chevron-down mr-1"></i>
				View all {{item.opinions.agrees.length}}
			</a>
		</div>
	</div>

	<!-- Disgrees -->
	<div class="opinions_pane agrees" ng-if="item.share.showDisagrees">
		<div class="ajax_loading" ng-if="!item.share.opinionsLoaded">Loading...</div>

		<div ng-if="item.share.opinionsLoaded">
			<h5 class="pt-2 pl-4">People who disagree with this post</h5>
			<ol class="comment-list">
				<li ng-repeat="opinion in filterDisagreesByLimit(item)" class="opinion feed-listing feed-opinion">
			    <%= render 'shares/opinion' %>
			  </li>
			</ol>
		  <a href='#' ng-click="showAllDisagrees($event, item)"
		  			ng-if="(item.share.disagreeShowLimit > 0) && (item.opinions.disagrees.length > item.share.disagreeShowLimit)" class="show_more text-green pt-2 pb-3 px-2 mb-5">
		  	<i class="fas fa-chevron-down mr-1"></i>
		  	View all {{item.opinions.disagrees.length}}
			</a>
		</div>
	</div>
</section>