<div class="card">
	<div class="user_info d-flex justify-content-between align-items-start">

		<div class="user_info_inner d-flex align-items-start">
			<a href="{{item.share.user.path}}">
				<img ng-src="{{item.share.user.image}}" alt="{{item.share.user.displayName}}" class="mr-3 rounded-circle" />
			</a>
			<div>
				<h4>
					<a href="{{item.share.user.path}}">
						{{item.share.user.displayName}}
						<span class="text-muted">{{item.share.user.username}}</span> &bullet; <time><span>{{item.share.date}}</span></time>
					</a>
				</h4>
				<p>
					<b>
						<span ng-if="item.type == 'rating'">Rated</span>
						<span ng-if="item.type != 'rating'">Shared</span>
						 an article
					</b>
				</p>
			</div>
		</div>

		<%= render 'common/options_menu' %>
	</div>

	<p class="post" ng-if="item.share.post.length > 0">
		{{item.share.post}}
	</p>

	<div class="ratings" ng-if="item.ratings.wellWritten > 0 || item.ratings.validPoints > 0 || item.ratings.agree > 0">
		<div class="rating d-flex justify-content-between align-items-start" ng-if="item.ratings.wellWritten > 0">
			<label>Well written</label>
			<div class="d-flex">
				<div class="star" ng-repeat="i in _.range(0, item.ratings.wellWritten)">
					<i class="fas fa-star"></i>
				</div>
				<div class="star" ng-repeat="i in _.range(0, 10 - item.ratings.wellWritten)">
					<i class="far fa-star"></i>
				</div>
			</div>
		</div>

		<div class="rating d-flex justify-content-between align-items-start" ng-if="item.ratings.validPoints > 0">
			<label>Valid points</label>
			<div class="d-flex">
				<div class="star" ng-repeat="i in _.range(0, item.ratings.validPoints)">
					<i class="fas fa-star"></i>
				</div>
				<div class="star" ng-repeat="i in _.range(0, 10 - item.ratings.validPoints)">
					<i class="far fa-star"></i>
				</div>
			</div>
		</div>

		<div class="rating d-flex justify-content-between align-items-start" ng-if="item.ratings.agree > 0">
			<label>Agree</label>
			<div class="d-flex">
				<div class="star" ng-repeat="i in _.range(0, item.ratings.agree)">
					<i class="fas fa-star"></i>
				</div>
				<div class="star" ng-repeat="i in _.range(0, 10 - item.ratings.agree)">
					<i class="far fa-star"></i>
				</div>
			</div>
		</div>
	</div>

	<div class="article_box">
		<div class="inner">
			<div class="img_mask">
				<a ng-if="item.article.image" href="{{ item.article.path }}">
					<img ng-src="{{ item.article.image }}" alt="{{ item.article.title }}" />
				</a>
			</div>

			<a href="{{ item.article.exchange.path }}" class="exchange-badge bg-colour-{{ $index+1 }}-dark exchange-{{ item.article.exchange.slug }}">
		    <i ng-if="item.article.exchange.isSponsored" class="fas fa-star"></i>
			  {{ item.article.exchange.name }}
			</a>

			<header class="entry-header pt-3 px-3">
				<h4 class="entry-title mb-0" id="article-post-title-{{ item.article.id }}">
					<a href="{{ item.article.path }}" ng-bind="item.article.title"></a>
				</h4>
			</header>

			<div class="entry-content py-0 px-3">
				{{ item.article.snippet }}
			</div>

			<footer class="entry-footer pt-1 px-3 pb-2">
				<p class="author_link d-flex justify-content-between align-items-start">
					<a href="{{ item.article.author.path }}">by <span>{{ item.article.author.name }}</span></a>
					<span class="entry-date">{{ item.article.publishedAt }}</span></p>
			</footer>
		</div>
	</div>

	<section ng-if="item.share.post.length > 0">
		<div class="share_meta d-flex justify-content-start">
			<div class="count_box comment_count flex-fill" ng-if="commentCount(item, false) > 0">
				<a href='#' ng-click="showComments($event, item)">
					<i class="far fa-comment-alt"></i>
					{{ commentCount(item) }}
				</a>
			</div>
			<div class="count_box agree_count flex-fill" ng-if="agreeCount(item, false) > 0">
				<a href='#' ng-click="showAgrees($event, item)">
					<i class="far fa-thumbs-up"></i>
					{{ agreeCount(item, false) }} agree
				</a>
			</div>
			<div class="count_box disagree_count flex-fill" ng-if="disagreeCount(item, false) > 0">
				<a href='#' ng-click="showDisagrees($event, item)"
						>
					<i class="far fa-thumbs-down"></i>
					{{ disagreeCount(item, false) }} disagree
				</a>
			</div>
		</div>

		<div class="share_actions px-1 pt-3"
					ng-class="{'ghosted': !isSignedIn || item.canInteract != 'yes'}">
			<div class="d-flex justify-content-between">
				<a href='#' ng-click="showComments($event, item, true)" class="comment_action action">
					<i class="fas fa-comment-alt"></i>
					Comment
				</a>
				<a href='#' ng-click="agreeWithPost($event, item)" class="agree_action action"
						ng-class="{'selected': item.iAgreeWithPost}">
					<i class="fas fa-thumbs-up"></i>
					Agree
				</a>
				<a href='#' ng-click="disagreeWithPost($event, item)" class="disagree_action action"
						ng-class="{'selected': item.iDisagreeWithPost}">
					<i class="fas fa-thumbs-down"></i>
					Disagree
				</a>
			</div>
			<a href='#' class="helper" ng-if="!isSignedIn" ng-click="feedActionRequiresSignIn($event, 'interact with this post')">
				<i class="far fa-question-circle"></i>
			</a>
			<a href='#' class="helper" ng-if="item.canInteract != 'yes'" ng-click="showRequiresConnectionInfo($event, item)">
				<i class="far fa-question-circle"></i>
			</a>

			<p class="mb-0 mt-4 alert alert-danger" ng-if="item.actionAuthError">{{item.actionAuthError}}</p>
		</div>
	</section>
</div>

<section ng-if="item.share.post.length > 0">
	<!-- Comments -->
	<div class="comments_pane" ng-if="item.share.showComments">
			<div class="ajax_loading" ng-if="!item.share.commentsLoaded">Loading...</div>

		<div ng-if="item.share.commentsLoaded">
		  <div class="respond" data-share-id="{{item.share.id}}" data-comment-id="0" ng-if="item.canInteract == 'yes'">
		    <form class="comment-form">
		    	<div class="d-flex w-100">
						<img src="<%= current_user.profile_photo.url(:square) %>" alt="<%= current_user.display_name %>" />
		        <textarea class="comment_textarea ml-3 form-control" name="comment" rows="4" placeholder="Add your Comment" ng-model="commentForSubmission.value"></textarea>
		      </div>
		      <div class="d-flex justify-content-end">
				    <a class="cancel_reply text-green mr-4 mt-4" href='#' style="display: none;" ng-click="cancelReply($event, item.share.id)">Cancel reply</a>
			      <input class="btn px-5 btn-success mt-3" class="post_comment" type="submit" value="Post Comment" ng-click="postComment($event, item)" />
			    </div>
		    </form>
		  </div>

		  <div class="comments px-3">
		    <script type="text/html" id="comment_template">
		      <%= render 'shares/comment' %>
		    </script>

		    <ol class="comment-list">
		    	<li ng-repeat="comment in filterCommentsByLimit(item)"
		    				class="comment parent feed-listing"
		    				ng-class="{'with_children': comment.children.length > 0}">
		        <%= render 'shares/comment' %>
		        <ol class="children" ng-if="comment.children.length > 0">
		          <li class="comment feed-listing" ng-repeat="child in filterRepliesByLimit(comment, item)">
		            <%= render 'shares/comment_child' %>
		          </li>
		        </ol>
		        <a href='#' ng-click="showAllReplies($event, comment)"
		        						ng-if="(comment.data.replyShowLimit > 0) && (comment.children.length > comment.data.replyShowLimit)"
		        						class="show_more text-green pt-2 pb-3 px-2 mb-3">
		        						<i class="fas fa-chevron-down mr-1"></i>
		        					View all {{comment.children.length}} replies
		        					</a>
		      </li>
		    </ol>
		    <a href='#' ng-click="showAllComments($event, item)" ng-if="(item.share.commentShowLimit > 0) && (item.comments.length > item.share.commentShowLimit)" class="show_more text-green pt-2 pb-3 px-2 mb-5">
		    	<i class="fas fa-chevron-down mr-1"></i>
		    View all {{item.comments.length}} comments
		  	</a>
		  </div>
	  </div>
	</div>


	<!-- Agrees -->
	<div class="opinions_pane agrees" ng-if="item.share.showAgrees">
		<div class="ajax_loading" ng-if="!item.share.opinionsLoaded">Loading...</div>

		<div ng-if="item.share.opinionsLoaded">
			<h5 class="pt-2 pl-4">People who agree with this post</h5>
			<ol class="comment-list">
				<li ng-repeat="opinion in filterAgreesByLimit(item)" class="opinion feed-listing feed-opinion">
			    <%= render 'shares/opinion' %>
			  </li>
			</ol>
			<a href='#' ng-click="showAllAgrees($event, item)"
						ng-if="(item.share.agreeShowLimit > 0) && (item.opinions.agrees.length > item.share.agreeShowLimit)" class="show_more text-green pt-2 pb-3 px-2 mb-5">
				<i class="fas fa-chevron-down mr-1"></i>
				View all {{item.opinions.agrees.length}}
			</a>
		</div>
	</div>

	<!-- Disgrees -->
	<div class="opinions_pane agrees" ng-if="item.share.showDisagrees">
		<div class="ajax_loading" ng-if="!item.share.opinionsLoaded">Loading...</div>

		<div ng-if="item.share.opinionsLoaded">
			<h5 class="pt-2 pl-4">People who disagree with this post</h5>
			<ol class="comment-list">
				<li ng-repeat="opinion in filterDisagreesByLimit(item)" class="opinion feed-listing feed-opinion">
			    <%= render 'shares/opinion' %>
			  </li>
			</ol>
		  <a href='#' ng-click="showAllDisagrees($event, item)"
		  			ng-if="(item.share.disagreeShowLimit > 0) && (item.opinions.disagrees.length > item.share.disagreeShowLimit)" class="show_more text-green pt-2 pb-3 px-2 mb-5">
		  	<i class="fas fa-chevron-down mr-1"></i>
		  	View all {{item.opinions.disagrees.length}}
			</a>
		</div>
	</div>
</section>