<section ng-controller="SearchResultsController" id="search-results" class="container" data-query="<%= @query %>">
	<div class="alert alert-success mt-3 row">
		<h4 class="pt-1">Search results for "{{search.query}}"</h4>
	</div>
	<section id="top_bar" class="row bg-grey pt-2">
		<div class="col-2"></div>
		<ul class="col-8 nav nav-tabs nav-fill d-flex">
		  <li class="nav-item">
		    <a class="nav-link" href="#" ng-click="selectTab('all')" ng-class="{'active': selectedTab == 'all'}">
		      <label>All</label>
		    </a>
		  </li>
		  <li class="nav-item">
		  	<a class="nav-link" href="#" ng-click="selectTab('articles')"
		  			ng-class="{'active': selectedTab == 'articles'}"
		  			ng-show="search.results.data.articles.length > 0">
			  	<label>Articles</label>
			  </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#" ng-click="selectTab('contributors')"
		    		ng-class="{'active': selectedTab == 'contributors'}"
		    		ng-show="search.results.data.contributors.length > 0">
					<label>Contributors</label>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#" ng-click="selectTab('profiles')"
		    		ng-class="{'active': selectedTab == 'profiles'}"
		    		ng-show="search.results.data.profiles.length > 0">
		    	<label>Profiles</label>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#" ng-click="selectTab('exchanges')"
		    		ng-class="{'active': selectedTab == 'exchanges'}"
		    		ng-show="search.results.data.exchanges.length > 0">
					<label>Exchanges</label>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#" ng-click="selectTab('posts')"
		    		ng-class="{'active': selectedTab == 'posts'}"
		    		ng-show="search.results.data.posts.length > 0">
					<label>Posts</label>
		    </a>
		  </li>
		</ul>
		<div class="col-2"></div>
	</section>


	<div class="row pt-3">
		<section class="col-3 pl-0" id="callouts_left">
			<% unless user_signed_in? %>
			<div class="card w-100 mb-3">
				<div class="card-header">
					<h5 class="card-title">New to TheArticle?</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Register now to follow people and get your own personalised feed.</p>
			    <a href="<%= new_user_registration_path %>" class="btn btn-success btn-block">Register</a>
				</div>
			</div>
			<% end %>

			<div class="card w-100">
				<div class="card-header">
					<h5 class="card-title">Trending exchanges</h5>
				</div>
				<div class="card-body">
					<% @trending_exchanges.each do |exchange| %>
						<div class="d-flex align-items-center justify-content-start mb-2 feed-listing">
								<a href="<%= exchange_path(slug: exchange.slug) %>">
									<img ng-src="<%= exchange.image %>" class="rounded feed_image" alt="<%=exchange.name%>" />
								</a>

								<div class="inner">
									<h4 class="card-title mb-0">
										<a href="<%= exchange_path(slug: exchange.slug) %>">
											<span><%= exchange.name %></span>
										</a>
									</h4>
								</div>
							</div>
					<% end %>
				</div>
			</div>
		</section>

		<section class="col-6 pb-5" id="feed" >
			<div class="inner">
				<div class="results_block row"
							ng-show="(selectedTab == 'all' || selectedTab == 'articles') && search.results.data.articles.length > 0">
					<h6 class="col-12 px-4 py-3 block_heading" ng-if="selectedTab == 'all'">Article results for "{{search.query}}"</h6>
					<div ng-repeat="article in filterListForTab(search.results.data.articles)" class="col-6 feed-listing feed-article mb-1 pb-2 px-1">
						<%= render 'articles/card' %>
					</div>
					<div class="view_all pb-3 mb-2" ng-if="selectedTab == 'all' && search.results.data.articles.length > search.allLimit">
						<a href='#' ng-click="selectTab('articles')">View all articles</a>
					</div>
				</div>

				<div class="results_block row"
							ng-show="(selectedTab == 'all' || selectedTab == 'contributors') && search.results.data.contributors.length > 0">
					<h6 class="col-12 px-4 py-3 block_heading" ng-if="selectedTab == 'all'">Contributor results for "{{search.query}}"</h6>
					<div ng-repeat="contributor in filterListForTab(search.results.data.contributors)" class="col-6 feed-listing feed-contributor mb-1 pb-2 px-1">
						<%= render 'contributors/card' %>
					</div>
					<div class="view_all pb-3 mb-2" ng-if="selectedTab == 'all' && search.results.data.contributors.length > search.allLimit">
						<a href='#' ng-click="selectTab('contributors')">View all contributors</a>
					</div>
				</div>

				<div class="results_block row"
							ng-show="(selectedTab == 'all' || selectedTab == 'profiles') && search.results.data.profiles.length > 0">
					<h6 class="col-12 px-4 py-3 block_heading" ng-if="selectedTab == 'all'">Profile results for "{{search.query}}"</h6>
					<div ng-repeat="member in filterListForTab(search.results.data.profiles)" class="col-6 feed-listing feed-follow mb-1 pb-2 px-1">
						<%= render 'users/member_card' %>
					</div>
					<div class="view_all pb-3 mb-2" ng-if="selectedTab == 'all' && search.results.data.profiles.length > search.allLimit">
						<a href='#' ng-click="selectTab('profiles')">View all profiles</a>
					</div>
				</div>

				<div class="results_block row"
							ng-show="(selectedTab == 'all' || selectedTab == 'exchanges') && search.results.data.exchanges.length > 0">
					<h6 class="col-12 px-4 py-3 block_heading" ng-if="selectedTab == 'all'">Exchange results for "{{search.query}}"</h6>
					<div ng-repeat="exchange in filterListForTab(search.results.data.exchanges)" class="col-6 feed-listing feed-exchange mb-1 pb-2 px-1">
						<%= render 'exchanges/card' %>
					</div>
					<div class="view_all pb-3 mb-2" ng-if="selectedTab == 'all' && search.results.data.exchanges.length > search.allLimit">
						<a href='#' ng-click="selectTab('exchanges')">View all exchanges</a>
					</div>
				</div>

				<div class="results_block row"
							ng-show="(selectedTab == 'all' || selectedTab == 'posts') && search.results.data.posts.length > 0">
					<h6 class="col-12 px-4 py-3 block_heading" ng-if="selectedTab == 'all'">Post results for "{{search.query}}"</h6>
					<div ng-repeat="result in filterListForTab(search.results.data.posts)" class="col-6 feed-listing feed-post mb-1 pb-2 px-1">
						<p><a href="{{result.path}}">{{result.name}}</a></p>
					</div>
					<div class="view_all pb-3 mb-2" ng-if="selectedTab == 'all' && search.results.data.posts.length > search.allLimit">
						<a href='#' ng-click="selectTab('posts')">View all posts</a>
					</div>
				</div>

			</div>
		</section>

		<section class="col-3 pr-0" id="trending_articles">
			<div class="card w-100 mb-3">
				<div class="card-header">
					<h5 class="card-title">Trending articles</h5>
				</div>
				<div class="card-body">
					<% @trending_articles.each do |ta| %>
						<article class="row mt-3 px-0<%= ta.is_sponsored? ? ' sponsored_article' : '' %>">
							<div class="col-12">
								<% if(ta.is_sponsored?) %>
									<a href='/sponsors' class="sponsored">
										<i class="fas fa-star"></i>
										SPONSORED
									</a>
								<% end %>
								<h5 class="">
									<a href="<%= article_path(ta) %>">
										<%= ta.title.html_safe %>
									</a>
								</h5>
								<% footerPaddingBottom = ta.is_sponsored? ? 'pb-2' : 'pb-0' %>
								<footer class="entry-footer pl-0 pb-0 pt-1 <%= footerPaddingBottom %>">
									<p class="author_link">
										<a href="<%= contributor_path(slug: ta.author.slug) %>">
											by <span><%= ta.author.display_name %></span>
										</a>&nbsp;
										<span class="entry-date">
											<%= article_date(ta) %>
										</span>
									</p>
								</footer>
							</div>
						</article>
					<% end %>
				</div>
			</div>
		</section>
	</div>
</section>
