<section ng-controller="SearchResultsController"
					id="search-results"
					class="container"
					data-signed-in="<%= user_signed_in? ? 1 : 0 %>"
					data-query="<%= @query %>" ng-cloak>
	<div class="alert alert-success mt-3 row">
		<h4 class="pt-1">Search results for "{{search.query}}"</h4>
	</div>
	<section id="top_bar" class="row bg-white pt-2">
		<div class="col-2"></div>
		<ul class="col-8 nav nav-tabs nav-fill d-flex">
		  <li class="nav-item" ng-if="!search.results.empty">
		    <a class="nav-link" href="#" ng-click="selectTab($event, 'all')"
		    			ng-class="{'active': selectedTab == 'all'}">
		      <label>All</label>
		    </a>
		  </li>
		  <li class="nav-item" ng-if="search.results.data.articles.length > 0">
		  	<a class="nav-link" href="#" ng-click="selectTab($event, 'articles')"
		  			ng-class="{'active': selectedTab == 'articles'}">
			  	<label>Articles</label>
			  </a>
		  </li>
		  <li class="nav-item" ng-if="search.results.data.contributors.length > 0">
		    <a class="nav-link" href="#" ng-click="selectTab($event, 'contributors')"
		    		ng-class="{'active': selectedTab == 'contributors'}">
					<label>Contributors</label>
		    </a>
		  </li>
		  <li class="nav-item" ng-if="search.results.data.profiles.length > 0">
		    <a class="nav-link" href="#" ng-click="selectTab($event, 'profiles')"
		    		ng-class="{'active': selectedTab == 'profiles'}"
		    		>
		    	<label>Profiles</label>
		    </a>
		  </li>
		  <li class="nav-item" ng-if="search.results.data.exchanges.length > 0">
		    <a class="nav-link" href="#" ng-click="selectTab($event, 'exchanges')"
		    		ng-class="{'active': selectedTab == 'exchanges'}">
					<label>Exchanges</label>
		    </a>
		  </li>
		  <li class="nav-item" ng-if="search.results.data.posts.length > 0">
		    <a class="nav-link" href="#" ng-click="selectTab($event, 'posts')"
		    		ng-class="{'active': selectedTab == 'posts'}">
					<label>Posts</label>
		    </a>
		  </li>
		</ul>
		<div class="col-2"></div>
	</section>


	<div class="row pt-3">
		<section class="col-md-4 col-lg-3 pl-0" id="left_col">
			<% unless user_signed_in? %>
			<div class="card w-100 mb-3">
				<div class="card-header">
					<h5 class="card-title">New to TheArticle?</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Register now to follow people and get your own personalised feed.</p>
			    <a href="#" ng-click="openRegisterForm($event, 'search_results', '<%= device_type_for_events %>')" class="btn btn-success btn-block">Register</a>
				</div>
			</div>
			<% end %>

			<div class="card w-100 mb-4" id="trending_exchanges_card">
				<div class="card-header">
					<h5 class="card-title">Trending exchanges</h5>
				</div>
				<div class="card-body">
					<% @trending_exchanges.each do |exchange| %>
						<div class="exchange_item d-flex align-items-center justify-content-start mb-4">
								<a href="<%= exchange_path(slug: exchange.slug) %>">
									<img ng-src="<%= exchange.image.url(:listing) %>" class="mr-3" alt="<%=exchange.name%>" />
								</a>

								<div class="inner">
									<h5 class="card-title mb-0">
										<a href="<%= exchange_path(slug: exchange.slug) %>">
											<span><%= exchange.name %></span>
										</a>
									</h5>
								</div>
							</div>
					<% end %>
				</div>
			</div>
		</section>

		<section class="col-md-8 col-lg-6" id="feed" >
			<div class="inner" ng-if="search.results.loaded" ng-cloak>
				<div class="results_block row" ng-if="(selectedTab == 'all' && search.results.empty)">
					<div class="no_results py-3 px-3">
						<h4>No Search Results</h4>
						<p>Sorry, but we cannot find anything on <b>TheArticle</b> for {{search.query}}</p>
					</div>
				</div>

				<div class="results_block row"
							ng-if="(selectedTab == 'all' || selectedTab == 'articles') && search.results.data.articles.length > 0">
					<h6 class="col-12 px-4 py-3 block_heading" ng-if="selectedTab == 'all'">Article results for "{{search.query}}"</h6>
					<div ng-repeat="article in filterListForTab(search.results.data.articles)" class="col-6 feed-listing feed-article mb-1 pb-2 px-1">
						<%= render 'articles/item' %>
					</div>
					<div class="view_all pb-3 mb-2" ng-if="selectedTab == 'all' && search.results.data.articles.length > search.allLimit">
						<a class="text-green" href='#' ng-click="selectTab($event, 'articles')">View all articles</a>
					</div>
				</div>

				<div class="results_block row"
							ng-if="(selectedTab == 'all' || selectedTab == 'contributors') &&
												search.results.data.contributors.length > 0">
					<h6 class="col-12 px-4 py-3 block_heading" ng-if="selectedTab == 'all'">Contributor results for "{{search.query}}"</h6>
					<div ng-repeat="item in filterListForTab(search.results.data.contributors)" class="col-6 feed-listing feed-contributor mb-1 pb-2 px-1">
						<%= render 'contributors/card' %>
					</div>
					<div class="view_all pb-3 mb-2" ng-if="selectedTab == 'all' && search.results.data.contributors.length > search.allLimit">
						<a class="text-green" href='#' ng-click="selectTab($event, 'contributors')">View all contributors</a>
					</div>
				</div>

				<div class="results_block row"
							ng-if="(selectedTab == 'all' || selectedTab == 'profiles') &&
												search.results.data.profiles.length > 0">
					<h6 class="col-12 px-4 py-3 block_heading" ng-if="selectedTab == 'all'">Profile results for "{{search.query}}"</h6>
					<div ng-repeat="item in filterListForTab(search.results.data.profiles)" class="col-6 feed-listing feed-follow mb-1 pb-2 px-1">
						<%= render 'users/member_card' %>
					</div>
					<div class="view_all pb-3 mb-2" ng-if="selectedTab == 'all' && search.results.data.profiles.length > search.allLimit">
						<a class="text-green" href='#' ng-click="selectTab($event, 'profiles')">View all profiles</a>
					</div>
				</div>

				<div class="results_block row"
							ng-if="(selectedTab == 'all' || selectedTab == 'exchanges') &&
												search.results.data.exchanges.length > 0">
					<h6 class="col-12 px-4 py-3 block_heading" ng-if="selectedTab == 'all'">Exchange results for "{{search.query}}"</h6>
					<div ng-repeat="item in filterListForTab(search.results.data.exchanges)" class="col-md-6 col-lg-6 feed-listing article-listing exchange mb-4 pb-2 px-1">
						<div class="inner">
							<div class="img_mask">
								<a href="{{item.path}}">
									<img class="w-100 exchange_image" ng-src="{{item.image}}" alt="{{item.name}}" />
								</a>
							</div>
							<div class="px-2 px-md-3 py-2 py-lg-3 heading_box">
								<h5 class="text-white mb-0 d-flex justify-content-between align-items-start">
									<a href="{{item.path}}" class="exchange-link pt-1 pt-md-0 text-white inherit_hover filter_target">
										{{item.name}}
									</a>

									<a class="follow_exchange" href='#'
									    ng-click="toggleFollowExchange(item.id, $event)"
									    ng-class="{'followed': inFollowedExchanges(item.id)}">
								    <span ng-if="!inFollowedExchanges(item.id)"><i class="fas fa-plus"></i></span>
								    <span ng-if="inFollowedExchanges(item.id)"><i class="fas fa-check text-black"></i></span>
								  </a>
								</h5>
							</div>
						</div>
					</div>
					<div class="view_all pb-3 mb-2" ng-if="selectedTab == 'all' && search.results.data.exchanges.length > search.allLimit">
						<a class="text-green" href='#' ng-click="selectTab($event, 'exchanges')">View all exchanges</a>
					</div>
				</div>

				<div class="results_block row"
							ng-if="(selectedTab == 'all' || selectedTab == 'posts') &&
											search.results.data.posts.length > 0">
					<h6 class="col-12 px-4 py-3 block_heading" ng-if="selectedTab == 'all'">Post results for "{{search.query}}"</h6>
					<div ng-repeat="item in filterListForTab(search.results.data.posts)" class="col-12 feed-listing pb-3 px-0 feed-share">
						<div><%= render 'shares/card' %></div>
					</div>
					<div class="view_all pb-3 mb-2" ng-if="selectedTab == 'all' && search.results.data.posts.length > search.allLimit">
						<a class="text-green" href='#' ng-click="selectTab($event, 'posts')">View all posts</a>
					</div>
				</div>

			</div>
		</section>

		<section class="col-md-0 col-lg-3 px-0 mt-3" id="callouts">
			<div class="card w-100 mb-3" id="trending_articles">
				<div class="card-header">
					<h5 class="card-title">Latest articles</h5>
				</div>
				<div class="card-body">
					<% @trending_articles.each do |ta| %>
						<article class="row mt-3 px-0<%= ta.is_sponsored? ? ' sponsored_article' : '' %>">
							<div class="col-12">
								<% if(ta.is_sponsored?) %>
									<a href='/sponsors' class="sponsored">
										<i class="fas fa-star"></i>
										SPONSORED
									</a>
								<% end %>
								<h5 class="">
									<a href="<%= article_path(ta) %>">
										<%= ta.title.html_safe %>
									</a>
								</h5>
								<% footerPaddingBottom = ta.is_sponsored? ? 'pb-2' : 'pb-0' %>
								<footer class="entry-footer pl-0 pb-0 pt-1 <%= footerPaddingBottom %>">
									<p class="author_link">
										<a href="<%= contributor_path(slug: ta.author.slug) %>">
											by <span><%= ta.author.display_name.html_safe %></span>
										</a>&nbsp;
										<span class="entry-date">
											<%= article_date(ta) %>
										</span>
									</p>
								</footer>
							</div>
						</article>
					<% end %>
				</div>
			</div>
		</section>
	</div>
</section>
