<div class="container listings_<%= block_id.downcase %>" ng-if="<%= block_id %>.firstLoaded">
	<h2 class="h1 bullet mb-2 mb-md-3"><%= title.html_safe %></h2>
	<div class="row">
		<article ng-repeat="article in <%= block_id %>.items" id="article-listing-post-{{ article.id }}" data-id="{{ article.id }}" class="article-listing col-12 col-md-6 col-lg-4 post hoveraction block_click{{ article.isSponsored ? ' sponsored_article' : '' }}" data-href="{{  article.path }}">
			<%= render partial: 'articles/item' %>
		</article>
		<% if block_id == 'exchangeArticles' && is_editor_exchange %>
			<%= render "exchanges/editor_exchange_callout_3" %>
			<%= render "exchanges/editor_exchange_callout_2" %>
			<%= render "exchanges/editor_exchange_callout_1" %>
		<% end %>
	</div>
	<a ng-if="<%= block_id %>.moreToLoad" class="btn btn-standard mt-4 mb-4 mt-md-0 mb-md-5 see_more_articles" ng-click="loadMore('<%= block_id %>')">
		<% if block_id == 'exchangeArticles' && is_editor_exchange %>
			See More articles
		<% else %>
			See More
		<% end %>
	</a>
</div>