<article id="article-listing-post-<%= article.id %>" data-id="<%= article.id %>" class="article-listing col-12 col-md-6 col-lg-4 post hoveraction block_click sponsored_article px-md-1 px-lg-2 px-xl-3" data-href="<%=  article_path(article) %>">
	<div class="inner">
		<div class="img_mask">
			<% if article.is_newly_published? %>
				<div class="new_article"><span>New</span></div>
			<% end %>
			<% if article.image? %>
				<a href="<%= article_path(article) %>">
					<% image_size = browser.device.mobile? ? :listing_mobile : :listing_desktop %>
					<img src="<%= article.image.url(image_size) %>" alt="<%= article.title %>" />
				</a>
			<% end %>
		</div>

		<a href="/sponsors" class="exchange-badge exchange-sponsored">
	    <i class="fas fa-star"></i>
	    Sponsored
		</a>

		<header class="entry-header pt-0 px-3">
			<h4 class="entry-title mb-0" id="article-post-title-<%= article.id %>">
				<a href="<%= article_path(article) %>"><%= article.title.html_safe %></a>
			</h4>
		</header>

		<div class="entry-content py-0 px-3">
			<%= article_excerpt_for_listing(article) %>
		</div>

		<footer class="entry-footer pt-1 px-3 pb-2">
			<p class="author_link"><a href="<%= contributor_path(slug: article.author.slug) %>">by <span><%= article.author.display_name %></span></a> <span class="entry-date"><%= article_date(article) %></span></p>
		</footer>
	</div>
</article>