<% page_title @article.title %>
<% meta_tag :description, truncate(@article.meta_description, length: 120) %>
<% if @article.image? %>
	<% meta_tag :image, @article.image.url %>
<% end %>

<% if flash[:notice] %>
<div id="flash_notice" class="d-none">
	<%= flash[:notice].html_safe %>
</div>
<% end %>

<section ng-controller="ArticleController"
					data-signed-in="<%= user_signed_in? ? 1 : 0 %>"
					data-profile-deactivated="<%= user_signed_in? ? (current_user.profile_is_deactivated? ? 1 : 0) : 0 %>"
					data-profile-incomplete="<%= user_signed_in? ? (current_user.has_completed_wizard ? 0 : 1) : 0 %>"
					data-article-id="<%= @article.id %>"
					data-exchange-id-for-more="<%=  @exchange_for_more.present? ? @exchange_for_more.slug : '' %>"
					data-per-page="<%= more_on_articles_per_page %>">
	<div class="container mb-3">
		<article id="post-<%= @article.id %>" class="article_detail">
			<header class="entry-header">
				<p id="article_exchanges">
					<%= render partial: 'common/exchange-badges', locals: { article: @article } if @article.exchanges.any? %>
				</p>
				<h1 class="entry-title mt-4"><%= @article.title.html_safe %></h1>

				<div id="article_meta" class="mt-0 row px-3 pb-4">
					<div class="col-12 pr-0 author_link row">
						<a id="article_author_thumbnail" href="<%= article_author_url(@article) %>" class="d-block mr-2 ">
							<img src="<%= @article.author.image_url %>" alt="<%= @article.author.display_name.html_safe %>" />
						</a>

						<a href="<%= article_author_url(@article); %>">by <span>
						<%= @article.author.display_name.html_safe %></span></a>
						<% if @article.author.user.present? %>
							<span class="ml-1 ml-md-2 ml-xl-3 mr-0">|</span>
							 <a href="<%= profile_path(slug: @article.author.user.slug) %>" class="article_author_user">
									<img src="<%= asset_url('capital-a-bg-black.png') %>" alt="The Article" />
									<span><%= @article.author.user.username %></span>
								</a>
						<% end %>
						<% if @article.author.twitter_handle.present? %>
							<span class="ml-1  ml-xl-3 mr-0">|</span>
							 <a href="https://twitter.com/<%= @article.author.twitter_handle %>" target="_blank" class="">
									<i class="text-colour-2 fab fa-twitter  ml-1  ml-xl-3"></i>
									<span><%= @article.author.twitter_handle %></span>
								</a>
						<% end %>

						<span class="mx-1  mx-xl-3">|</span>
						<span class="entry-date"><%= article_date(@article) %></span>
					</div>
				</div>

				<div class="mt-0 mb-3 d-flex share_links">
					<%= render partial: 'common/share-buttons', locals: { article: @article } %>
				</div>

				<% unless @article.is_sponsored? %>
				<div class="member_ratings pt-2 pb-2 px-3 mb-2">
					<h5>Member ratings</h5>
					<% if @article.has_ratings? %>
						<ul class="">
							<li class="row justify-content-start d-flex align-items.start mb-2">
								<% rating_wwc = @article.ratings_well_written_cache %>
								<span class="col-10 text">Well argued: </span>
								<span class="col-2 rating <%= (rating_wwc.nil? || rating_wwc == '') ? 'faded' : '' %>"">
									<%=  readable_article_rating(rating_wwc) %>
								</span>
							</li>
							<li class="row justify-content-start d-flex align-items.start mb-2">
								<% rating_vpc = @article.ratings_valid_points_cache %>
								<span class="col-10 text">Interesting points: </span>
								<span class="col-2 rating <%= (rating_vpc.nil? || rating_vpc == '') ? 'faded' : '' %>">
									<%= readable_article_rating(rating_vpc) %>
								</span>
							</li>
							<li class="row justify-content-start d-flex align-items.start mb-2">
								<% rating_ac = @article.ratings_agree_cache %>
								<span class="col-10 text">Agree with arguments: </span>
								<span class="col-2 rating <%= (rating_ac.nil? || rating_ac == '') ? 'faded' : '' %>">
									<%= readable_article_rating(rating_ac) %>
								</span>
							</li>
						</ul>
						<a href="#" ng-click="viewRatingHistory($event)" class="text-green d-block pt-2 pb-1">
							<%= pluralize(@article.shares.where(share_type: 'rating').size, 'rating') %> - view all
						</a>
					<% else %>
					<p class="mb-0">This article has not been rated yet. <a href='#' class="text-green" ng-click="openSharingPanel($event, 'rate')">Be the first person to rate this article</a>.</p>
					<% end %>
				</div>
				<% end %>
			</header>

			<div class="row">
				<div class="col-12 pb-3 mb-2">
					<div id="img_box" class="mb-4">
						<% if @article.image? %>
							<img src="<%= @article.image.url(:cover_desktop) %>" alt="<%= @article.title.html_safe %>" class="w-100" />
							<% if @article.image_caption %>
								<p class="caption">
									<%= @article.image_caption.html_safe %>
								</p>
							<% end %>
						<% end %>
					</div>

					<div id="content_box">
						<% if show_ads? %>
							<%= adified_content(@article) %>
						<% else %>
							<%= simple_format @article.content.html_safe %>
						<% end %>
					</div>

					<% unless @article.is_sponsored? %>
					<div class="member_ratings bars pt-3 pb-2 px-3">
						<h5>Member ratings</h5>
						<% if @article.has_ratings? %>
							<ul class="bars">
								<li class="mb-2">
									<label>Well argued: </label>
									<span class="justify-content-start d-flex align-items-start">
										<span class="bar">
											<span class="inner" style="width: <%=  rating_wwc.to_i %>%;"></span>
										</span>
										<span class="clear-rating ml-3 <%= (rating_wwc.nil? || rating_wwc == '') ? 'faded' : '' %>"><%=  readable_article_rating(rating_wwc) %></span>
									</span>
								</li>
								<li class="mb-2">
									<label>Interesting points: </label>
									<span class="justify-content-start d-flex align-items-start">
										<span class="bar">
											<span class="inner" style="width: <%= rating_vpc.to_i %>%;"></span>
										</span>
										<span class="clear-rating ml-3 <%= (rating_vpc.nil? || rating_vpc == '') ? 'faded' : '' %>"><%= readable_article_rating(rating_vpc) %></span>
									</span>
								</li>
								<li class="mb-2">
									<label>Agree with arguments: </label>
									<span class="justify-content-start d-flex align-items-start">
										<span class="bar">
											<span class="inner" style="width: <%= rating_ac.to_i %>%;"></span>
										</span>
										<span class="clear-rating ml-3 <%= (rating_ac.nil? || rating_ac == '') ? 'faded' : '' %>"><%= readable_article_rating(rating_ac) %></span>
									</span>
								</li>
							</ul>
							<a href="#" ng-click="viewRatingHistory($event)" class="text-green d-block pt-2 pb-1">
								<%= pluralize(@article.shares.where(share_type: 'rating').size, 'rating') %> - view all
							</a>
						<% else %>
						<p class="mb-0">This article has not been rated yet. <a href='#' class="text-green" ng-click="openSharingPanel($event, 'rate')">Be the first person to rate this article</a>.</p>
						<% end %>

						<% if user_signed_in? && current_user.existing_article_rating(@article) %>
							<div class="your_rating">
								<h5>Your rating</h5>

								<ul class="dots">
									<li class="mb-2">
										<label>Well argued: </label>
										<div class="justify-content-start d-flex align-items-start">
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = convert_rating_to_dots(@article_share['rating_well_written']) >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:well_written, convert_rating_to_dots(@article_share['rating_well_written']).to_s) %>
											</h6>
										</div>
									</li>
									<li class="mb-2">
										<label>Interesting points: </label>
										<div class="justify-content-start d-flex align-items-start">
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = convert_rating_to_dots(@article_share['rating_valid_points']) >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:valid_points, convert_rating_to_dots(@article_share['rating_valid_points']).to_s) %>
											</h6>
										</div>
									</li>
									<li class="mb-2">
										<label>Agree with arguments: </label>
										<div class="justify-content-start d-flex align-items-start">
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = convert_rating_to_dots(@article_share['rating_agree']) >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:agree, convert_rating_to_dots(@article_share['rating_agree']).to_s) %>
											</h6>
										</div>
									</li>
								</ul>
							</div>
						<% end %>
					</div>
					<% end %>

					<footer class="container px-4 mt-3 mb-4">
						<div class="w-100" id="twitter_follow_col">
							<% unless @article.is_sponsored? %>
								<% if user_signed_in? && current_user.existing_article_rating(@article) %>
									<a class="rate_this d-block text-black btn btn-success text-white text-case-inherit"
											href="#" ng-click="openSharingPanel($event, 'rerate')">
												<span class="ml-2">Re-rate this article</span>
									</a>
								<% else %>
										<a class="rate_this d-block text-black btn btn-success text-white text-case-inherit"
											href="#" ng-click="openSharingPanel($event, 'rate')">
												<span class="ml-2">Rate this article</span>
										</a>
								<% end %>
							<% end %>
						</div>
						<div class="mt-3 d-flex share_links">
							<%= render partial: 'common/share-buttons', locals: { article: @article } %>
						</div>
					</footer><!-- .entry-footer -->


					<% if @article.keyword_tags.exclude_special.any? %>
						<h2 class="bullet underline mb-3">Filed under</h2>
						<% @article.keyword_tags.exclude_special.each do |tag| %>
								<a href="<%= search_path(query: tag.name.capitalize) %>" class="tag gabriela"><%= tag.name.capitalize %></a>
						<% end %>
					<% end %>
				</div>
			</div>
		</article>
	</div>

	<% unless @article.is_sponsored? %>
		<% if @exchange_for_more.present? %>
		<div id="more_on_exchange">
			<% listings_heading = @exchange_for_more.is_editor_item? ? "More #{@exchange_for_more.name}" : "More on #{@exchange_for_more.name}" %>
			<%=
				render partial: 'articles/listings', locals: {
					block_id: 'exchangeArticles',
					title: listings_heading,
					is_editor_exchange: @exchange_for_more.is_editor_item?
				}
			%>
			<div class="ajax_loading exchange_articles" ng-show="exchangeArticles.loading">Loading articles</div>
		</div>
		<% end %>
	<% end %>

	<%= if @trending_exchanges.any?
		render partial: 'carousels/trending-exchanges', locals: { exchanges: @trending_exchanges }
	end %>


	<div class="container pb-5 mt-4" id="most_read_articles">
		<h2 class="bullet underline">Latest articles</h2>
		<% @trending_articles.each do |ta| %>
			<article class="row mt-3 pl-1<%= ta.is_sponsored? ? ' sponsored_article' : '' %>">
				<div class="col-12">
					<% if(ta.is_sponsored?) %>
						<a href='/sponsors' class="sponsored">
							<i class="fas fa-star"></i>
							SPONSORED
						</a>
					<% end %>
					<h5 class="">
						<a href="<%= article_path(ta) %>">
							<%= ta.title.html_safe %>
						</a>
					</h5>
					<% footerPaddingBottom = ta.is_sponsored? ? 'pb-2' : 'pb-0' %>
					<footer class="entry-footer pl-0 pb-0 pt-1 <%= footerPaddingBottom %>">
						<p class="author_link">
							<a href="<%= contributor_path(slug: ta.author.slug) %>">
								by <span><%= ta.author.display_name %></span>
							</a>&nbsp;
							<span class="entry-date">
								<%= article_date(ta) %>
							</span>
						</p>
					</footer>
				</div>
			</article>
		<% end %>
	</div>

	<div class="ads_box single_mpu mx-auto align-middle text-center mb-4">
		<% if show_ads? %>
			<!-- /<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/bottomsidecolumn -->
			<div id='div-gpt-ad-<%= ad_page_id %>-0'>
				<script>
					googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-0'); });
				</script>
			</div>
		<% end %>
	</div>
</section>

<% if user_signed_in? %>
<script id="sharingPanel" type="script/x-mustache">
	<%= render partial: 'articles/sharing-panel_modal', locals: { article: @article, article_share: @article_share } %>
</script>
<% end %>

<% if !user_signed_in? && !cookies[:shown_registration_interstitial] %>
	<% cookies[:shown_registration_interstitial] = { :value => true, :expires => 24.hours.from_now } %>
	<script id="registerInterstitial" type="script/x-mustache">
	  <%= render partial: 'promotional/register_modal' %>
	</script>
<% end %>

<% if Rails.env.production? %>
	<!-- Start of Bibblio RCM includes -->
	<link rel="stylesheet" type="text/css" href="https://cdn.bibblio.org/rcm/4.4/bib-related-content.min.css">
	<script src="https://cdn.bibblio.org/rcm/4.4/bib-related-content.min.js"></script>
	<script id="bib--rcm-src" src="file://X:/related-content-module-source/public/js/bib-related-content.js"
	data-auto-ingestion="true"
	data-recommendation-key="3421f3c9-67e5-4da5-9c8e-c3b5eddecce1"
	data-custom-unique-identifier="<%= @article.slug %>"></script>
	<!-- End of Bibblio RCM includes -->
<% end %>