<% page_title @article.title %>
<% meta_tag :description, truncate(sanitize(@article.meta_description), length: 120) %>
<% if @article.image? %>
	<% meta_tag :image, @article.image.url %>
<% end %>

<section ng-controller="ArticleController">
	<div class="container mt-md-4 mb-3 mb-md-2">
		<article id="post-<%= @article.id %>" class="article_detail">
			<header class="entry-header">
				<p id="article_exchanges">
					<%= render partial: 'common/exchange-badges', locals: { article: @article } %>
				</p>
				<h1 class="entry-title mt-4"><%= @article.title.html_safe %></h1>

				<div id="article_meta" class="mt-0 mt-lg-2 mb-md-3 px-3 d-flex justify-content-between">
					<div class="pr-0 pr-md-0 pr-lg-3 author_link row">
						<a id="article_author_thumbnail" href="<%= article_author_url(@article) %>" class="d-block mr-2 mr-md-2 mr-lg-3">
							<% if @article.author.image? %>
								<img src="<%= @article.author.image.url(:detail) %>" alt="<%= @article.author.display_name %>" />
							<% end %>
						</a>

						<a href="<%= article_author_url(@article); %>">by <span>
						<%= @article.author.display_name %></span></a>
						<% if @article.author.user.present? %>
							<span class="ml-1 ml-md-2 ml-xl-3 mr-0">|</span>
							 <a href="<%= profile_path(slug: @article.author.user.slug) %>" class="article_author_user">
									<img src="<%= asset_url('capital-a-bg-black.png') %>" alt="The Article" />
									<span><%= @article.author.user.username %></span>
								</a>
						<% end %>
						<% if @article.author.twitter_handle %>
							<span class="ml-1 ml-md-2 ml-xl-3 mr-0">|</span>
							 <a href="https://twitter.com/<%= @article.author.twitter_handle %>" target="_blank" class="">
									<i class="text-colour-2 fab fa-twitter mr-md-1 ml-1 ml-md-2 ml-xl-3"></i>
									<span><%= @article.author.twitter_handle %></span>
								</a>
						<% end %>

						<span class="mx-1 mx-md-2 mx-xl-3">|</span>
						<span class="entry-date"><%= article_date(@article) %></span>
					</div>

					<div class="d-none d-lg-flex share_links">
						<%= render partial: 'common/share-buttons', locals: { article: @article } %>
					</div>
				</div>

			</header>

			<div class="row">
				<div class="col-12 col-lg-8 pr-lg-0 pb-5 mb-2" id="content_bar">
					<% unless @article.is_sponsored? %>
					<div class="member_ratings pt-2 pb-2 px-3">
						<h5>Member ratings</h5>
						<% if @article.has_ratings? %>
						<ul class="d-flex w-100 justify-content-between">
							<li>Well written: <span class="rating"><%= readable_article_rating(@article.ratings_well_written_cache) %></span></li>
							<li>Interesting points: <span class="rating"><%= readable_article_rating(@article.ratings_valid_points_cache) %></span></li>
							<li>Agree with arguments: <span class="rating"><%= readable_article_rating(@article.ratings_agree_cache) %></span></li>
						</ul>
						<% else %>
						<p class="mb-0">This article has not been rated yet. <a href='#' class="text-green" ng-click="openSharingPanel($event, 'rate')">Be the first person to rate this article</a>.</p>
						<% end %>
					</div>
					<% end %>

					<div id="img_box" class="mb-4">
						<% if @article.image? %>
							<img src="<%= @article.image.url(:cover_desktop) %>" alt="<%= @article.title.html_safe %>" class="w-100" />
							<p class="caption">
								<%= @article.image_caption %>
							</p>
						<% end %>
					</div>

					<div id="content_box">
						<% if show_ads? %>
							<%= adified_content(@article) %>
						<% else %>
							<%= @article.content.html_safe %>
						<% end %>
					</div>

					<% unless @article.is_sponsored? %>
					<div class="member_ratings bars pt-3 pb-2 px-3">
						<h5>Member ratings</h5>
						<% if @article.has_ratings? %>
						<ul class="bars">
							<li class="row justify-content-start d-flex align-items-start mb-2">
								<span class="col-4 text">Well written: </span>
								<span class="bar col-6">
									<span class="inner" style="width: <%= @article.ratings_well_written_cache.to_i %>%;"></span>
								</span>
								<span class="col-2 clear-rating"><%= readable_article_rating(@article.ratings_well_written_cache) %></span>
							</li>
							<li class="row justify-content-start d-flex align-items-start mb-2">
								<span class="col-4 text">Interesting points: </span>
								<span class="bar col-6">
									<span class="inner" style="width: <%= @article.ratings_valid_points_cache.to_i %>%;"></span>
								</span>
								<span class="col-2 clear-rating"><%= readable_article_rating(@article.ratings_valid_points_cache) %></span>
							</li>
							<li class="row justify-content-start d-flex align-items-start mb-2">
								<span class="col-4 text">Agree with arguments: </span>
								<span class="bar col-6">
									<span class="inner" style="width: <%= @article.ratings_agree_cache.to_i %>%;"></span>
								</span>
								<span class="col-2 clear-rating"><%= readable_article_rating(@article.ratings_agree_cache) %></span>
							</li>
						</ul>
						<% else %>
						<p class="mb-0">This article has not been rated yet. <a href='#' class="text-green" ng-click="openSharingPanel($event, 'rate')">Be the first person to rate this article</a>.</p>
						<% end %>

						<% if user_signed_in? && current_user.existing_article_rating(@article) %>
							<div class="your_rating">
								<h5>Your rating</h5>

								<ul class="dots">
									<li class="mb-2">
										<div class="justify-content-start d-flex align-items-start">
											<label class="mr-4">Well written: </label>
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = convert_rating_to_dots(@article_share['rating_well_written']) >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:well_written, convert_rating_to_dots(@article_share['rating_well_written']).to_s) %>
											</h6>
										</div>
									</li>
									<li class="mb-2">
										<div class="justify-content-start d-flex align-items-start">
											<label class="mr-4">Interesting points: </label>
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = convert_rating_to_dots(@article_share['rating_valid_points']) >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:valid_points, convert_rating_to_dots(@article_share['rating_valid_points']).to_s) %>
											</h6>
										</div>
									</li>
									<li class="mb-2">
										<div class="justify-content-start d-flex align-items-start">
											<label class="mr-4">Agree with arguments: </label>
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = convert_rating_to_dots(@article_share['rating_agree']) >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:agree, convert_rating_to_dots(@article_share['rating_agree']).to_s) %>
											</h6>
										</div>
									</li>
								</ul>
							</div>
						<% end %>
					</div>
					<% end %>

					<footer class="entry-footer pl-0 mt-5 d-flex justify-content-between">
						<% unless @article.is_sponsored? %>
						<div class="" id="twitter_follow_col">
							<% if user_signed_in? && current_user.existing_article_rating(@article) %>
								<a class="rate_this d-block text-black btn btn-success text-white text-case-inherit"
										href="#" ng-click="openSharingPanel($event, 'rerate')">
											<span class="ml-2">Re-rate this article</span>
								</a>
							<% else %>
									<a class="rate_this d-block text-black btn btn-success text-white text-case-inherit"
										href="#" ng-click="openSharingPanel($event, 'rate')">
											<span class="ml-2">Rate this article</span>
									</a>
							<% end %>
						</div>
						<% end %>
						<div class="pl-lg-5 d-flex share_links">
							<%= render partial: 'common/share-buttons', locals: { article: @article } %>
						</div>
					</footer>

					<hr />

					<% if @sponsored_picks.any? %>
					<div id="featured_articles_content_bar" class="mt-5" style="display: none;">
						<h1 class="bullet underline">Sponsored picks</h1>
						<div class="row">
							<% @sponsored_picks.each do |sp| %>
								<%= render partial: 'articles/item', locals: { article: sp } %>
							<% end %>
						</div>
					</div>
					<% end %>

				</div>

				<div class="col-12 col-md-0 col-lg-4" id="sidebar">
					<div class="sidebar_inner mt-0">
						<div class="ads_box mx-auto align-middle">
							<% if show_ads? %>
								<!-- /21757645549/thearticle_<%= ad_page_type %>/<%= @firstSideAdType %> -->
								<div id='div-gpt-ad-<%= ad_page_id %>-<%= @firstSideAdSlot %>'>
									<script>
										googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-<%= @firstSideAdSlot %>'); });
									</script>
								</div>
							<% end %>
						</div>
					</div>

					<div class="sidebar_inner" id="most_read_articles">
						<h2 class="bullet underline">Trending articles</h2>
						<% @trending_articles.each do |ta| %>
							<article class="row mt-3 pl-1<%= ta.is_sponsored? ? ' sponsored_article' : '' %>">
								<div class="col-12">
									<% if(ta.is_sponsored?) %>
										<a href='/sponsors' class="sponsored">
											<i class="fas fa-star"></i>
											SPONSORED
										</a>
									<% end %>
									<h5 class="">
										<a href="<%= article_path(ta) %>">
											<%= ta.title.html_safe %>
										</a>
									</h5>
									<% footerPaddingBottom = ta.is_sponsored? ? 'pb-2' : 'pb-0' %>
									<footer class="entry-footer pl-0 pb-0 pt-1 <%= footerPaddingBottom %>">
										<p class="author_link">
											<a href="<%= contributor_path(slug: ta.author.slug) %>">
												by <span><%= ta.author.display_name %></span>
											</a>&nbsp;
											<span class="entry-date">
												<%= article_date(ta) %>
											</span>
										</p>
									</footer>
								</div>
							</article>
						<% end %>
					</div>

					<div class="sidebar_inner">
						<div class="ads_box mx-auto align-middle">
							<% if show_ads? %>
								<!-- /21757645549/thearticle_<%= ad_page_type %>/<%= @secondSideAdType %> -->
								<div id='div-gpt-ad-<%= ad_page_id %>-<%= @secondSideAdSlot %>'>
									<script>
										googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-<%= @secondSideAdSlot %>'); });
									</script>
								</div>
							<% end %>
						</div>
					</div>

					<% tags = @article.keyword_tags.exclude_special.to_a %>
					<% if tags.any? %>
						<div class="sidebar_inner">
							<h2 class="bullet underline">Filed under</h2>
							<% tags.each do |tag| %>
									<a href="<%= search_path(query: tag.name.capitalize) %>" class="tag gabriela"><%= tag.name.capitalize %></a>
							<% end %>
						</div>
					<% end %>

					<% if @sponsored_picks.any? %>
					<div class="sidebar_inner" id="featured_articles_sidebar">
						<h2 class="bullet underline" style="display: none;">Sponsored picks</h2>
						<div class="row">
							<% @sponsored_picks.each do |sp| %>
								<%= render partial: 'articles/sponsored-item-for-sidebar', locals: { article: sp } %>
							<% end %>
						</div>
					</div>
					<% end %>

				</div>
			</div>
		</article>
	</div>

	<% if @articles_in_same_exchange.any? %>
		<% listings_heading = @exchange_for_more.is_editor_item? ? "More from #{@exchange_for_more.name}" : "More on #{@exchange_for_more.name}" %>
		<div id="article_more_on" class="mb-5 bg-grey py-4 py-md-5">
			<div class="container">
				<h2 class="h1 bullet mb-2 mb-md-3"><%= listings_heading %></h2>
				<div class="row">
					<% @articles_in_same_exchange.each do |article| %>
						<article class="article-listing post col-12 col-md-6 col-lg-4 post hoveraction block_click"
										data-href="">
							<div class="inner">
								<div class="img_mask">
									<% if article.is_newly_published? %>
										<div ng-if="article.isNew" class="new_article"><span>New</span></div>
									<% end %>

									<a href="<%= article_path(article) %>">
										<img src="<%= article.image.url(:cover_desktop) %>" alt="<%= article.title.html_safe %>" />
									</a>
								</div>

								<% article.exchanges.each_with_index do |e, i| %>
									<a href="<%= exchange_badge_url(e) %>" class="exchange-badge bg-colour-<%= i+1 %>-dark exchange-<%= e.slug %>">
									  <%= e.name %>
									</a>
								<% end %>

								<header class="entry-header pt-0 px-3">
									<h4 class="entry-title mb-0"><a href="%s" rel="bookmark">
										<a href="<%= article_path(article) %>"><%= article.title.html_safe %></a>
									</a>
								</header>

								<div class="entry-content py-0 px-3">
									<%= article_excerpt_for_listing(article).html_safe %>
								</div>

								<footer class="entry-footer pt-1 px-3 pb-2">
									<p class="author_link"><a href="<%= contributor_path(slug: article.author.slug) %>">by <span>
										<%= article.author.display_name %></span></a> <span class="entry-date"><%= article_date(article) %></span></p>
								</footer>
							</div>
						</article>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>

	<%= render partial: 'carousels/trending-exchanges', locals: { exchanges: @trending_exchanges } %>
</section>

<% if user_signed_in? %>
<script id="sharingPanel" type="script/x-mustache">
	<%= render partial: 'articles/sharing-panel_modal', locals: { article: @article, article_share: @article_share } %>
</script>
<% end %>