<% page_title @article.title %>
<% meta_tag :description, truncate(sanitize(@article.meta_description), length: 120) %>
<% if @article.image? %>
	<% meta_tag :image, @article.image.url %>
<% end %>

<% if flash[:notice] %>
<div id="flash_notice" class="d-none">
	<%= flash[:notice].html_safe %>
</div>
<% end %>

<section ng-controller="ArticleController"
						data-signed-in="<%= user_signed_in? ? 1 : 0 %>"
						data-profile-deactivated="<%= user_signed_in? ? (current_user.profile_is_deactivated? ? 1 : 0) : 0 %>"
						data-profile-incomplete="<%= user_signed_in? ? (current_user.has_completed_wizard ? 0 : 1) : 0 %>"
						data-article-id="<%= @article.id %>"
						data-exchange-id-for-more="<%=  @exchange_for_more.present? ? @exchange_for_more.slug : '' %>"
						data-per-page="<%= more_on_articles_per_page %>">
	<div class="container mt-md-4 mb-3 mb-md-2">
		<article id="post-<%= @article.id %>" class="article_detail">
			<header class="entry-header">
				<p id="article_exchanges">
					<%= render partial: 'common/exchange-badges', locals: { article: @article } %>
				</p>
				<h1 class="entry-title mt-4"><%= @article.title.html_safe %></h1>

				<div id="article_meta" class="mt-0 mt-lg-2 mb-md-3 px-3 d-flex justify-content-between">
					<div class="pr-0 pr-md-0 pr-lg-3 author_link row">
						<a id="article_author_thumbnail" href="<%= article_author_url(@article) %>" class="d-block mr-2 mr-md-2 mr-lg-3">
							<% if @article.author.image? %>
								<img src="<%= @article.author.image.url(:detail) %>" alt="<%= @article.author.display_name.html_safe %>" />
							<% end %>
						</a>

						<a href="<%= article_author_url(@article); %>">by <span>
						<%= @article.author.display_name.html_safe %></span></a>
						<% if @article.author.user.present? %>
							<span class="ml-1 ml-md-2 ml-xl-3 mr-0">|</span>
							 <a href="<%= profile_path(slug: @article.author.user.slug) %>" class="article_author_user">
									<img src="<%= asset_url('capital-a-bg-black.png') %>" alt="The Article" />
									<span><%= @article.author.user.username %></span>
								</a>
						<% end %>
						<% if @article.author.twitter_handle.present? %>
							<span class="ml-1 ml-md-2 ml-xl-3 mr-0">|</span>
							 <a href="https://twitter.com/<%= @article.author.twitter_handle %>" target="_blank" class="">
									<i class="text-colour-2 fab fa-twitter mr-md-1 ml-1 ml-md-2 ml-xl-3"></i>
									<span><%= @article.author.twitter_handle %></span>
								</a>
						<% end %>

						<span class="mx-1 mx-md-2 mx-xl-3">|</span>
						<span class="entry-date"><%= article_date(@article) %></span>
					</div>

					<div class="d-none d-lg-flex share_links">
						<%= render partial: 'common/share-buttons', locals: { article: @article } %>
					</div>
				</div>

			</header>

			<div class="row">
				<div class="col-12 col-lg-8 pr-lg-0" id="content_bar">
					<% unless @article.is_sponsored? %>
					<div class="member_ratings pt-2 pb-2 px-3">
						<h5>Member ratings</h5>
						<% if @article.has_ratings? %>
						<ul class="d-flex w-100 justify-content-between">
							<li>Well argued:
								<% rating_wwc = @article.ratings_well_written_cache %>
								<span class="rating <%= (rating_wwc.nil? || rating_wwc == '') ? 'faded' : '' %>">
									<%= readable_article_rating(rating_wwc) %>
								</span>
							</li>
							<li>Interesting points:
								<% rating_vpc = @article.ratings_valid_points_cache %>
								<span class="rating <%= (rating_vpc.nil? || rating_vpc == '') ? 'faded' : '' %>">
									<%= readable_article_rating(rating_vpc) %>
								</span>
							</li>
							<li>Agree with arguments:
								<% rating_ac = @article.ratings_agree_cache %>
								<span class="rating <%= (rating_ac.nil? || rating_ac == '') ? 'faded' : '' %>">
									<%= readable_article_rating(rating_ac) %>
								</span>
							</li>
						</ul>

						<a href="#" ng-click="viewRatingHistory($event)" class="text-green d-block pt-3 pb-1">
							<%= pluralize(@article.shares.where(share_type: 'rating').size, 'rating') %> - view all
						</a>

						<% else %>
						<p class="mb-0">This article has not been rated yet. <a href='#' class="text-green" ng-click="openSharingPanel($event, 'rate')">Be the first person to rate this article</a>.</p>
						<% end %>
					</div>
					<% end %>

					<div id="img_box" class="mb-4">
						<% if @article.image? %>
							<img src="<%= @article.image.url(:cover_desktop) %>" alt="<%= @article.title.html_safe %>" class="w-100" />
							<% if @article.image_caption %>
								<p class="caption">
									<%= @article.image_caption.html_safe %>
								</p>
							<% end %>
						<% end %>
					</div>

					<div id="content_box">
						<% if show_ads? %>
							<%= remote_linkify(adified_content(@article), request.base_url) %>
						<% else %>
							<%= remote_linkify(@article.content, request.base_url) %>
						<% end %>
					</div>

					<% unless @article.is_sponsored? %>
					<div class="member_ratings bars pt-3 pb-2 px-3">
						<h5>Member ratings</h5>
						<% if @article.has_ratings? %>
							<ul class="bars">
								<li class="row justify-content-start d-flex align-items-start mb-2">
									<span class="col-4 text">Well argued: </span>
									<span class="bar col-6">
										<span class="inner" style="width: <%= rating_wwc.to_i %>%;"></span>
									</span>
									<span class="col-2 clear-rating <%= (rating_wwc.nil? || rating_wwc == '') ? 'faded' : '' %>"><%= readable_article_rating(rating_wwc) %></span>
								</li>
								<li class="row justify-content-start d-flex align-items-start mb-2">
									<span class="col-4 text">Interesting points: </span>
									<span class="bar col-6">
										<span class="inner" style="width: <%= rating_vpc.to_i %>%;"></span>
									</span>
									<span class="col-2 clear-rating <%= (rating_vpc.nil? || rating_vpc == '') ? 'faded' : '' %>"><%= readable_article_rating(rating_vpc) %></span>
								</li>
								<li class="row justify-content-start d-flex align-items-start mb-2">
									<span class="col-4 text">Agree with arguments: </span>
									<span class="bar col-6">
										<span class="inner" style="width: <%= rating_ac.to_i %>%;"></span>
									</span>
									<span class="col-2 clear-rating <%= (rating_ac.nil? || rating_ac == '') ? 'faded' : '' %>"><%= readable_article_rating(rating_ac) %></span>
								</li>
							</ul>
							<a href="#" ng-click="viewRatingHistory($event)" class="text-green d-block pt-3 pb-1">
								<%= pluralize(@article.shares.where(share_type: 'rating').size, 'rating') %> - view all
							</a>
						<% else %>
						<p class="mb-0">This article has not been rated yet. <a href='#' class="text-green" ng-click="openSharingPanel($event, 'rate')">Be the first person to rate this article</a>.</p>
						<% end %>

						<% if user_signed_in? && current_user.existing_article_rating(@article) %>
							<div class="your_rating">
								<h5>Your rating</h5>

								<ul class="dots">
									<li class="mb-2">
										<div class="justify-content-start d-flex align-items-start">
											<label class="mr-4">Well argued: </label>
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = convert_rating_to_dots(@article_share['rating_well_written']) >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:well_written, convert_rating_to_dots(@article_share['rating_well_written']).to_s) %>
											</h6>
										</div>
									</li>
									<li class="mb-2">
										<div class="justify-content-start d-flex align-items-start">
											<label class="mr-4">Interesting points: </label>
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = convert_rating_to_dots(@article_share['rating_valid_points']) >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:valid_points, convert_rating_to_dots(@article_share['rating_valid_points']).to_s) %>
											</h6>
										</div>
									</li>
									<li class="mb-2">
										<div class="justify-content-start d-flex align-items-start">
											<label class="mr-4">Agree with arguments: </label>
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = convert_rating_to_dots(@article_share['rating_agree']) >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:agree, convert_rating_to_dots(@article_share['rating_agree']).to_s) %>
											</h6>
										</div>
									</li>
								</ul>
							</div>
						<% end %>
					</div>
					<% end %>

					<footer class="entry-footer pl-0 mt-5 d-flex justify-content-between">
						<div class="" id="twitter_follow_col">
							<% unless @article.is_sponsored? %>
								<% if user_signed_in? && current_user.existing_article_rating(@article) %>
									<a class="rate_this d-block text-black btn btn-success text-white text-case-inherit"
											href="#" ng-click="openSharingPanel($event, 'rerate')">
												<span class="ml-2">Re-rate this article</span>
									</a>
								<% else %>
										<a class="rate_this d-block text-black btn btn-success text-white text-case-inherit"
											href="#" ng-click="openSharingPanel($event, 'rate')">
												<span class="ml-2">Rate this article</span>
										</a>
								<% end %>
							<% end %>
						</div>
						<div class="pl-lg-5 d-flex share_links">
							<%= render partial: 'common/share-buttons', locals: { article: @article } %>
						</div>
					</footer>

					<hr />

					<% if @sponsored_picks.any? %>
					<div id="featured_articles_content_bar" class="mt-5" style="display: none;">
						<h2 class="h1 bullet underline">Sponsored picks</h2>
						<div class="row">
							<% @sponsored_picks.each do |sp| %>
								<%= render partial: 'articles/sponsored-item', locals: { article: sp } %>
							<% end %>
						</div>
					</div>
					<% end %>

				</div>

				<div class="col-12 col-md-0 col-lg-4" id="sidebar">
					<div class="sidebar_inner mt-0">
						<div class="ads_box mx-auto align-middle">
							<% if show_ads? %>
								<!-- /<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/<%= @firstSideAdType %> -->
								<div id='div-gpt-ad-<%= ad_page_id %>-<%= @firstSideAdSlot %>'>
									<script>
										googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-<%= @firstSideAdSlot %>'); });
									</script>
								</div>
							<% end %>
						</div>
					</div>

					<div class="sidebar_inner" id="most_read_articles">
						<h2 class="bullet underline">Latest articles</h2>
						<% @trending_articles.each do |ta| %>
							<article class="row mt-3 pl-1<%= ta.is_sponsored? ? ' sponsored_article' : '' %>">
								<div class="col-12">
									<% if(ta.is_sponsored?) %>
										<a href='/sponsors' class="sponsored">
											<i class="fas fa-star"></i>
											SPONSORED
										</a>
									<% end %>
									<h5 class="">
										<a href="<%= article_path(ta) %>">
											<%= ta.title.html_safe %>
										</a>
									</h5>
									<% footerPaddingBottom = ta.is_sponsored? ? 'pb-3' : 'pb-0' %>
									<footer class="entry-footer pl-0 pb-0 pt-1 <%= footerPaddingBottom %>">
										<p class="author_link">
											<a href="<%= contributor_path(slug: ta.author.slug) %>">
												by <span><%= ta.author.display_name %></span>
											</a>&nbsp;
											<span class="entry-date">
												<%= article_date(ta) %>
											</span>
										</p>
									</footer>
								</div>
							</article>
						<% end %>
					</div>

					<div class="sidebar_inner">
						<div class="ads_box mx-auto align-middle">
							<% if show_ads? %>
								<!-- /<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/<%= @secondSideAdType %> -->
								<div id='div-gpt-ad-<%= ad_page_id %>-<%= @secondSideAdSlot %>'>
									<script>
										googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-<%= @secondSideAdSlot %>'); });
									</script>
								</div>
							<% end %>
						</div>
					</div>

					<% tags = @article.keyword_tags.exclude_special.to_a %>
					<% if tags.any? %>
						<div class="sidebar_inner">
							<h2 class="bullet underline">Filed under</h2>
							<% tags.each do |tag| %>
									<a href="<%= search_path(query: tag.name) %>" class="tag gabriela"><%= tag.name %></a>
							<% end %>
						</div>
					<% end %>

					<% if @sponsored_picks.any? %>
					<div class="sidebar_inner" id="featured_articles_sidebar">
						<h2 class="bullet underline" style="display: none;">Sponsored picks</h2>
						<div class="row">
							<% @sponsored_picks.each_with_index do |sp, i| %>
								<%= render partial: 'articles/sponsored-item-for-sidebar', locals: { article: sp, counter: i+1 } %>
							<% end %>
						</div>
					</div>
					<% end %>

				</div>
			</div>
		</article>
	</div>

	<% unless @article.is_sponsored? || is_development? %>
		<div class="container pb-1">
			<h2 class="h1 bullet mb-2 mb-md-3">You may also like</h2>
			<div class="bib--rcm-init"
			  data-recommendation-key="3421f3c9-67e5-4da5-9c8e-c3b5eddecce1"
			  data-style-classes="bib--recency-show bib--grd-6 bib--split bib--wide bib--font-arial bib--author-show bib--hover"
			  data-query-string-params="utm_source=bibblio_widget_1">
			</div>
		</div>
	<% end %>

	<%= render partial: 'carousels/trending-exchanges', locals: { exchanges: @trending_exchanges } %>
</section>

<% if user_signed_in? %>
<script id="sharingPanel" type="script/x-mustache">
	<%= render partial: 'articles/sharing-panel_modal', locals: { article: @article, article_share: @article_share } %>
</script>
<% end %>

<% if !user_signed_in? && !cookies[:shown_registration_interstitial] %>
	<% cookies[:shown_registration_interstitial] = { :value => true, :expires => 24.hours.from_now } %>
	<script id="registerInterstitial" type="script/x-mustache">
	  <%= render partial: 'promotional/register_modal' %>
	</script>
<% end %>

<% unless is_development? %>
	<!-- Start of Bibblio RCM includes -->
	<link rel="stylesheet" type="text/css" href="https://cdn.bibblio.org/rcm/4.4/bib-related-content.min.css">
	<script src="https://cdn.bibblio.org/rcm/4.4/bib-related-content.min.js"></script>
	<script id="bib--rcm-src" src="file://X:/related-content-module-source/public/js/bib-related-content.js"
	data-auto-ingestion="true"
	data-recommendation-key="3421f3c9-67e5-4da5-9c8e-c3b5eddecce1"
	data-custom-unique-identifier="<%= @article.slug %>"></script>
	<!-- End of Bibblio RCM includes -->
<% end %>