<% page_title @article.title %>
<% meta_tag :description, truncate(@article.meta_description, length: 120) %>
<% if @article.featured_image %>
	<% meta_tag :image, @article.featured_image.url %>
<% end %>

<div class="container mt-md-4 mb-3 mb-md-2">
	<article id="post-<%= @article.id %>" class="article_detail">
		<header class="entry-header">
			<%= render partial: 'layouts/exchange-badges', locals: { article: @article } if @article.exchanges.any? %>
			<h1 class="entry-title mt-4"><%= @article.title %></h1>

			<div id="article_meta" class="mt-0 mt-lg-2 mb-md-3 row px-3">
				<div class="col-12 col-lg-6 pr-0 pr-md-0 pr-lg-3 author_link row">
					<a id="article_author_thumbnail" href="<%= article_author_url(@article) %>" class="d-block mr-2 mr-md-2 mr-lg-3">
						<img src="<%= @article.author.image_url %>" alt="<%= @article.author.display_name %>" />
					</a>

					<a href="<%= article_author_url(@article); %>">by <span>
					<%= @article.author.display_name %></span></a>
					<% if @article.author.twitter_handle %>
						<span class="ml-1 ml-md-2 ml-xl-3 mr-0">|</span>
						 <a href="https://twitter.com/<%= @article.author.twitter_handle %>" target="_blank" class="">
								<i class="text-colour-2 fab fa-twitter mr-md-1 ml-1 ml-md-2 ml-xl-3"></i>
								<span><%= @article.author.twitter_handle %></span>
							</a>
					<% end %>

					<span class="mx-1 mx-md-2 mx-xl-3">|</span>
					<span class="entry-date"><%= article_date(@article) %></span>
				</div>
				<div class="d-none d-xl-flex col-xl-1">&nbsp;</div>
				<div class="d-none d-lg-flex col-lg-6 col-xl-5 share_links">
					<%= render 'layouts/share-buttons' %>
				</div>
			</div>
		</header>
	</article>
</div>