<% page_title @article.title %>
<% meta_tag :description, truncate(@article.meta_description, length: 120) %>
<% if @article.image? %>
	<% meta_tag :image, @article.image.url %>
<% end %>

<section ng-controller="ArticleController">
	<div class="container mb-3">
		<article id="post-<%= @article.id %>" class="article_detail">
			<header class="entry-header">
				<p id="article_exchanges">
					<%= render partial: 'common/exchange-badges', locals: { article: @article } if @article.exchanges.any? %>
				</p>
				<h1 class="entry-title mt-4"><%= @article.title.html_safe %></h1>

				<div id="article_meta" class="mt-0 row px-3 pb-4">
					<div class="col-12 pr-0 author_link row">
						<a id="article_author_thumbnail" href="<%= article_author_url(@article) %>" class="d-block mr-2 ">
							<img src="<%= @article.author.image_url %>" alt="<%= @article.author.display_name %>" />
						</a>

						<a href="<%= article_author_url(@article); %>">by <span>
						<%= @article.author.display_name %></span></a>
						<% if @article.author.twitter_handle %>
							<span class="ml-1  ml-xl-3 mr-0">|</span>
							 <a href="https://twitter.com/<%= @article.author.twitter_handle %>" target="_blank" class="">
									<i class="text-colour-2 fab fa-twitter  ml-1  ml-xl-3"></i>
									<span><%= @article.author.twitter_handle %></span>
								</a>
						<% end %>

						<span class="mx-1  mx-xl-3">|</span>
						<span class="entry-date"><%= @article.author.twitter_handle %></span>
					</div>
				</div>

				<div class="mt-0 mb-3 d-flex share_links">
					<%= render 'common/share-buttons' %>
				</div>

				<div class="member_ratings pt-2 pb-2 px-3 mb-2">
					<h5>Member ratings</h5>
					<% if @article.ratings %>
					<ul class="">
						<li class="row justify-content-start d-flex align-items.start mb-2">
							<span class="col-10 text">Well written: </span>
							<span class="col-2 rating"><%= @article.ratings[:well_written] %></span>
						</li>
						<li class="row justify-content-start d-flex align-items.start mb-2">
							<span class="col-10 text">Interesting points: </span>
							<span class="col-2 rating"><%= @article.ratings[:valid_points] %></span>
						</li>
						<li class="row justify-content-start d-flex align-items.start mb-2">
							<span class="col-10 text">Agree with arguments: </span>
							<span class="col-2 rating"><%= @article.ratings[:agree] %></span>
						</li>
					</ul>
					<% else %>
					<p class="mb-0">This article has not been rated yet. <a href='#' class="text-green" ng-click="openSharingPanel($event, 'rate')">Be the first person to rate this article</a>.</p>
					<% end %>
				</div>
			</header>

			<div class="row">
				<div class="col-12 pb-3 mb-2">
					<div id="img_box" class="mb-4">
						<% if @article.image? %>
							<img src="<%= @article.image.url(:cover_desktop) %>" alt="<%= @article.title.html_safe %>" class="w-100" />
							<p class="caption">
								<%= @article.image_caption %>
							</p>
						<% end %>
					</div>

					<div id="content_box">
						<% if show_ads? %>
							<%= adified_content(@article) %>
						<% else %>
							<%= simple_format @article.content.html_safe %>
						<% end %>
					</div>

					<div class="member_ratings bars pt-3 pb-2 px-3">
						<h5>Member ratings</h5>
						<% if @article.ratings %>
						<ul class="bars">
							<li class="mb-2">
								<label>Well written: </label>
								<span class="justify-content-start d-flex align-items-start">
									<span class="bar">
										<span class="inner" style="width: <%= @article.ratings[:well_written] %>;"></span>
									</span>
									<span class="clear-rating ml-3"><%= @article.ratings[:well_written] %></span>
								</span>
							</li>
							<li class="mb-2">
								<label>Interesting points: </label>
								<span class="justify-content-start d-flex align-items-start">
									<span class="bar">
										<span class="inner" style="width: <%= @article.ratings[:valid_points] %>;"></span>
									</span>
									<span class="clear-rating ml-3"><%= @article.ratings[:valid_points] %></span>
								</span>
							</li>
							<li class="mb-2">
								<label>Agree with arguments: </label>
								<span class="justify-content-start d-flex align-items-start">
									<span class="bar">
										<span class="inner" style="width: <%= @article.ratings[:agree] %>;"></span>
									</span>
									<span class="clear-rating ml-3"><%= @article.ratings[:agree] %></span>
								</span>
							</li>
						</ul>
						<% else %>
						<p class="mb-0">This article has not been rated yet. <a href='#' class="text-green" ng-click="openSharingPanel($event, 'rate')">Be the first person to rate this article</a>.</p>
						<% end %>

						<% if current_user.article_share(@article) %>
							<div class="your_rating">
								<h5>Your rating</h5>

								<ul class="dots">
									<li class="mb-2">
										<label>Well written: </label>
										<div class="justify-content-start d-flex align-items-start">
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = @article_share['rating_well_written'] >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:well_written, @article_share['rating_well_written'].to_s) %>
											</h6>
										</div>
									</li>
									<li class="mb-2">
										<label>Interesting points: </label>
										<div class="justify-content-start d-flex align-items-start">
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = @article_share['rating_valid_points'] >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:valid_points, @article_share['rating_valid_points'].to_s) %>
											</h6>
										</div>
									</li>
									<li class="mb-2">
										<label>Agree with arguments: </label>
										<div class="justify-content-start d-flex align-items-start">
											<div class="dots">
												<% for i in 1..5 %>
													<% dot_class = @article_share['rating_agree'] >= i ? 'filled' : 'empty' %>
													<span class="dot">
														<span class="<%= dot_class %>"></span>
													</span>
												<% end %>
											</div>
											<h6 class="text-green">
												<%= text_rating(:agree, @article_share['rating_agree'].to_s) %>
											</h6>
										</div>
									</li>
								</ul>
							</div>
						<% end %>
					</div>

					<footer class="container px-4 mt-3 mb-4">
						<div class="w-100" id="twitter_follow_col">
							<% if user_signed_in? && current_user.article_share(@article) %>
								<a class="rate_this d-block text-black btn btn-success text-white text-case-inherit"
										href="#" ng-click="openSharingPanel($event, 'rerate')">
											<span class="ml-2">Re-rate this article</span>
								</a>
							<% else %>
									<a class="rate_this d-block text-black btn btn-success text-white text-case-inherit"
										href="#" ng-click="openSharingPanel($event, 'rate')">
											<span class="ml-2">Rate this article</span>
									</a>
							<% end %>
						</div>
						<div class="mt-3 d-flex share_links">
							<%= render 'common/share-buttons' %>
						</div>
					</footer><!-- .entry-footer -->


					<% if @article.keyword_tags.exclude_special.any? %>
						<h2 class="bullet underline mb-3">Filed under</h2>
						<% @article.keyword_tags.exclude_special.each do |tag| %>
								<a href="<%= search_path(query: tag.name.capitalize) %>" class="tag gabriela"><%= tag.name.capitalize %></a>
						<% end %>
					<% end %>
				</div>
			</div>
		</article>
	</div>

	<% if @articles_in_same_exchange.any? %>
		<% listings_heading = @exchange_for_more.is_editor_item? ? "More from #{@exchange_for_more.name}" : "More on #{@exchange_for_more.name}" %>
		<div id="article_more_on" class="mb-5 bg-grey py-4 py-md-5">
			<%= render partial: 'articles/listings', locals: {
				block_id: 'articles_in_same_exchange',
				articles: @articles_in_same_exchange,
				title: listings_heading,
			} %>
		</div>
	<% end %>


	<%= if @trending_exchanges.any?
		render partial: 'carousels/trending-exchanges', locals: { exchanges: @trending_exchanges }
	end %>


	<div class="container pb-5 mt-4" id="most_read_articles">
		<h2 class="bullet underline">Trending articles</h2>
		<% @trending_articles.each do |ta| %>
			<article class="row mt-3 pl-1<%= ta.is_sponsored? ? ' sponsored_article' : '' %>">
				<div class="col-12">
					<% if(ta.is_sponsored?) %>
						<a href='/sponsors' class="sponsored">
							<i class="fas fa-star"></i>
							SPONSORED
						</a>
					<% end %>
					<h5 class="">
						<a href="<%= article_path(ta) %>">
							<%= ta.title.html_safe %>
						</a>
					</h5>
					<% footerPaddingBottom = ta.is_sponsored? ? 'pb-2' : 'pb-0' %>
					<footer class="entry-footer pl-0 pb-0 pt-1 <%= footerPaddingBottom %>">
						<p class="author_link">
							<a href="<%= contributor_path(slug: ta.author.slug) %>">
								by <span><%= ta.author.display_name %></span>
							</a>&nbsp;
							<span class="entry-date">
								<%= article_date(ta) %>
							</span>
						</p>
					</footer>
				</div>
			</article>
		<% end %>
	</div>

	<div class="ads_box single_mpu mx-auto align-middle text-center mb-4">
		<% if show_ads? %>
			<!-- /21757645549/thearticle_<%= ad_page_type %>/bottomsidecolumn -->
			<div id='div-gpt-ad-<%= ad_page_id %>-0'>
				<script>
					googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-0'); });
				</script>
			</div>
		<% end %>
	</div>
</section>

<% if user_signed_in? %>
<script id="sharingPanel" type="script/x-mustache">
	<%= render partial: 'articles/sharing-panel_modal', locals: { article: @article, article_share: @article_share } %>
</script>
<% end %>