<div class="modal fade" id="editProfileFormModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
	    	<p ng-show="profile.errors.main" class="alert alert-danger">{{profile.errors.main}}</p>

				<%= form_for(current_user, url: "/update-profile", html: {}) do |f| %>
				  <div class="form-group">
				    <%= f.label :display_name %><br />
			    	<p ng-show="profile.errors.displayName" class="alert alert-danger">{{profile.errors.displayName}}</p>
				    <%= f.text_field :display_name, autofocus: true, class: "form-control", 'ng-model': "profile.form.data.displayName", 'ng-keyup': 'markFormAsEdited()' %>
				  </div>

				  <div class="form-group">
				    <span ng-show="!profile.errors.username && !profile.form.data.username.available">
				    	<%= f.label :username %>
			    	</span>
			    	<label ng-show="profile.errors.username" class="alert-no-bg alert-danger">
			    		{{profile.errors.username}}
			    	</label>
			    	<label ng-show="profile.form.data.username.available" class="alert-no-bg alert-success">
			    		Available!
			    	</label>

			    	<br />
			    	<div class="input-group mb-2">
    	        <div class="input-group-prepend">
    	          <div class="input-group-text">@</div>
    	        </div>
					    <%= f.text_field :username, autofocus: true, class: "form-control", required: '', 'ng-model': "profile.form.data.username.value",
					    	"ng-keyup": "validateUsernameFromField()" %>
					  </div>
				    <p><small class="form-text alert-no-bg"
				    			ng-class="{
				    			'alert-success': profile.form.data.username.available,
				    			'alert-danger': profile.errors.username.length > 0
				    		}">
				    	<%= profile_url(slug: '') %>{{profile.form.data.username.value.toLowerCase()}}
				    </small></p>
				  </div>

		  	  <div class="form-group autocompleter">
		  	    <%= f.label :location %><br />
		  	    <div id="map" style="display: none;"></div>
		      	<p ng-show="profile.errors.location" class="alert alert-danger">{{profile.errors.location}}</p>
		  	    <%= f.text_field :location, class: "form-control", 'ng-model': "profile.form.data.location.private", "autocomplete": "on", 'ng-keyup': 'markFormAsEdited()' %>
		  	    <ul ng-if="autocompleteItems.length > 0">
		  	    	<li ng-repeat="item in autocompleteItems">
		  	    		<a href='#' ng-click="populateLocation($event, item)" class="d-flex justify-content-start align-items-start">
		  	    			<i class="fas fa-map-marker-alt text-green"></i>
		  	    			<p class="my-0 ml-3">
		  	    				<span class="main_location_text">{{ item.structured_formatting.main_text }}</span>
		  		    			<small class="text-muted secondary_location_text">{{ item.structured_formatting.secondary_text }}</small>
		  		    		</p>
		  	    		</a>
		  	    	</li>
		  	    </ul>
		  	    <p><small class="form-text alert-no-bg"><%= t('views.profile.form.location_hint') %></small></p>
		  	  </div>

		  	  <div class="form-group">
		  	    <%= f.label :bio %><br />
		  	    <%= f.text_area :bio, placeholder: 'Tell us something about yourself.', class: "form-control", 'ng-model': "profile.form.data.bio", rows: 6, maxlength: bio_max_length, 'ng-keyup': 'markFormAsEdited()' %>
		  	    <p class="hint text-right pr-1">
		  	    	<small ng-if="!profile.data.bio.length"><%= bio_max_length %> character maximum</small>
		  	    	<small ng-if="profile.data.bio.length">{{profile.data.bio.length}} / <%= bio_max_length %> characters</small>
		  	    </p>
		  	  </div>

		  	  <div class="buttons d-flex justify-content-between pt-3">
		  	  	<button ng-click="cancelEditProfile($event)" class="btn btn-outline-success">Cancel</button>
		  	  	<button ng-click="saveProfile($event)" class="btn btn-success">Save</button>
		  	  </div>
				<% end %>
			</div>

      </div>
    </div>
  </div>
</div>