<div class="modal fade update_card_cetails" id="edit<%= type %>PhotoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    	<div class="modal-header d-flex justify-content-between bg-grey">
  			<h5 class="mb-2 mt-1" ng-if="profile.data.<%= type %>Photo.source.length == 0" class="pb-5">Upload your <%= type %> photo</h5>

  			<h5 class="mb-2 mt-1" ng-if="profile.data.<%= type %>Photo.source.length > 0">Position and size <%= type %> photo</h5>

				<button data-dismiss="modal" class="btn btn-link">
					<i class="fas fa-times"></i>
				</button>

    	</div>

      <div class="modal-body">
  			<button id="upload_<%= type %>Photo_btn" class="btn btn-success add_photo btn-block mt-4" ng-show="profile.data.<%= type %>Photo.source.length == 0" class="pb-5">Choose a photo</button>

				<section class="edit_photo_box">
					<form ng-show="profile.data.<%= type %>Photo.source.length > 0">
			    	<p ng-show="profile.errors.photo" class="alert alert-danger">{{profile.errors.photo}}</p>
						<div class="inner">
							<input type="file" id="<%= type %>Photo_uploader" fileread="profile.data.<%= type %>Photo.source" class="replace_file_input" ng-show="profile.data.<%= type %>Photo.source.length == 0" />

							<img id="<%= type %>Photo_holder" data-type="<%= type %>Photo" class="editing_photo_holder" ng-src="{{trustSrc(profile.data.<%= type %>Photo.source)}}" alt="New <%= type %> photo" ng-show="profile.data.<%= type %>Photo.source.length > 0" ng-cloak />
						</div>

						<div class="buttons d-flex justify-content-between pt-4 mt-5 px-3" ng-show="profile.data.<%= type %>Photo.source.length > 0">
							<button data-dismiss="modal"
											class="btn btn-outline-success w-50 mr-3"
											ng-class="{'disabled': profile.data.<%= type %>Photo.uploading != false}"
											ng-disabled="profile.data.<%= type %>Photo.uploading != false">Cancel</button>
							<button ng-click="saveCroppedPhoto($event, '<%= type %>Photo')"
											class="btn btn-success w-50 ml-3"
											ng-class="{'disabled': profile.data.<%= type %>Photo.uploading != false}"
											ng-disabled="profile.data.<%= type %>Photo.uploading != false">
								<span ng-if="profile.data.<%= type %>Photo.uploading == false">Upload</span>
								<span ng-if="profile.data.<%= type %>Photo.uploading != false">Uploading...</span>
							</button>
						</div>

					</form>
				</section>
			</div>

		</div>
	</div>
</div>
