<div class="modal fade update_card_cetails" id="edit<%= type %>PhotoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    	<div class="modal-header d-flex justify-content-between bg-grey">
  			<h5 class="mb-2 mt-1" ng-if="profile.data.<%= type %>Photo.source.length == 0" class="pb-5">Upload your <%= type %> photo</h5>

  			<h5 class="mb-2 mt-1" ng-if="profile.data.<%= type %>Photo.source.length > 0">Position and size <%= type %> photo</h5>

				<button data-dismiss="modal" class="btn btn-link" ng-show="profile.data.<%= type %>Photo.source.length == 0">
					<i class="fas fa-times text-green"></i>
				</button>

    	</div>

      <div class="modal-body">
	    	<p ng-show="profile.errors.photo" class="alert alert-danger">{{profile.errors.photo}}</p>

  			<button id="upload_<%= type %>Photo_btn" class="btn btn-success add_photo btn-block mt-4"
  								ng-show="profile.data.<%= type %>Photo.source.length == 0" class="pb-5">
  				<span ng-if="profile.data.<%= type %>Photo.uploading">Uploading...</span>
  				<span ng-if="!profile.data.<%= type %>Photo.uploading">Choose a photo</span>
				</button>

				<section class="edit_photo_box">
					<form ng-show="profile.data.<%= type %>Photo.source.length > 0">
						<div class="inner">
							<input type="file" id="<%= type %>Photo_uploader" fileread="profile.data.<%= type %>Photo.source" class="replace_file_input" ng-show="profile.data.<%= type %>Photo.source.length == 0" data-type="<%= type %>" />

							<img id="<%= type %>Photo_holder" data-type="<%= type %>Photo" class="editing_photo_holder" ng-src="{{trustSrc(profile.data.<%= type %>Photo.source)}}" alt="New <%= type %> photo" ng-show="profile.data.<%= type %>Photo.source.length > 0" ng-cloak />
						</div>

						<div class="docs-buttons"  ng-show="profile.data.<%= type %>Photo.source.length > 0">
			        <div class="btn-group d-flex justify-content-center">
			          <button type="button" class="btn btn-primary" ng-click="zoomPhoto(0.1)" title="Zoom In">
			            <span class="docs-tooltip" data-toggle="tooltip" title="")">
			              <span class="fas fa-search-plus"></span>
			            </span>
			          </button>
			          <button type="button" class="btn btn-primary" ng-click="zoomPhoto(-0.1)" title="Zoom Out">
			            <span class="docs-tooltip" data-toggle="tooltip" title="")">
			              <span class="fas fa-search-minus"></span>
			            </span>
			          </button>

			          <button type="button" class="btn btn-primary" ng-click="movePhoto(-10, 0)" title="Move Left">
			            <span class="docs-tooltip" data-toggle="tooltip" title="")">
			              <span class="fas fa-arrow-left"></span>
			            </span>
			          </button>
			          <button type="button" class="btn btn-primary" ng-click="movePhoto(10, 0)" title="Move Right">
			            <span class="docs-tooltip" data-toggle="tooltip" title="")">
			              <span class="fas fa-arrow-right"></span>
			            </span>
			          </button>
			          <button type="button" class="btn btn-primary" ng-click="movePhoto(0, -10)" title="Move Up">
			            <span class="docs-tooltip" data-toggle="tooltip" title="")">
			              <span class="fas fa-arrow-up"></span>
			            </span>
			          </button>
			          <button type="button" class="btn btn-primary" ng-click="movePhoto(0, 10)" title="Move Down">
			            <span class="docs-tooltip" data-toggle="tooltip" title="")">
			              <span class="fas fa-arrow-down"></span>
			            </span>
			          </button>
			        </div>

			        <div class="btn-group d-flex justify-content-center">
			          <button type="button" class="btn btn-primary" ng-click="rotatePhoto(45)" title="Rotate Left">
			            <span class="docs-tooltip" data-toggle="tooltip" title="">
			              <span class="fas fa-undo-alt"></span>
			            </span>
			          </button>
			          <button type="button" class="btn btn-primary" ng-click="rotatePhoto(-45)" title="Rotate Right">
			            <span class="docs-tooltip" data-toggle="tooltip" title="">
			              <span class="fas fa-redo-alt"></span>
			            </span>
			          </button>

			          <button type="button" class="btn btn-primary" ng-click="scalePhotoX($event)" data-option="-1" title="Flip Horizontal">
			            <span class="docs-tooltip" data-toggle="tooltip" title="">
			              <span class="fas fa-arrows-alt-h"></span>
			            </span>
			          </button>
			          <button type="button" class="btn btn-primary" ng-click="scalePhotoY($event)" data-option="-1" title="Flip Vertical">
			            <span class="docs-tooltip" data-toggle="tooltip" title="">
			              <span class="fas fa-arrows-alt-v"></span>
			            </span>
			          </button>
			        </div>
			      </div>

						<div class="buttons d-flex justify-content-between pt-4 px-md-3" ng-show="profile.data.<%= type %>Photo.source.length > 0">
							<button ng-click="cancelEditPhoto('<%= type %>Photo')"
											class="btn btn-danger w-50 mr-2 mr-md-3"
											ng-class="{'disabled': profile.data.<%= type %>Photo.uploading != false}"
											ng-disabled="profile.data.<%= type %>Photo.uploading != false">
											<i class="fas fa-times"></i>
											Cancel
							</button>

							<button ng-click="saveCroppedPhoto($event, '<%= type %>Photo')"
											class="btn btn-success w-50 ml-2 ml-md-3"
											ng-class="{'disabled': profile.data.<%= type %>Photo.uploading != false}"
											ng-disabled="profile.data.<%= type %>Photo.uploading != false">
											<i class="fas fa-upload"></i>
								<span ng-if="profile.data.<%= type %>Photo.uploading == false">Upload</span>
								<span ng-if="profile.data.<%= type %>Photo.uploading != false">Uploading...</span>
							</button>
						</div>

					</form>
				</section>
			</div>

		</div>
	</div>
</div>
