<section ng-controller="ProfileController" class="container show-profile" data-user-id="<%= @user.id %>">
	<div ng-show="profile.loaded && profile.loadError" class="container mt-4">
		<div class="alert alert-danger">
			<p>{{profile.loadError}}</p>
		</div>
	</div>
	<div class="ajax_loading profile" ng-show="!profile.loaded">Loading profile...</div>

	<section id="cover_photo" class="cover_photo row" ng-show="profile.loaded && !profile.loadError"
						ng-style="{'background-image':'url('+profile.data.coverPhoto.image+')'}"
						ng-click="editCoverPhoto()" ng-class="{'editable': profile.isMe}">
		<div class="col-12">
			<a ng-click="editCoverPhoto()" href='#' class="align-middle" ng-if="profile.isMe && !profile.data.coverPhoto.image">
				<i class="fas fa-image"></i>
			</a>
		</div>
	</section>

	<section id="top_bar" class="row bg-grey">
		<div class="col-2"></div>
		<ul class="col-8 nav nav-tabs nav-fill d-flex">
		  <li class="nav-item">
		    <a class="nav-link active" id="activity-all-tab" data-toggle="tab" href="#activity-all">
		      <label>All</label>
		    </a>
		  </li>
		  <li class="nav-item">
		  	<a class="nav-link" id="activity-following-tab" data-toggle="tab" href="#activity-following">
			  	<label>Following</label>
			  	<span>{{ profile.data.followings.length }}</span>
			  </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="activity-followers-tab" data-toggle="tab" href="#activity-followers">
					<label>Followers</label>
					<span>{{ profile.data.followers.length }}</span>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="activity-ratings-tab" data-toggle="tab" href="#activity-ratings">
		    	<label>Ratings</label>
		    	<span>{{ profile.data.ratings.length }}</span>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="activity-shares-tab" data-toggle="tab" href="#activity-shares">
					<label>Shares</label>
					<span>{{ profile.data.shares.length }}</span>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="activity-exchanges-tab" data-toggle="tab" href="#activity-exchanges">
					<label>Exchanges</label>
					<span>{{ profile.data.exchanges.length }}</span>
		    </a>
		  </li>
		</ul>

		<% if user_signed_in? %>
		<div class="col-2 px-0 navbar" ng-show="profile.loaded && !profile.loadError">

			<button class="btn btn-outline-success" ng-click="toggleFollowUser(<%= @user.id %>)"
							ng-show="!profile.isMe && !profile.data.imFollowing">
				<i class="fas fa-users mr-2"></i>
				Follow
			</button>
			<button class="btn btn-success" ng-click="toggleFollowUser(<%= @user.id %>)"
								ng-show="!profile.isMe && profile.data.imFollowing">
				<i class="fas fa-users mr-2"></i>
				Following
			</button>

			<div class="btn-group" class="mt-2" ng-show="profile.isMe">
			  <button class="btn btn-outline-success btn-sm" type="button" ng-click="editProfile()">
			    Edit profile
			  </button>
			  <button type="button" class="btn btn-outline-success btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			  	<span class="sr-only">Toggle Dropdown</span>
			    <i class="fas fa-cog" aria-hidden="true"></i>
			  </button>
			  <div class="dropdown-menu">
			    <a class="dropdown-item" href="#" ng-click="editProfile()">Edit profile</a>
	        <a class="dropdown-item" href="#" ng-click="editProfilePhoto()">Edit profile photo</a>
	        <a class="dropdown-item" href="#" ng-click="editCoverPhoto()">Edit cover photo</a>
			  </div>
			</div>
		</div>
		<% end %>

	</section>

	<div class="row">
		<section class="col-3" id="basic_info" ng-show="profile.loaded && !profile.loadError">

			<img ng-src="{{ profile.data.profilePhoto.image }}" class="rounded-circle" alt="{{ profile.data.displayName }}"ng-click="editProfilePhoto()" ng-class="{'editable': profile.isMe}" />

			<div class="pl-2">
				<h5>{{ profile.data.displayName }}</h5>
				<h6 class="text-muted mb-4">{{ profile.data.originalUsername }}</h6>
				<p>
					<i class="fas fa-calendar-alt"></i> <span class="pl-3">Joined {{profile.data.joinedAt}}</span>
				</p>

				<p ng-if="profile.data.location.length > 0">
					<i class="fas fa-map-marker-alt"></i>
					<span class="pl-3">{{ profile.data.location }}</span>
				</p>
				<p ng-if="(!profile.data.location || profile.data.location.length == 0) && profile.isMe">
					<a href='#' ng-click="editProfile('location')">
						<i class="fas fa-map-marker-alt"></i>
						<span class="pl-3">Add Location</span>
					</a>
				</p>

				<p ng-if="profile.data.bio.length > 0">
					{{ profile.data.bio }}
				</p>
				<p ng-if="(!profile.data.bio || profile.data.bio.length == 0) && profile.isMe">
					<a href='#' ng-click="editProfile('bio')">
						<i class="far fa-plus-square"></i>
						<span class="pl-3">Add Bio</span>
					</a>
				</p>

				<div class="call-to-action-card card" ng-show="profile.data.isNew && profile.isMe">
					<div class="card-header">
						Fill out your profile
					</div>
					<div class="card-body">
						<p class="card-text">Add information and photos to your profile to help people find you</p>
					</div>
				</div>
			</div>
		</section>

		<section class="col-6" id="feed" ng-show="profile.loaded && !profile.loadError">
			<div class="tab-content container" id="activity-tabs">
				<div class="tab-pane fade pt-4 show active" id="activity-all" role="tabpanel" aria-labelledby="activity-all-tab">
					All
				</div>

				<div class="tab-pane fade pt-4" id="activity-following" role="tabpanel" aria-labelledby="activity-following-tab">
					<div class="row">
						<p class="empty_resource" ng-show="profile.data.followings.length == 0">
							<span ng-if="profile.data.isMe">You are not following any other members</span>
							<span ng-if="!profile.data.isMe">Not following anyone</span>
						</p>

						<div ng-repeat="member in profile.data.followings" class="col-6 feed-listing feed-follow mb-1 pb-2 px-1">
							<%= render 'member_card' %>
						</div>
					</div>
				</div>

				<div class="tab-pane fade pt-4" id="activity-followers" role="tabpanel" aria-labelledby="activity-followers-tab">
					<div class="row">
						<p class="col-12 empty_resource" ng-show="profile.data.followers.length == 0">
							<span ng-if="profile.data.isMe">You are currently not being followed by any other members</span>
							<span ng-if="!profile.data.isMe">Not being followed by anyone</span>
						</p>

						<div ng-repeat="member in profile.data.followers" class="col-6 feed-listing feed-follow mb-1 pb-2 px-1">
							<%= render 'member_card' %>
						</div>
					</div>
				</div>

				<div class="tab-pane fade pt-4" id="activity-ratings" role="tabpanel" aria-labelledby="activity-ratings-tab">
					Ratings
				</div>

				<div class="tab-pane fade pt-4" id="activity-shares" role="tabpanel" aria-labelledby="activity-shares-tab">
					Shares
				</div>

				<div class="tab-pane fade pt-4" id="activity-exchanges" role="tabpanel" aria-labelledby="activity-exchanges-tab">
					<p class="empty_resource" ng-show="profile.data.exchanges.length == 0">
						<span ng-if="profile.data.isMe">You are not following any exchanges</span>
						<span ng-if="!profile.data.isMe">Not following any exchanges</span>
					</p>
					<div ng-repeat="exchange in profile.data.exchanges" class="feed-listing feed-exchange d-flex align-items-start pt-2 py-2">
						<img ng-src="{{exchange.img}}" class="rounded feed_image" alt="{{exchange.name}}" />
						<div class="feed_text">
							<h5>{{ exchange.name }}</h5>
							<p>{{ exchange.excerpt }}</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="col-3 pr-0 mt-3" id="callouts" ng-show="profile.loaded && !profile.loadError">
			<% if user_signed_in? %>
			<section ng-if="profile.isMe">
				<div id="who_to_follow" class="callout my-2 bg-grey px-3 py-3" ng-controller="SuggestionsController">
					<h5 class="mb-3">Who to follow on TheArticle</h5>
					<nav id="suggestions_options" class="sub_tabs">
						<ul class="nav nav-pills nav-fill d-flex align-items-end">
							<li class="nav-item w-50">
							  <a class="nav-link active" id="suggestions-sub-tab-for_you" data-toggle="tab" href="#suggestions_for_you">
							    Suggested for you
							  </a>
							</li>
							<li class="nav-item w-50">
							  <a class="nav-link" id="suggestions-sub-tab-popular" data-toggle="tab" href="#suggestions_popular">
							    Popular with people you follow
							  </a>
							</li>
						</ul>
					</nav>

					<div class="tab-content container pt-2 px-1">
						<div class="tab-pane fade show active"
							id="suggestions_for_you"
							role="tabpanel"
							aria-labelledby="suggestions-sub-tab-for_you">
							<div ng-repeat="member in suggestions.forYous" class="feed-listing">
								<%= render partial: 'users/member_card', locals: { suggestions: true } %>
							</div>
						</div>

						<div class="tab-pane fade"
							id="suggestions_popular"
							role="tabpanel"
							aria-labelledby="suggestions-sub-tab-popular">
							<div ng-repeat="member in suggestions.populars" class="feed-listing">
								<%= render partial: 'users/member_card', locals: { suggestions: true } %>
							</div>
						</div>
					</div>
				</div>
			</section>
			<% end %>

			<section id="trending_articles" class="callout my-2 bg-grey px-3 py-3">
				<h5>Trending Articles</h5>
			</section>
		</div>
	</div>
</section>

<% if user_signed_in? %>
<script id="editProfileForm" type="script/x-mustache">
	<%= render partial: 'edit_profile_modal', locals: {} %>
</script>

<script id="editProfilePhoto" type="script/x-mustache">
	<%= render partial: 'edit_photo_modal', locals: { type: "profile" } %>
</script>

<script id="editCoverPhoto" type="script/x-mustache">
	<%= render partial: 'edit_photo_modal', locals: { type: "cover" } %>
</script>
<% end %>