<section ng-controller="ProfileController" class="container show-profile" data-user-id="<%= @user.id %>">
	<div ng-show="profile.loaded && profile.loadError" class="container mt-4">
		<div class="alert alert-danger">
			<p>{{profile.loadError}}</p>
		</div>
	</div>
	<div class="ajax_loading profile" ng-show="!profile.loaded">Loading profile...</div>

	<section id="cover_photo" class="cover_photo row" ng-show="profile.loaded && !profile.loadError"
						ng-style="profile.data.coverPhoto.image && {'background-image':'url('+profile.data.coverPhoto.image+')'}"
						ng-click="editCoverPhoto()" ng-class="{'editable': profile.isMe}">
		<div class="col-12">
			<a ng-click="editCoverPhoto()" href='#' class="align-middle" ng-if="profile.isMe && !profile.data.coverPhoto.image">
				<i class="fas fa-image"></i>
			</a>
		</div>
	</section>

	<section id="top_bar" class="row bg-grey">
		<div class="col-2"></div>
		<ul class="col-8 nav nav-tabs nav-fill d-flex">
		  <li class="nav-item">
		    <a id="activity-all-tab" class="with_badge nav-link active" ng-click="selectTab('all')" ng-class="{'active': selectedTab == 'all'}">
		      <label>All</label>
		    </a>
		  </li>
		  <li class="nav-item">
		  	<a id="activity-following-tab" class="nav-link" ng-click="selectTab('following')" ng-class="{'active': selectedTab == 'following'}">
			  	<label>Following</label>
			  	<span>{{ profile.data.followings.length }}</span>
			  </a>
		  </li>
		  <li class="nav-item">
		    <a id="activity-followers-tab" class="with_badge nav-link" ng-click="selectTab('followers')" ng-class="{'active': selectedTab == 'followers'}">
					<label>Followers</label>
					<span>{{ profile.data.followers.length }}</span>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a id="activity-ratings-tab" class="with_badge nav-link" ng-click="selectTab('ratings')" ng-class="{'active': selectedTab == 'ratings'}">
		    	<label>Ratings</label>
		    	<span>{{ profile.data.ratings.length }}</span>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a id="activity-shares-tab" class="with_badge nav-link" ng-click="selectTab('shares')" ng-class="{'active': selectedTab == 'shares'}">
					<label>Shares</label>
					<span>{{ profile.data.shares.length }}</span>
		    </a>
		  </li>
		  <li class="nav-item">
		    <a id="activity-exchanges-tab" class="with_badge nav-link" ng-click="selectTab('exchanges')" ng-class="{'active': selectedTab == 'exchanges'}">
					<label>Exchanges</label>
					<span>{{ profile.data.exchanges.length }}</span>
		    </a>
		  </li>
		</ul>

		<% if user_signed_in? %>
			<div class="col-2 px-0 navbar" ng-show="profile.loaded && !profile.loadError">

				<button class="btn btn-outline-success" ng-click="toggleFollowUser(<%= @user.id %>)"
								ng-show="!profile.isMe && !profile.data.imFollowing">
					<i class="fas fa-users mr-2"></i>
					Follow
				</button>
				<button class="btn btn-success" ng-click="toggleFollowUser(<%= @user.id %>)"
									ng-show="!profile.isMe && profile.data.imFollowing">
					<i class="fas fa-users mr-2"></i>
					Following
				</button>

				<div class="btn-group" class="mt-2" ng-show="profile.isMe">
				  <button class="btn btn-outline-success btn-sm" type="button" ng-click="editProfile()">
				    Edit profile
				  </button>
				  <button type="button" class="btn btn-outline-success btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				  	<span class="sr-only">Toggle Dropdown</span>
				    <i class="fas fa-cog" aria-hidden="true"></i>
				  </button>
				  <div class="dropdown-menu">
				    <a class="dropdown-item" href="#" ng-click="editProfile()">Edit profile</a>
		        <a class="dropdown-item" href="#" ng-click="editProfilePhoto()">Edit profile photo</a>
		        <a class="dropdown-item" href="#" ng-click="editCoverPhoto()">Edit cover photo</a>
				  </div>
				</div>
			</div>
		<% else %>
			<div class="col-2 px-0 navbar">
				<button class="btn btn-outline-success" ng-click="actionRequiresSignIn($event, 'follow ' + profile.data.displayName)">
					<i class="fas fa-users mr-2"></i>
					Follow
				</button>
			</div>
		<% end %>

	</section>

	<div class="row">
		<section class="col-3" ng-show="profile.loaded && !profile.loadError">
			<div id="basic_info">

				<img ng-src="{{ profile.data.profilePhoto.image }}" class="rounded-circle" alt="{{ profile.data.displayName }}"ng-click="editProfilePhoto()" ng-class="{'editable': profile.isMe}" />

				<div class="pl-2">
					<h5>{{ profile.data.displayName }}</h5>
					<h6 class="text-muted mb-4">{{ profile.data.originalUsername }}</h6>
					<p>
						<i class="fas fa-calendar-alt"></i> <span class="pl-3">Joined {{profile.data.joinedAt}}</span>
					</p>

					<p ng-if="profile.data.location.length > 0">
						<i class="fas fa-map-marker-alt"></i>
						<span class="pl-3">{{ profile.data.location }}</span>
					</p>
					<p ng-if="(!profile.data.location || profile.data.location.length == 0) && profile.isMe">
						<a href='#' ng-click="editProfile('location')">
							<i class="fas fa-map-marker-alt"></i>
							<span class="pl-3">Add Location</span>
						</a>
					</p>

					<p ng-if="profile.data.bio.length > 0">
						{{ profile.data.bio }}
					</p>
					<p ng-if="(!profile.data.bio || profile.data.bio.length == 0) && profile.isMe">
						<a href='#' ng-click="editProfile('bio')">
							<i class="far fa-plus-square"></i>
							<span class="pl-3">Add Bio</span>
						</a>
					</p>
				</div>
			</div>
		</section>

		<section class="col-6" id="feed" ng-show="profile.loaded && !profile.loadError">
			<div class="container" id="activity-tabs">

				<div class="" ng-if="selectedTab == 'all'">
					<div class="results_block row" ng-class="{'empty': profile.digest.length == 0}">

						<p class="col-12 empty_resource" ng-if="profile.digest.length == 0">
							<span ng-if="profile.isMe">You have no recent activity</span>
							<span ng-if="!profile.isMe">{{profile.data.displayName}} has no recent activity</span>
						</p>

						<div ng-repeat="item in profile.digest" class="col-12 feed-listing pb-3 px-0"
									ng-class="{
										'feed-share': _.contains(['opinionAction', 'commentAction', 'share', 'rating', 'recentFollowingSummary', 'recentFollowedSummary'], item.type),
										'feed-exchange': item.type == 'exchange'
									}">
								<div ng-if="item.type == 'recentFollowingSummary' && item.sentence.length > 0">
									<%= render 'follows/summary_card' %>
								</div>
								<div ng-if="item.type == 'recentFollowedSummary' && item.sentence.length > 0">
									<%= render 'follows/summary_card' %>
								</div>
								<div ng-if="item.type == 'share'"><%= render 'shares/card' %></div>
								<div ng-if="item.type == 'rating'"><%= render 'shares/card' %></div>
								<div ng-if="item.type == 'exchange'"><%= render 'exchanges/card' %></div>
								<div ng-if="item.type == 'commentAction'"><%= render 'comments/card' %></div>
								<div ng-if="item.type == 'opinionAction'"><%= render 'opinions/card' %></div>
						</div>

					</div>
				</div>

				<div class="" ng-if="(selectedTab == 'following')">
					<div class="results_block row" ng-class="{'empty': profile.data.followings.length == 0}">
						<p class="col-12 empty_resource" ng-show="profile.data.followings.length == 0">
							<span ng-if="profile.isMe">You are not following any other members</span>
							<span ng-if="!profile.isMe">{{profile.data.displayName}} is not following anyone</span>
						</p>

						<div ng-repeat="item in profile.data.followings" class="col-12 feed-listing feed-follow pb-3 px-0">
							<%= render 'member_card' %>
						</div>

					</div>
				</div>

				<div class="" ng-if="(selectedTab == 'followers')"">
					<div class="results_block row" ng-class="{'empty': profile.data.followers.length == 0}">

						<p class="col-12 empty_resource" ng-show="profile.data.followers.length == 0">
							<span ng-if="profile.isMe">You are currently not being followed by any other members</span>
							<span ng-if="!profile.isMe">{{profile.data.displayName}} is not being followed by anyone</span>
						</p>

						<div ng-repeat="item in profile.data.followers" class="col-12 feed-listing feed-follow pb-3 px-0">
							<%= render 'member_card' %>
						</div>

					</div>
				</div>

				<div class="" ng-if="selectedTab == 'ratings'">
					<div class="results_block row" ng-class="{'empty': profile.data.ratings.length == 0}">

						<p class="col-12 empty_resource" ng-if="profile.data.ratings.length == 0">
							<span ng-if="profile.isMe">You have not rated an article yet</span>
							<span ng-if="!profile.isMe">{{profile.data.displayName}} has not rated an article yet</span>
						</p>

						<div class="ratings_summary col-12 mb-3 px-0" ng-if="profile.data.ratings.length > 0">
							<div class="inner">
								<h4>{{ profile.data.ratingsSummary.articleCount }}</h4>
								<p>Average ratings: </p>
								<div class="rating d-flex justify-content-between align-items-start" ng-if="profile.data.ratingsSummary.wellWritten > 0">
									<label>Well written</label>
									<div class="d-flex">
										<div class="star" ng-repeat="i in _.range(0, profile.data.ratingsSummary.wellWritten)">
											<i class="fas fa-star"></i>
										</div>
										<div class="star" ng-repeat="i in _.range(0, 10 - profile.data.ratingsSummary.wellWritten)">
											<i class="far fa-star"></i>
										</div>
									</div>
								</div>

								<div class="rating d-flex justify-content-between align-items-start" ng-if="profile.data.ratingsSummary.validPoints > 0">
									<label>Valid points</label>
									<div class="d-flex">
										<div class="star" ng-repeat="i in _.range(0, profile.data.ratingsSummary.validPoints)">
											<i class="fas fa-star"></i>
										</div>
										<div class="star" ng-repeat="i in _.range(0, 10 - profile.data.ratingsSummary.validPoints)">
											<i class="far fa-star"></i>
										</div>
									</div>
								</div>

								<div class="rating d-flex justify-content-between align-items-start" ng-if="profile.data.ratingsSummary.agree > 0">
									<label>Agree</label>
									<div class="d-flex">
										<div class="star" ng-repeat="i in _.range(0, profile.data.ratingsSummary.agree)">
											<i class="fas fa-star"></i>
										</div>
										<div class="star" ng-repeat="i in _.range(0, 10 - profile.data.ratingsSummary.agree)">
											<i class="far fa-star"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div ng-repeat="item in profile.data.ratings" class="col-12 feed-listing feed-share feed-ratings pb-3 px-0">
							<%= render 'shares/card' %>
						</div>

					</div>
				</div>

				<div class="" ng-if="(selectedTab == 'shares')">
					<div class="results_block row" ng-class="{'empty': profile.data.shares.length == 0}">

						<p class="col-12 empty_resource" ng-show="profile.data.shares.length == 0">
							<span ng-if="profile.isMe">You have not shared an article yet</span>
							<span ng-if="!profile.isMe">{{profile.data.displayName}} has not shared an article yet</span>
						</p>

						<div ng-repeat="item in profile.data.shares" class="col-12 feed-listing feed-share pb-3 px-0">
							<%= render 'shares/card' %>
						</div>

					</div>
				</div>

				<div class="" ng-if="(selectedTab == 'exchanges')">
					<div class="results_block row" ng-class="{'empty': profile.data.exchanges.length == 0}">

						<p class="col-12 empty_resource" ng-show="profile.data.exchanges.length == 0">
							<span ng-if="profile.isMe">You are not following an exchange yet</span>
							<span ng-if="!profile.isMe">{{profile.data.displayName}} has not followed an exchange yet</span>
						</p>

						<div ng-repeat="item in profile.data.exchanges" class="col-12 feed-listing feed-exchange align-items-start pb-3 px-0">
							<%= render 'exchanges/card' %>
						</div>

						<div ng-if="profile.data.exchanges.length > 3">
							<a href="#" ng-click="openExchangesModal($event)">See all exchanges</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="col-3 pr-0 mt-3" id="callouts" ng-show="profile.loaded && !profile.loadError">
			<% if user_signed_in? %>
			<section ng-if="profile.isMe" class="pb-3 card w-100 callout mb-3">
				<div id="who_to_follow" class="" ng-controller="SuggestionsController">
					<div class="card-header">
						<h5 class="card-title">Who to follow on TheArticle</h5>
					</div>
					<div class="card-body pt-2 px-2">

						<div class="container pt-2 px-1">
							<div class="show active"
								id="suggestions_for_you"
								role="tabpanel"
								aria-labelledby="suggestions-sub-tab-for_you">
								<div ng-repeat="item in filterSuggestionListForBox(suggestions)" class="feed-listing">
									<%= render partial: 'users/member_card', locals: { suggestions: true } %>
								</div>
							</div>

							<div ng-if="suggestions.length > 3">
								<a href="#" ng-click="openSuggestionsModal($event)">See all suggestions</a>
							</div>
						</div>
					</div>
				</div>
			</section>
			<% end %>

			<section id="trending_articles" class="callout card w-100">
				<div class="card-header">
					<h5 class="card-title">Trending articles</h5>
				</div>
				<div class="card-body pt-1">
					<% @trending_articles.each do |ta| %>
						<article class="row mt-3 px-0<%= ta.is_sponsored? ? ' sponsored_article' : '' %>">
							<div class="col-12">
								<% if(ta.is_sponsored?) %>
									<a href='/sponsors' class="sponsored">
										<i class="fas fa-star"></i>
										SPONSORED
									</a>
								<% end %>
								<h5 class="pb-0 mb-0">
									<a href="<%= article_path(ta) %>">
										<%= ta.title.html_safe %>
									</a>
								</h5>
								<% footerPaddingBottom = ta.is_sponsored? ? 'pb-4' : 'pb-0' %>
								<footer class="entry-footer pl-0 pt-0 <%= footerPaddingBottom %>">
									<p class="author_link">
										<a href="<%= contributor_path(slug: ta.author.slug) %>">
											by <span><%= ta.author.display_name %></span>
										</a>
										<span class="entry-date">
											<%= article_date(ta) %>
										</span>
									</p>
								</footer>
							</div>
						</article>
					<% end %>
				</div>
			</section>
		</div>
	</div>
</section>

<% if user_signed_in? %>
	<script id="editProfileForm" type="script/x-mustache">
		<%= render partial: 'edit_profile_modal', locals: {} %>
	</script>

	<script id="editProfilePhoto" type="script/x-mustache">
		<%= render partial: 'edit_photo_modal', locals: { type: "profile" } %>
	</script>

	<script id="editCoverPhoto" type="script/x-mustache">
		<%= render partial: 'edit_photo_modal', locals: { type: "cover" } %>
	</script>

	<script id="allProfileSuggestions" type="script/x-mustache">
		<%= render partial: 'profile_suggestions/all_modal' %>
	</script>

	<script id="allUserExchanges" type="script/x-mustache">
		<%= render partial: 'user_exchanges/all_modal' %>
	</script>
<% end %>

<script id="requiresConnectionInfoBox" type="script/x-mustache">
	<%= render partial: 'follows/no_connection_modal' %>
</script>
