<section ng-controller="ProfileController" class="show-profile" data-user-id="<%= @user.id %>"  data-fixed-profile-nav=1 ng-cloak>

	<div ng-show="profile.loaded && profile.loadError" class="container mt-4" ng-cloak>
		<div class="alert alert-danger">
			<p>{{profile.loadError}}</p>
		</div>
	</div>

	<div class="ajax_loading profile" ng-show="!profile.loaded">Loading profile...</div>

	<section class="cover_photo justify-content-center"
					ng-show="profile.loaded && !profile.loadError && mode == 'view'"
					ng-style="profile.data.coverPhoto.image && {'background-image':'url('+profile.data.coverPhoto.image+')'}"
					ng-click="editCoverPhoto()" ng-class="{'editable': profile.isMe}" ng-cloak>
		<div class="col-12">
			<a ng-click="editCoverPhoto()" href='#' class="align-middle" ng-if="profile.isMe && profile.data.coverPhoto.image.length == 0">
				<i class="fas fa-image"></i>
			</a>
		</div>
	</section>

	<section class="container d-flex" id="basic_info" ng-show="profile.loaded && !profile.loadError && mode == 'view'" ng-cloak>
		<div ng-style="{'background-image':'url('+profile.data.profilePhoto.image+')'}"
				 class="profile_circle_image rounded-circle" ng-click="editProfilePhoto()"></div>
		<div class="pl-3">
			<h5>{{ profile.data.displayName }}</h5>
			<h6 class="text-muted">
				{{ profile.data.originalUsername }}
				<span ng-show="profile.data.isFollowingMe" class="badge follower-badge">Follows you</span>
			</h6>
		</div>
	</section>

	<section class="container d-flex" class="d-flex" id="stats_info" ng-show="(!profile.data.isBlocked) && (!profile.data.iAmBlocked) && (profile.loaded) && (!profile.loadError) && (mode == 'view')" ng-cloak>
		<div class="stats p-2 flex-fill">
			<label>Ratings</label>
			<span>{{ profile.ratings.data.length }}</span>
		</div>
		<div class="stats p-2 flex-fill" ng-click="openFollowsPanel('followers')">
			<label>Followers</label>
			<span>{{ profile.follows.followers.length }}</span>
		</div>
		<div class="stats p-2 flex-fill" ng-click="openFollowsPanel('following')">
			<label>Following</label>
			<span>{{ profile.follows.followings.length }}</span>
		</div>
	</section>

	<% if user_signed_in? %>
		<section class="container" ng-show="profile.loaded && !profile.loadError && mode == 'view'" ng-cloak>
			<button class="btn btn-outline-success btn-block mt-3 mb-4"
								ng-click="editProfile()"
								ng-if="profile.isMe"
								id="edit_profile_btn">Edit Profile</button>

			<button class="btn btn-outline-success btn-block mt-3 mb-4" ng-click="toggleFollowUser(<%= @user.id %>)"
							ng-if="(!profile.data.iAmBlocked) && (!profile.data.isBlocked) && (!profile.isMe) && (!profile.data.imFollowing)">
				<i class="fas fa-users mr-2"></i>
				Follow
			</button>
			<button class="btn btn-success btn-block mt-3 mb-4" ng-click="toggleFollowUser(<%= @user.id %>)"
								ng-if="(!profile.data.iAmBlocked) && (!profile.data.isBlocked) && (!profile.isMe) && (profile.data.imFollowing)">
				<i class="fas fa-users mr-2"></i>
				Following
			</button>

			<button class="btn btn-danger btn-disabled blocked-btn btn-block mt-3 mb-4" ng-if="profile.data.iAmBlocked && !profile.data.isBlocked">
				<i class="fas fa-ban"></i>
				Blocked
			</button>

			<button class="btn btn-danger btn-block mt-3 mb-4"
							ng-if="profile.data.isBlocked && !profile.isMe"
							ng-click="unblock($event, profile.data.id, profile.data.originalUsername)">
				<i class="fas fa-ban"></i>
				Blocked
			</button>
		</section>
	<% else %>
		<section class="container" ng-show="mode == 'view'">
			<button class="btn btn-outline-success btn-block mt-3 mb-4" ng-click="actionRequiresSignIn($event, 'follow ' + profile.data.displayName)">
				<i class="fas fa-users mr-2"></i>
				Follow
			</button>
		</section>
	<% end %>

	<section class="container" id="more_info" ng-show="profile.loaded && !profile.loadError && mode == 'view'" ng-cloak>
		<p ng-if="(!profile.data.iAmBlocked) && (!profile.data.isBlocked)">
			<i class="fas fa-calendar-alt"></i> <span class="pl-3">Joined {{profile.data.joinedAt}}</span>
		</p>

		<p ng-if="(!profile.data.iAmBlocked) && (!profile.data.isBlocked) && (profile.data.location.length > 0)">
			<i class="fas fa-map-marker-alt"></i>
			<span class="pl-3">{{ profile.data.location }}</span>
		</p>
		<p ng-if="!profile.data.location || profile.data.location.length == 0 && profile.isMe">
			<a href='#' ng-click="editProfile()">
				<i class="fas fa-map-marker-alt"></i>
				<span class="pl-3">Add Location</span>
			</a>
		</p>

		<p ng-if="(!profile.data.iAmBlocked) && (!profile.data.isBlocked) && (profile.data.bio.length > 0)">
			{{ profile.data.bio }}
		</p>
		<p ng-if="(!profile.data.bio || profile.data.bio.length == 0) && profile.isMe">
			<a href='#' ng-click="editProfile()">
				<i class="far fa-plus-square"></i>
				<span class="pl-3">Add Bio</span>
			</a>
		</p>
	</section>

	<section class="my-4" id="public_activity" ng-show="profile.loaded && !profile.loadError && mode == 'view'" ng-cloak>
		<section  id="activity_tabs">
			<div class="bg-grey w-100 bg-grey justify-content-between align-items-start pt-2 pb-1 px-2" id="mini_profile" ng-cloak>
				<div id="mini_profile_inner" class="pb-1 w-100 d-flex justify-content-start align-items-start">
					<img ng-src="{{ profile.data.profilePhoto.image }}"
									class="rounded-circle"
									alt="{{ profile.data.displayName }}" />
					<div class="pl-2">
						<h5 class="mb-0">{{ profile.data.displayName }}</h5>
						<h6 class="mb-0 text-muted">
							{{ profile.data.originalUsername }}
						</h6>
					</div>
				</div>

				<button class="btn btn-outline-success mt-1" ng-click="toggleFollowUser(<%= @user.id %>)"
								ng-if="(!profile.data.iAmBlocked) && (!profile.data.isBlocked) && (!profile.isMe) && (!profile.data.imFollowing)">
					<i class="fas fa-users"></i>
					Follow
				</button>
				<button class="btn btn-success mt-1" ng-click="toggleFollowUser(<%= @user.id %>)"
									ng-if="(!profile.data.iAmBlocked) && (!profile.data.isBlocked) && (!profile.isMe) && (profile.data.imFollowing)">
					<i class="fas fa-users"></i>
					Following
				</button>
			</div>

			<!-- Tabs when blocked (either way) -->
			<ul class="nav nav-tabs d-flex" ng-if="profile.data.iAmBlocked || profile.data.isBlocked">
			  <li class="nav-item">
			    <a class="nav-link active">
			      <label>All</label>
			    </a>
			  </li>
			</ul>

			<!-- Tabs when not blocked -->
			<ul class="nav nav-tabs nav-fill d-flex" ng-if="(!profile.data.iAmBlocked) && (!profile.data.isBlocked)">
			  <li class="nav-item">
			    <a class="nav-link active" href="#" ng-click="selectTab('all', $event)" ng-class="{'active': selectedTab == 'all'}">
			      All
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#" ng-click="selectTab('ratings', $event)" ng-class="{'active': selectedTab == 'ratings'}">
			      Ratings
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#" ng-click="selectTab('shares', $event)" ng-class="{'active': selectedTab == 'shares'}">
			      Shares
			    </a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" href="#" ng-click="selectTab('exchanges', $event)" ng-class="{'active': selectedTab == 'exchanges'}">
			      Exchanges
			    </a>
			  </li>
			</ul>
		</section>


		<!-- Feed when blocking them -->
		<div class="" id="feed" ng-if="profile.data.isBlocked" ng-cloak>
			<div class="pt-4 results_block">
				<div class="col-12 feed-listing feed-blocked">
					<div class="inner">
						<h4 class="mb-3">You blocked <b>{{profile.data.originalUsername}}</b></h4>
						<p><a class="text-green" href="#" ng-click="unblock($event, profile.data.id, profile.data.originalUsername)">Unblock</a> {{profile.data.originalUsername}} if you wish to see their posts</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Feed when i am blocked -->
		<div class="" id="feed" ng-if="profile.data.iAmBlocked && !profile.data.isBlocked" ng-cloak>
			<div class="pt-4 results_block">
				<div class="col-12 feed-listing feed-blocked">
					<div class="inner">
						<h4 class="mb-3">You have been blocked</h4>
						<p>You cannot follow {{profile.data.originalUsername}} or see their posts.  If you have commented on any of their posts, these comments will have been deleted.</p>

						<p><a href="/help?section=blocking">Read more about what it means to be blocked</a>.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Feed when not blocked either way -->
		<div class="" id="feed" ng-if="(!profile.data.iAmBlocked) && (!profile.data.isBlocked)" ng-cloak>
			<div class="pt-4 results_block" ng-if="selectedTab == 'all'" ng-class="{'empty': profile.digest.length == 0}">

				<div class="mb-1 py-2 results_block container feed-listing" ng-if="profile.isMe">
	        <textarea name="third_party_article_url"
	                    id="third_party_article_url_phantom"
	                    ng-keyup="openThirdPartySharingPanelIfEnterPressed($event)"
	                    ng-focus="expandThirdPartySharingTextarea($event)"
	                    ng-blur="contractThirdPartySharingTextarea($event)"
	                    ng-paste="openThirdPartySharingPanelFromPaste($event)"
	                    placeholder="What are you reading?"
	                    class="form-control w-100"></textarea>
				</div>


				<div ng-if="profile.isMe && profile.data.deactivated" class="row feed-listing feed-deactivated">
					<div class="card">
						<div class="inner">
							<p>This profile has been deactivated and is not visible to other users. You will need to reactivate it if you want to follow other users or share/rate articles.</p>

							<p>To reactivate your profile please enter your password.</p>

							<div class="form-group">
								<label for="confirming_password_reactivate">Password</label><br />
								<input type="password" name="confirming_password_reactivate" id="confirming_password_reactivate" ng-model="profile.data.confirmingPassword" class="form-control" required />
							</div>

							<p class="alert alert-danger" ng-if="profile.errors.reactivate">{{profile.errors.reactivate}}</p>

							<button class="btn btn-success btn-block" ng-click="reactivateProfile($event)">Reactivate profile</button>
						</div>
					</div>
				</div>

				<p class="col-12 empty_resource" ng-if="profile.digest.length == 0">
					<span ng-if="profile.isMe">You have no recent activity</span>
					<span ng-if="!profile.isMe">{{profile.data.displayName}} has no recent activity</span>
				</p>

				<div ng-repeat="item in profile.digest" class="col-12 feed-listing pb-3 px-0"
							ng-class="{
								'feed-share': _.contains(['opinionAction', 'commentAction', 'share', 'rating', 'recentFollowingSummary', 'recentFollowedSummary'], item.type),
								'feed-exchange': item.type == 'exchange'
							}">
						<div ng-if="item.type == 'recentFollowingSummary'">
							<%= render 'follows/summary_card' %>
						</div>
						<div ng-if="item.type == 'recentFollowedSummary'">
							<%= render 'follows/summary_card' %>
						</div>
						<div ng-if="item.type == 'share'"><%= render 'shares/card' %></div>
						<div ng-if="item.type == 'rating'"><%= render 'shares/card' %></div>
						<div ng-if="item.type == 'exchange'"><%= render 'exchanges/card' %></div>
						<div ng-if="item.type == 'commentAction'"><%= render 'comments/card' %></div>
						<div ng-if="item.type == 'opinionAction'"><%= render 'opinions/card' %></div>
				</div>
			</div>

			<div class="pt-4 results_block" ng-if="selectedTab == 'ratings'" ng-class="{'empty': profile.ratings.data.length == 0}">
				<p class="empty_resource" ng-show="profile.ratings.data.length == 0">
					<span ng-if="profile.isMe">You have not rated an article yet</span>
					<span ng-if="!profile.isMe">{{profile.data.displayName}} has not rated an article yet</span>
				</p>

				<div class="col-12 mb-3 px-0" ng-if="profile.ratings.data.length > 0">
					<div class="inner member_ratings summary px-3">
						<h4 class="d-flex justify-content-between mb-3">
							<span>Average ratings</span>
							<small class="text-green">{{ profile.data.ratingsSummary.articleCount }}</small>
						</h4>

						<ul class="bars">
							<li class="mb-2">
								<label class="text">Well written: </label>
								<span class="justify-content-start d-flex align-items-start">
									<span class="bar w-75 mr-2">
										<span class="inner" style="width: {{profile.data.ratingsSummary.wellWritten}}"></span>
									</span>
									<span class="clear-rating">{{profile.data.ratingsSummary.wellWritten}}</span>
								</span>
							</li>
							<li class="mb-2">
								<label class="text">Interesting points: </label>
								<span class="justify-content-start d-flex align-items-start">
									<span class="bar w-75 mr-2">
										<span class="inner" style="width: {{profile.data.ratingsSummary.validPoints}};"></span>
									</span>
									<span class="clear-rating">{{profile.data.ratingsSummary.validPoints}}</span>
								</span>
							</li>
							<li class="mb-2">
								<label class="text">Agree with arguments: </label>
								<span class="justify-content-start d-flex align-items-start">
									<span class="bar w-75 mr-2">
										<span class="inner" style="width: {{profile.data.ratingsSummary.agree}};"></span>
									</span>
									<span class="clear-rating">{{profile.data.ratingsSummary.agree}}</span>
								</span>
							</li>
						</ul>
					</div>
				</div>

				<div ng-repeat="item in profile.ratings.data" class="feed-listing feed-share">
					<%= render 'shares/card' %>
				</div>
			</div>

			<div class="pt-4 results_block" ng-if="selectedTab == 'shares'" ng-class="{'empty': profile.shares.data.length == 0}">
				<p class="empty_resource" ng-show="profile.shares.data.length == 0">
					<span ng-if="profile.isMe">You have not shared an article yet</span>
					<span ng-if="!profile.isMe">{{profile.data.displayName}} has not shared an article yet</span>
				</p>
				<div ng-repeat="item in profile.shares.data" class="feed-listing feed-share">
					<%= render 'shares/card' %>
				</div>
			</div>

			<div class="pt-4 results_block" ng-if="selectedTab == 'exchanges'" ng-class="{'empty': profile.exchanges.data.length == 0}">
				<p class="empty_resource" ng-show="profile.exchanges.data.length == 0">Not following any Exchanges</p>
				<div ng-repeat="item in profile.exchanges.data" class="feed-listing feed-exchange">
					<%= render 'exchanges/card' %>
				</div>


				<div ng-if="profile.exchanges.data.length > 3" class="px-2 py-2">
					<a href="#" ng-click="openExchangesModal($event)">See all exchanges</a>
				</div>
			</div>
		</div>
	</section>


	<div class="overlay edit_profile" ng-show="mode == 'edit'" ng-cloak></div>

	<!-- Edit profile fields -->
	<section id="edit_profile_form_box" ng-if="mode == 'edit'" ng-cloak>
		<div class="cover_photo" class="justify-content-center"
					ng-style="{'background-image':'url('+profile.data.coverPhoto.image+')'}"
					ng-click="editCoverPhoto()" ng-class="{'editable': profile.isMe}">
			<a ng-click="editCoverPhoto()" href='#' class="align-middle">
				<i class="fas fa-image"></i>
			</a>
		</div>

		<div ng-style="{'background-image':'url('+profile.data.profilePhoto.image+')'}"
				class="profile_circle_image rounded-circle" id="edit_profile_photo_inside">
			<a ng-click="editProfilePhoto()" href='#' class="align-middle" ng-if="mode == 'edit'">
				<i class="fas fa-image"></i>
			</a>
		</div>

		<% if user_signed_in? %>
		<div class="container py-4">
    	<p ng-show="profile.errors.main" class="alert alert-danger">{{profile.errors.main}}</p>
			<%= form_for(current_user, url: "/users") do |f| %>
			  <div class="form-group">
			    <%= f.label :display_name %><br />
		    	<p ng-show="profile.errors.displayName" class="alert alert-danger">{{profile.errors.displayName}}</p>
			    <%= f.text_field :display_name, autofocus: true, class: "form-control", required: '', 'ng-model': "profile.data.displayName" %>
			  </div>

			  <div class="form-group">
			    <%= f.label :username %><br />
		    	<p ng-show="profile.errors.username" class="alert alert-danger">{{profile.errors.username}}</p>
		    	<div class="input-group mb-2">
  	        <div class="input-group-prepend">
  	          <div class="input-group-text">@</div>
  	        </div>
				    <%= f.text_field :username, autofocus: true, class: "form-control", required: '', 'ng-model': "profile.data.username" %>
				  </div>
				</div>

			  <div class="form-group">
			    <%= f.label :location %><br />
		    	<p ng-show="profile.errors.location" class="alert alert-danger">{{profile.errors.location}}</p>
			    <%= f.text_field :location, class: "form-control", 'ng-model': "profile.data.location" %>
			  </div>

	  	  <div class="form-group">
	  	    <%= f.label :bio %><br />
	      	<p ng-show="profile.errors.bio" class="alert alert-danger">{{profile.errors.bio}}</p>
	  	    <%= f.text_area :bio, class: "form-control", 'ng-model': "profile.data.bio", rows: 6, maxlength: bio_max_length %>
	  	    <p class="hint text-right pr-1">
	  	    	<small ng-if="!profile.data.bio.length"><%= bio_max_length %> character maximum</small>
	  	    	<small ng-if="profile.data.bio.length">{{profile.data.bio.length}} / <%= bio_max_length %> characters</small>
	  	    </p>
	  	  </div>

	  	  <div class="buttons d-flex justify-content-between pt-3">
	  	  	<button ng-click="cancelEditProfile($event)" class="btn btn-outline-success">Cancel</button>
	  	  	<button ng-click="saveProfile($event)" class="btn btn-success">Save</button>
	  	  </div>
			<% end %>
		</div>
		<% end %>
	</section>

		<!-- Follows panel -->
		<section id="follows_box" ng-if="mode == 'follows'" ng-controller="FollowsController" data-user-id="<%= @user.id %>" data-current-user-id="<%= user_signed_in? ? current_user.id : nil %>" ng-cloak>
			<div class="header_bar_overlay d-flex justify-content-between">
				<div>
					<h3 ng-if="panelTab == 'following'" class="mb-0 mt-0">
						<span ng-if="!isMe">Followed by</span>
						<span ng-if="isMe">Following</span>
					</h3>
					<h3 ng-if="panelTab == 'followers'" class="mb-0 mt-0">
						<span ng-if="!isMe">Followers of</span>
						<span ng-if="isMe">Followers</span>
					</h3>
					<h3 ng-if="panelTab == 'you_know' && !isMe" class="mb-0 mt-0">Known followers of</h3>
					<h3 ng-if="panelTab == 'connected' && isMe" class="mb-0 mt-0">You follow each other</h3>
					<h5 class="text-muted mb-1"><%= @user.username %></h5>
				</div>

				<a href='#' ng-click="closeFollowsPanel()" class="closer mt-1">
					<i class="fas fa-times"></i>
				</a>
			</div>
			<nav id="follows_options" class="sub_tabs">
				<ul class="nav nav-pills nav-fill d-flex">
					<li class="nav-item">
					  <a class="nav-link active" id="follows-sub-tab-following"
					  			data-toggle="tab" href="#follows_following"
					  			ng-click="setPanelTab('following')">
					    Following
					  </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" id="follows-sub-tab-followers"
					  			data-toggle="tab" href="#follows_followers"
					  			ng-click="setPanelTab('followers')">
					    Followers
					  </a>
					</li>
					<li class="nav-item" ng-if="isSignedIn && !isMe">
					  <a class="nav-link" id="follows-sub-tab-you_know"
					  			data-toggle="tab" href="#follows_you_know"
					  			ng-click="setPanelTab('you_know')">
					    Followers you know
					  </a>
					</li>
					<li class="nav-item" ng-if="isSignedIn && isMe">
					  <a class="nav-link" id="follows-sub-tab-connected"
					  			data-toggle="tab" href="#follows_connected"
					  			ng-click="setPanelTab('connected')">
					    Connected
					  </a>
					</li>
				</ul>
			</nav>

			<div class="tab-content container pt-2 px-1" ng-cloak>
				<div class="tab-pane fade show active"
					id="follows_following"
					role="tabpanel"
					aria-labelledby="follows-sub-tab-following">
					<p class="empty" ng-if="follows.data.followings.length == 0">
						<span ng-if="!isMe">{{ profile.data.displayName }} is currently not following anyone</span>
						<span ng-if="isMe">You are currently not following anyone</span>
					</p>
					<div ng-repeat="item in follows.data.followings" class="feed-listing">
						<%= render 'users/member_card' %>
					</div>
				</div>

				<div class="tab-pane fade"
					id="follows_followers"
					role="tabpanel"
					aria-labelledby="follows-sub-tab-followers">
					<p class="empty" ng-if="follows.data.followers.length == 0">
						<span ng-if="!isMe">{{ profile.data.displayName }} is currently not being followed by anyone</span>
						<span ng-if="isMe">You are currently not being followed by anyone</span>
					</p>
					<div ng-repeat="item in follows.data.followers" class="feed-listing">
						<%= render 'users/member_card' %>
					</div>
				</div>

				<div class="tab-pane fade"
					id="follows_you_know"
					role="tabpanel"
					aria-labelledby="follows-sub-tab-you_know"
					ng-if="isSignedIn && !isMe">
					<p class="empty" ng-if="follows.data.alsoKnowsMes.length == 0">
						No followers you know
					</p>
					<div ng-repeat="item in follows.data.alsoKnowsMes" class="feed-listing">
						<%= render 'users/member_card' %>
					</div>
				</div>

				<div class="tab-pane fade"
					id="follows_connected"
					role="tabpanel"
					aria-labelledby="follows-sub-tab-connected"
					ng-if="isSignedIn && isMe">
					<p class="empty" ng-if="follows.data.connections.length == 0">
						You currently have no connections
					</p>
					<div ng-repeat="item in follows.data.connections" class="feed-listing">
						<%= render 'users/member_card' %>
					</div>
				</div>

			</div>
		</section>


	<script id="editProfilePhoto" type="script/x-mustache">
		<%= render partial: 'edit_photo_modal', locals: { type: "profile" } %>
	</script>

	<script id="editCoverPhoto" type="script/x-mustache">
		<%= render partial: 'edit_photo_modal', locals: { type: "cover" } %>
	</script>
</section>

<script id="allUserExchanges" type="script/x-mustache">
	<%= render partial: 'user_exchanges/all_modal' %>
</script>

<script id="requiresConnectionInfoBox" type="script/x-mustache">
	<%= render partial: 'follows/no_connection_modal' %>
</script>

<script id="deleteOthersComment" type="script/x-mustache">
	<%= render partial: 'comments/delete_others_modal' %>
</script>

<script id="confirmBlock" type="script/x-mustache">
	<%= render partial: 'blocks/confirm_modal' %>
</script>

<script id="thirdPartySharing" type="script/x-mustache">
	<%= render partial: 'third_party_articles/sharing_modal' %>
</script>
