<section ng-controller="ProfileController" class="show-profile" data-user-id="<%= @user.id %>">

	<div ng-show="profile.loaded && profile.loadError" class="container mt-4">
		<div class="alert alert-danger">
			<p>{{profile.loadError}}</p>
		</div>
	</div>
	<div class="ajax_loading profile" ng-show="!profile.loaded">Loading profile...</div>

	<section class="cover_photo justify-content-center"
					ng-show="profile.loaded && !profile.loadError && mode == 'view'"
					ng-style="{'background-image':'url('+profile.data.coverPhoto.image+')'}"
					ng-click="editCoverPhoto()" ng-class="{'editable': profile.isMe}">
		<div class="col-12">
			<a ng-click="editCoverPhoto()" href='#' class="align-middle" ng-if="profile.isMe && profile.data.coverPhoto.image.length == 0">
				<i class="fas fa-image"></i>
			</a>
		</div>
	</section>

	<section class="container d-flex" id="basic_info" ng-show="profile.loaded && !profile.loadError && mode == 'view'">
		<div ng-style="{'background-image':'url('+profile.data.profilePhoto.image+')'}"
				 class="profile_circle_image rounded-circle" ng-click="editProfilePhoto()"></div>
		<div class="pl-3">
			<h5>{{ profile.data.displayName }}</h5>
			<h6 class="text-muted">{{ profile.data.originalUsername }}</h6>
		</div>
	</section>

	<section class="container d-flex" class="d-flex" id="stats_info" ng-show="profile.loaded && !profile.loadError && mode == 'view'">
		<div class="stats p-2 flex-fill">
			<label>Ratings</label>
			<span>{{ profile.data.ratings.length }}</span>
		</div>
		<div class="stats p-2 flex-fill" ng-click="openFollowsPanel('followers')">
			<label>Followers</label>
			<span>{{ profile.data.followers.length }}</span>
		</div>
		<div class="stats p-2 flex-fill" ng-click="openFollowsPanel('following')">
			<label>Following</label>
			<span>{{ profile.data.followings.length }}</span>
		</div>
	</section>

	<% if user_signed_in? %>
	<section class="container" ng-show="profile.loaded && !profile.loadError && mode == 'view'">
		<button class="btn btn-outline-success btn-block mt-3 mb-4"
							ng-click="editProfile()"
							ng-show="profile.isMe">Edit Profile</button>

		<button class="btn btn-outline-success btn-block mt-3 mb-4" ng-click="toggleFollowUser(<%= @user.id %>)"
						ng-show="!profile.isMe && !profile.data.imFollowing">
			<i class="fas fa-users mr-2"></i>
			Follow
		</button>
		<button class="btn btn-success btn-block mt-3 mb-4" ng-click="toggleFollowUser(<%= @user.id %>)"
							ng-show="!profile.isMe && profile.data.imFollowing">
			<i class="fas fa-users mr-2"></i>
			Following
		</button>
	</section>
	<% end %>

	<section class="container" id="more_info" ng-show="profile.loaded && !profile.loadError && mode == 'view'">
		<p>
			<i class="fas fa-calendar-alt"></i> <span class="pl-3">Joined {{profile.data.joinedAt}}</span>
		</p>

		<p ng-if="profile.data.location.length > 0">
			<i class="fas fa-map-marker-alt"></i>
			<span class="pl-3">{{ profile.data.location }}</span>
		</p>
		<p ng-if="!profile.data.location || profile.data.location.length == 0">
			<a href='#' ng-click="editProfile()">
				<i class="fas fa-map-marker-alt"></i>
				<span class="pl-3">Add Location</span>
			</a>
		</p>

		<p ng-if="profile.data.bio.length > 0">
			{{ profile.data.bio }}
		</p>
		<p ng-if="!profile.data.bio || profile.data.bio.length == 0">
			<a href='#' ng-click="editProfile()">
				<i class="far fa-plus-square"></i>
				<span class="pl-3">Add Bio</span>
			</a>
		</p>
	</section>

	<section class="my-4" id="public_activity" ng-show="profile.loaded && !profile.loadError && mode == 'view'">
		<ul class="nav nav-tabs nav-fill d-flex">
		  <li class="nav-item">
		    <a class="nav-link active" href="#" ng-click="selectTab('all', $event)" ng-class="{'active': selectedTab == 'all'}">
		      All
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#" ng-click="selectTab('ratings', $event)" ng-class="{'active': selectedTab == 'ratings'}">
		      Ratings
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#" ng-click="selectTab('shares', $event)" ng-class="{'active': selectedTab == 'shares'}">
		      Shares
		    </a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="#" ng-click="selectTab('exchanges', $event)" ng-class="{'active': selectedTab == 'exchanges'}">
		      Exchanges
		    </a>
		  </li>
		</ul>

		<div class="" id="feed">
			<div class="pt-4 results_block" ng-if="(selectedTab == 'all' || selectedTab == 'ratings') && profile.data.ratings.length > 0">
				<h6 class="px-2 py-3 block_heading" ng-if="selectedTab == 'all'">Ratings</h6>
				<p class="empty_resource" ng-show="profile.data.ratings.length == 0">You have not yet rated any articles</p>
				<div ng-repeat="article in profile.data.ratings" class="feed-listing feed-article">
					<%= render 'articles/card' %>
				</div>
				<div class="view_all px-2 py-2 mb-2" ng-if="selectedTab == 'all' && profile.data.ratings.length > profile.allLimit">
					<a href='#' ng-click="selectTab('ratings', $event)">View all</a>
				</div>
			</div>

			<div class="pt-4 results_block" ng-if="(selectedTab == 'all' || selectedTab == 'shares') && profile.data.shares.length > 0">
				<h6 class="px-2 py-3 block_heading" ng-if="selectedTab == 'all'">Shares</h6>
				<p class="empty_resource" ng-show="profile.data.shares.length == 0">You have not yet shared any articles</p>
				<div ng-repeat="article in profile.data.shares" class="feed-listing feed-article">
					<%= render 'articles/card' %>
				</div>
				<div class="view_all px-2 py-2 mb-2" ng-if="selectedTab == 'all' && profile.data.shares.length > profile.allLimit">
					<a href='#' ng-click="selectTab('shares', $event)">View all</a>
				</div>
			</div>

			<div class="pt-4 results_block" ng-if="(selectedTab == 'all' || selectedTab == 'exchanges') && profile.data.exchanges.length > 0">
				<h6 class="px-2 py-3 block_heading" ng-if="selectedTab == 'all'">Exchanges</h6>
				<p class="empty_resource" ng-show="profile.data.exchanges.length == 0">Not following any Exchanges</p>
				<div ng-repeat="exchange in profile.data.exchanges" class="feed-listing">
					<%= render 'exchanges/card' %>
				</div>
				<div class="view_all px-2 py-2 mb-2" ng-if="selectedTab == 'all' && profile.data.exchanges.length > profile.allLimit">
					<a href='#' ng-click="selectTab('exchanges', $event)">View all</a>
				</div>
			</div>
		</div>
	</section>


	<div class="overlay edit_profile" ng-show="mode == 'edit'"></div>

	<!-- Edit profile fields -->
	<section id="edit_profile_form_box" ng-if="mode == 'edit'">
		<div class="cover_photo" class="justify-content-center"
					ng-style="{'background-image':'url('+profile.data.coverPhoto.image+')'}"
					ng-click="editCoverPhoto()" ng-class="{'editable': profile.isMe}">
			<a ng-click="editCoverPhoto()" href='#' class="align-middle">
				<i class="fas fa-image"></i>
			</a>
		</div>

		<div ng-style="{'background-image':'url('+profile.data.profilePhoto.image+')'}"
				class="profile_circle_image rounded-circle" id="edit_profile_photo_inside">
			<a ng-click="editProfilePhoto()" href='#' class="align-middle" ng-if="mode == 'edit'">
				<i class="fas fa-image"></i>
			</a>
		</div>

		<% if user_signed_in? %>
		<div class="container py-4">
    	<p ng-show="profile.errors.main" class="alert alert-danger">{{profile.errors.main}}</p>
			<%= form_for(current_user, url: "/users") do |f| %>
			  <div class="form-group">
			    <%= f.label :display_name %><br />
		    	<p ng-show="profile.errors.displayName" class="alert alert-danger">{{profile.errors.displayName}}</p>
			    <%= f.text_field :display_name, autofocus: true, class: "form-control", required: '', 'ng-model': "profile.data.displayName" %>
			  </div>

			  <div class="form-group">
			    <%= f.label :username %><br />
		    	<p ng-show="profile.errors.username" class="alert alert-danger">{{profile.errors.username}}</p>
		    	<div class="input-group mb-2">
  	        <div class="input-group-prepend">
  	          <div class="input-group-text">@</div>
  	        </div>
				    <%= f.text_field :username, autofocus: true, class: "form-control", required: '', 'ng-model': "profile.data.username" %>
				  </div>
				</div>

			  <div class="form-group">
			    <%= f.label :location %><br />
		    	<p ng-show="profile.errors.location" class="alert alert-danger">{{profile.errors.location}}</p>
			    <%= f.text_field :location, class: "form-control", 'ng-model': "profile.data.location" %>
			  </div>

	  	  <div class="form-group">
	  	    <%= f.label :bio %><br />
	      	<p ng-show="profile.errors.bio" class="alert alert-danger">{{profile.errors.bio}}</p>
	  	    <%= f.text_area :bio, class: "form-control", 'ng-model': "profile.data.bio", rows: 6, maxlength: bio_max_length %>
	  	    <p class="hint text-right pr-1">
	  	    	<small ng-if="!profile.data.bio.length"><%= bio_max_length %> character maximum</small>
	  	    	<small ng-if="profile.data.bio.length">{{profile.data.bio.length}} / <%= bio_max_length %> characters</small>
	  	    </p>
	  	  </div>

	  	  <div class="buttons d-flex justify-content-between pt-3">
	  	  	<button ng-click="cancelEditProfile($event)" class="btn btn-outline-success">Cancel</button>
	  	  	<button ng-click="saveProfile($event)" class="btn btn-success">Save</button>
	  	  </div>
			<% end %>
		</div>
		<% end %>
	</section>

		<!-- Follows panel -->
		<section id="follows_box" ng-if="mode == 'follows'" ng-controller="FollowsController" data-user-id="<%= @user.id %>" data-current-user-id="<%= user_signed_in? ? current_user.id : nil %>">
			<div class="header_bar_overlay d-flex justify-content-between">
				<div>
					<h3 ng-if="panelTab == 'following'" class="mb-0 mt-0">
						<span ng-if="!isMe">Followed by</span>
						<span ng-if="isMe">Following</span>
					</h3>
					<h3 ng-if="panelTab == 'followers'" class="mb-0 mt-0">
						<span ng-if="!isMe">Followers of</span>
						<span ng-if="isMe">Followers</span>
					</h3>
					<h3 ng-if="panelTab == 'you_know' && !isMe" class="mb-0 mt-0">Known followers of</h3>
					<h3 ng-if="panelTab == 'connected' && isMe" class="mb-0 mt-0">You follow each other</h3>
					<h5 class="text-muted mb-1"><%= @user.username %></h5>
				</div>

				<a href='#' ng-click="closeFollowsPanel()" class="closer mt-1">
					<i class="fas fa-times"></i>
				</a>
			</div>
			<nav id="follows_options" class="sub_tabs">
				<ul class="nav nav-pills nav-fill d-flex">
					<li class="nav-item">
					  <a class="nav-link active" id="follows-sub-tab-following"
					  			data-toggle="tab" href="#follows_following"
					  			ng-click="setPanelTab('following')">
					    Following
					  </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" id="follows-sub-tab-followers"
					  			data-toggle="tab" href="#follows_followers"
					  			ng-click="setPanelTab('followers')">
					    Followers
					  </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" id="follows-sub-tab-you_know"
					  			data-toggle="tab" href="#follows_you_know"
					  			ng-click="setPanelTab('you_know')"
					  			ng-if="!isMe">
					    Followers you know
					  </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" id="follows-sub-tab-connected"
					  			data-toggle="tab" href="#follows_connected"
					  			ng-click="setPanelTab('connected')"
					  			ng-if="isMe">
					    Connected
					  </a>
					</li>
				</ul>
			</nav>

			<div class="tab-content container pt-2 px-1">
				<div class="tab-pane fade show active"
					id="follows_following"
					role="tabpanel"
					aria-labelledby="follows-sub-tab-following">
					<div ng-repeat="member in follows.followings" class="feed-listing">
						<%= render 'users/member_card' %>
					</div>
				</div>

				<div class="tab-pane fade"
					id="follows_followers"
					role="tabpanel"
					aria-labelledby="follows-sub-tab-followers">
					<div ng-repeat="member in follows.followers" class="feed-listing">
						<%= render 'users/member_card' %>
					</div>
				</div>

				<div class="tab-pane fade"
					id="follows_you_know"
					role="tabpanel"
					aria-labelledby="follows-sub-tab-you_know"
					ng-if="!isMe">
					<div ng-repeat="member in follows.followers" class="feed-listing">
						<div ng-if="inMyFollowers(member)">
							<%= render 'users/member_card' %>
						</div>
					</div>
				</div>

				<div class="tab-pane fade"
					id="follows_connected"
					role="tabpanel"
					aria-labelledby="follows-sub-tab-connected"
					ng-if="isMe">
					<div ng-repeat="member in follows.followings" class="feed-listing">
						<div ng-if="inFollowers(member)">
							<%= render 'users/member_card' %>
						</div>
					</div>
				</div>

			</div>
		</section>


	<script id="editProfilePhoto" type="script/x-mustache">
		<%= render partial: 'edit_photo_modal', locals: { type: "profile" } %>
	</script>

	<script id="editCoverPhoto" type="script/x-mustache">
		<%= render partial: 'edit_photo_modal', locals: { type: "cover" } %>
	</script>

</section>