<section ng-controller="SuggestionsController" ng-cloak class="container" data-full-page-suggestions="1">
	<div class="row" ng-cloak>
		<section class="col-md-0 col-lg-3 pl-md-0 pl-xl-2" id="left_col">
			<div id="front_page_profile_card" class="mt-3 pb-3 mb-4">

				<div id="cover_photo"
						class="cover_photo"
						style="background-image: url('<%= current_user.cover_photo.url(:desktop) %>')">
				</div>

				<div class="d-flex">
					<a href="/my-profile">
						<img src="<%= current_user.profile_photo.url(:square) %>" class="profile_image rounded-circle" alt="<%= current_user.display_name %>" />
					</a>

					<div class="pl-2">
						<h5 class="mb-0 mt-2">
							<a href="/my-profile">
								<%= current_user.display_name %>
							</a>
						</h5>
						<h6 class="mb-2">
							<a href="/my-profile" class="text-muted">
								<small><%= current_user.username %></small>
							</a>
						</h6>
					</div>
				</div>

				<div class="d-flex" id="stats_info" ng-cloak>
					<div class="stats p-1 flex-fill" ng-click="openMyProfile($event, 'ratings')">
						<label>Ratings</label>
						<span><%= current_user.ratings_count %></span>
					</div>
					<div class="stats p-1 flex-fill" ng-click="openMyProfile($event, 'followers')">
						<label>Followers</label>
						<span>{{followCounts.followers}}</span>
					</div>
					<div class="stats p-1 flex-fill" ng-click="openMyProfile($event, 'following')">
						<label>Following</label>
						<span>{{followCounts.followings}}</span>
					</div>
				</div>
			</div>

			<div class="card w-100 mb-4" id="trending_exchanges_card">
				<div class="card-header">
					<h5 class="card-title">Trending exchanges</h5>
				</div>
				<div class="card-body">
					<% @trending_exchanges.each do |exchange| %>
						<div class="exchange_item d-flex align-items-center justify-content-start mb-4">
							<a href="<%= exchange_path(slug: exchange.slug) %>">
								<img ng-src="<%= exchange.image.url(:listing) %>" class="mr-3" alt="<%=exchange.name%>" />
							</a>

							<div class="inner">
								<h5 class="card-title mb-0">
									<a href="<%= exchange_path(slug: exchange.slug) %>">
										<span><%= exchange.name %></span>
									</a>
								</h5>
							</div>
						</div>
					<% end %>
				</div>
			</div>

			<section id="feed_journalist_spotlight" class="callout card w-100 mt-4">
				<div class="card-header">
					<h5 class="card-title">Contributor spotlight</h5>
				</div>
				<div class="card-body pt-1">
					<% @contributors_for_spotlight.each do |contributor| %>
						<article class="row my-4">
							<div class="col-5">
								<a href="<%= contributor_path(slug: contributor.slug) %>">
									<% if contributor.image? %>
										<img src="<%= contributor.image.url(:detail) %>" alt="<%= contributor.display_name %>" />
									<% end %>
								</a>
							</div>
							<div class="col-7 pt-0 pt-md-2 pl-md-1 pr-md-0 pl-lg-0">
								<h5 class="mb-1">
									<a href="<%= contributor_path(slug: contributor.slug) %>">
										<%= contributor.display_name %></a>
								</h5>
								<% if contributor.title %>
									<p class="mb-0">
										<%= contributor.title %>
									</p>
								<% end %>
							</div>
						</article>
					<% end %>
					<a class="btn btn-block btn-standard mt-2 mb-2" href="/contributors">See More</a>
				</div>
			</section>

			<% unless current_user.has_full_profile? %>
			<div class="call-to-action-card card">
				<div class="card-header">
					<h5 class="card-title">Fill out your profile</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Add information and photos to your profile to help people find you</p>
					<a href="<%= my_profile_path %>" class="btn btn-success btn-block">My Profile</a>
				</div>
			</div>
			<% end %>
		</section>

		<section class="col-md-12 col-lg-6" id="feed">
			<ul class="bg-white nav nav-tabs nav-fill d-flex mt-3" id="home_feed_tabs">
			  <li class="nav-item">
				  <a class="nav-link active h-100" id="suggestions-sub-tab-for_you" data-toggle="tab" href="#suggestions_for_you">
				    <label>Suggested for you</label>
				  </a>
			  </li>
			  <li class="nav-item">
			  	<a class="nav-link h-100" id="suggestions-sub-tab-popular" data-toggle="tab" href="#suggestions_popular">
			  	  <label>Popular with people you follow</label>
			  	</a>
			  </li>
			</ul>

			<div class="container" id="activity-tabs">
				<div class="tab-content">
					<div class="tab-pane fade show active pt-3"
						id="suggestions_for_you"
						role="tabpanel"
						aria-labelledby="suggestions-sub-tab-for_you">
						<div class="row">
							<p class="mb-0 py-4 px-5 col-12" ng-if="suggestions.forYous.length == 0">There are currently no suggestions of members for you</p>
							<div ng-repeat="item in suggestions.forYous" class="col-6 feed-listing feed-follow">
								<%= render 'users/member_card', locals: { full_page: true } %>
							</div>
						</div>
					</div>

					<div class="tab-pane fade pt-3"
						id="suggestions_popular"
						role="tabpanel"
						aria-labelledby="suggestions-sub-tab-popular">
						<div class="row">
							<p class="mb-0 py-4 px-5 col-12" ng-if="suggestions.populars.length == 0">There are currently no suggestions of members who are popular with people you follow</p>
							<div ng-repeat="item in suggestions.populars" class="col-6 feed-listing feed-follow">
								<%= render 'users/member_card', locals: { full_page: true } %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<div class="col-md-0 col-lg-3 px-0 mt-3" id="callouts">
			<section id="trending_articles" class="callout card w-100">
				<div class="card-header">
					<h5 class="card-title">Latest articles</h5>
				</div>
				<div class="card-body pt-1">
					<% @trending_articles.each do |ta| %>
						<article class="row mt-3 px-0<%= ta.is_sponsored? ? ' sponsored_article' : '' %>">
							<div class="col-12">
								<% if(ta.is_sponsored?) %>
									<a href='/sponsors' class="sponsored">
										<i class="fas fa-star"></i>
										SPONSORED
									</a>
								<% end %>
								<h5 class="pb-0 mb-0">
									<a href="<%= article_path(ta) %>">
										<%= ta.title.html_safe %>
									</a>
								</h5>
								<% footerPaddingBottom = ta.is_sponsored? ? 'pb-4' : 'pb-0' %>
								<footer class="entry-footer pl-0 pt-0 <%= footerPaddingBottom %>">
									<p class="author_link">
										<a href="<%= contributor_path(slug: ta.author.slug) %>">
											by <span><%= ta.author.display_name.html_safe %></span>
										</a>
										<span class="entry-date">
											<%= article_date(ta) %>
										</span>
									</p>
								</footer>
							</div>
						</article>
					<% end %>
				</div>
			</section>
		</div>
	</div>
</section>