<% meta_tag :image, asset_url("social-logo-square.png") %>

<section ng-controller="HomeController" data-per-page="<%= articles_per_page %>" ng-cloak <%= ' data-force-profile-wizard=1' if user_signed_in? && !current_user.has_completed_wizard? %>>
	<div class="container mt-4 mt-md-5 slick-carousel-title">
	  <h1 class="bullet cloak">Trending articles</h1>
	</div>

	<%= if @articles_for_carousel.any?
		render partial: 'carousels/articles', locals: { articles: @articles_for_carousel }
	end %>


	<%= render partial: 'articles/listings', locals: {
			block_id: 'editorsPicks',
			title: "Editor's picks"
		} %>
	<div class="ajax_loading editors_picks" ng-show="editorsPicks.loading">Loading Editor's picks</div>

	<% if browser.device.mobile? %>
		<div class="mb-5">
			<div class="container mt-4 mt-md-5 slick-carousel-title">
			  <h1 class="bullet">Sponsored picks</h1>
			</div>
			<%= render partial: 'carousels/articles', locals: { articles: @sponsored_picks } %>
		</div>
	<% else %>
		<%= render partial: 'articles/listings', locals: {
			block_id: 'sponsoredPicks',
			title: "Sponsored picks",
		} %>
	<% end %>
	<div class="ajax_loading sponsored_picks" ng-show="sponsoredPicks.loading">Loading sponsored articles</div>

	<div class="mb-md-3">
		<%= if @trending_exchanges.any?
			render partial: 'carousels/trending-exchanges', locals: { exchanges: @trending_exchanges }
		end %>
	</div>

	<%= render partial: 'common/page-bottom', locals: {
			spotlight_heading: 'Contributor spotlight',
			contributors: @contributors_for_spotlight,
			recent_articles: @recent_articles
		} %>
</section>

<% if user_signed_in? && !current_user.has_completed_wizard? %>
<script id="profileWizard" type="script/x-mustache">
  <%= render partial: 'profile_wizard/new_modal' %>
</script>
<% end %>