<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<nav id="admin_sidenav" class="navigation" role="navigation" ng-controller="NavController">
	<div id="logo">
	  <a href="/?force_home=1" target="_blank" style="" title="Open main website in another window">
	  </a>
	</div>

	<h3>Users</h3>
	<ul>
		<li>
			<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/users') %>" href="/admin/users">Search</a>
		</li>
		<li ng-repeat="userTab in userTabs"
					class="d-flex bg-white p-2 justify-content-between"
					ng-hide="userTabs.length == 0" ng-cloak>
			<h5><a href='#' ng-click="openAccountPage(userTab, $event)">{{userTab.name}}</a></h5>
			<a ng-click="closeAccountPage(userTab, $event)" href='#' class="text-black">
				<i class="fa fa-times"></i>
			</a>
		</li>
		<li>
			<span class="navigation__link">Concern reports</span>
			<ul class="children">
				<li>
					<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/user_concern_reports') %>" href="/admin/user_concern_reports">- Profiles <span class="badge attention"><%= user_concern_report_count %></span></a>
				</li>
				<li>
					<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/comment_concern_reports') %>" href="/admin/comment_concern_reports">- Comments <span class="badge attention"><%= comment_concern_report_count %></span></a>
				</li>
				<li>
					<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/share_concern_reports') %>" href="/admin/share_concern_reports">- Posts <span class="badge attention"><%= share_concern_report_count %></span></a>
				</li>
				<li>
					<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/processed_concern_reports') %>" href="/admin/processed_concern_reports">- Archive <span class="badge"><%= processed_concern_report_count %></span></a>
				</li>
			</ul>
		</li>
		<li>
			<span class="navigation__link">Third party shares</span>
			<ul class="children">
				<li>
					<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/quarantined_third_party_shares') %>" href="/admin/quarantined_third_party_shares">Pending <span class="badge attention"><%= quarantined_post_count %></span></a>
				</li>
				<li>
					<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/approved_third_party_shares') %>" href="/admin/approved_third_party_shares">Approved <span class="badge"><%= approved_post_count %></span></a>
				</li>
				<li>
					<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/rejected_third_party_shares') %>" href="/admin/rejected_third_party_shares">Rejected <span class="badge"><%= rejected_post_count %></span></a>
				</li>
			</ul>
		</li>
		<li>
			<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/watch_list_users') %>" href="/admin/watch_list_users">Watchlist</a>
		</li>
		<li>
			<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/black_list_users') %>" href="/admin/black_list_users">Blacklist</a>
		</li>
	</ul>

	<h3>Content</h3>
	<ul>
		<li>
			<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/articles') %>" href="/admin/articles">Articles</a>
		</li>
		<li>
			<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/white_listed_third_party_publishers') %>" href="/admin/white_listed_third_party_publishers">Publication whitelist</a>
		</li>
		<li>
			<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/help_sections') %>" href="/admin/help_sections">Help centre</a>
		</li>
	</ul>

	<h3>Logs</h3>
	<ul>
		<li>
			<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/wordpress_logs') %>" href="/admin/wordpress_logs">Articles from WP</a>
		</li>
		<li>
			<a class="navigation__link navigation__link--<%= 'active' if request.path.include?('/admin/email_logs') %>" href="/admin/email_logs">Emails to users</a>
		</li>
	</ul>

</nav>

<script id="user_account_html" type="text/html">
	<div class="user_account_page" data-id="{{userForBox.id}}">
		<h1>{{userForBox.displayName}}</h1>
		<p>profileStatus: {{userForBox.profileStatus}}</p>
	</div>
</script>
