<div class="tab-pane fade" id="content-follows"
			role="tabpanel"
			aria-labelledby="follows-tab"
			ng-controller="FollowsController"
			 data-user-id="<%= current_user.id %>"
			 data-current-user-id="<%= current_user.id %>" ng-cloak>

		<nav id="follows_options" class="sub_tabs">
			<ul class="nav nav-pills nav-fill d-flex">
				<li class="nav-item">
				  <a class="nav-link active" id="follows-sub-tab-following" data-toggle="tab" href="#follows_following">
				    Following
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" id="follows-sub-tab-followers" data-toggle="tab" href="#follows_followers">
				    Followers
				  </a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" id="follows-sub-tab-connections" data-toggle="tab" href="#follows_connections">
				    Connected
				  </a>
				</li>
			</ul>
		</nav>

		<div class="tab-content container pt-2 px-1">
			<div class="tab-pane fade show active"
				id="follows_following"
				role="tabpanel"
				aria-labelledby="follows-sub-tab-following">
				<p class="empty" ng-if="follows.data.followings.length == 0">
					You are currently not following anyone
				</p>
				<div ng-repeat="item in follows.data.followings" class="feed-listing">
					<%= render 'users/member_card' %>
				</div>
			</div>

			<div class="tab-pane fade"
				id="follows_followers"
				role="tabpanel"
				aria-labelledby="follows-sub-tab-followers">
				<p class="empty" ng-if="follows.data.followers.length == 0">
					You are currently not being followed by anyone
				</p>
				<div ng-repeat="item in follows.data.followers" class="feed-listing">
					<%= render 'users/member_card' %>
				</div>
			</div>

			<div class="tab-pane fade"
				id="follows_connections"
				role="tabpanel"
				aria-labelledby="follows-sub-tab-connections">
				<p class="empty" ng-if="follows.data.connections.length == 0">
					You currently have no connections
				</p>
				<div ng-repeat="item in follows.data.connections" class="feed-listing">
					<%= render 'users/member_card' %>
				</div>
			</div>
		</div>
</div>