<div class="tab-pane fade pt-2 show active" id="content-front-page"
	role="tabpanel"
	aria-labelledby="front-page-tab"
	 ng-controller="FrontPageController"
	 data-latest-time="<%= @latest_activity_time.to_i %>" ng-cloak>
		<div class="container">
			<div class="alert alert-success mb-3 mt-3" ng-show="showWelcome">
				<h4 class="alert-success mt-3">Thank you for registering on TheArticle.</h4>
				<p class="alert-success">Instructions for confirming email address here. Instructions for confirming email address here. Instructions for confirming email address here. Instructions for confirming email address here. </p>
			</div>

			<div class="alert alert-success mb-3 mt-3" ng-show="showPasswordChangedThanks" ng-cloak>
				<p class="alert-success">Thanks, your password has been changed.</p>
			</div>

			<section id="feed" class="front_page_page">
				<div class="mb-0 mt-3 px-2 py-1 mb-3 results_block row feed-listing">
          <textarea name="third_party_article_url"
                      id="third_party_article_url_phantom"
                      ng-keyup="openThirdPartySharingPanelIfEnterPressed($event)"
                      ng-focus="expandThirdPartySharingTextarea($event)"
                      ng-blur="contractThirdPartySharingTextarea($event)"
                      ng-paste="openThirdPartySharingPanelFromPaste($event)"
                      placeholder="What are you reading?"
                      class="form-control w-100"></textarea>
				</div>

				<div ng-if="feeds.loaded" class="results_block row"
							ng-class="{'empty': feeds.data.length == 0}">
					<p class="col-12 empty_resource" ng-if="feeds.data.length == 0">
						<span>There is no activity to show here</span>
					</p>

					<div ng-repeat="item in feeds.data" class="col-12 feed-listing pb-3 px-0 type-{{item.type}}"
								ng-class="{
									'feed-share': _.contains(['opinionAction', 'commentAction', 'share', 'rating', 'recentFollowingSummary', 'recentFollowedSummary', 'categorisation'], item.type),
									'feed-exchange': item.type == 'exchange',
									'feed-follow': item.type == 'follow',
									'feed-suggestion': item.type == 'suggestion'
								}" ng-show="item.isVisible != false">
							<div ng-if="item.type == 'share'"><%= render 'shares/card' %></div>
							<div ng-if="item.type == 'rating'"><%= render 'shares/card' %></div>
							<div ng-if="item.type == 'exchange'"><%= render 'exchanges/card' %></div>
							<div ng-if="item.type == 'commentAction'"><%= render 'comments/card' %></div>
							<div ng-if="item.type == 'opinionAction'"><%= render 'opinions/card' %></div>
							<div ng-if="item.type == 'follow'"><%= render 'follows/card' %></div>
							<div ng-if="item.type == 'categorisation'"><%= render 'categorisations/card' %></div>
							<div ng-if="item.type == 'suggestion'"><%= render 'carousels/profile-suggestions' %></div>
					</div>
				</div>

				<div class="ajax_loading feeds" ng-if="feeds.loading">Loading feeds...</div>

			</section>
	</div>
</div>

<script id="requiresConnectionInfoBox" type="script/x-mustache">
	<%= render partial: 'follows/no_connection_modal' %>
</script>

<script id="deleteOthersComment" type="script/x-mustache">
	<%= render partial: 'comments/delete_others_modal' %>
</script>

<script id="confirmBlock" type="script/x-mustache">
	<%= render partial: 'blocks/confirm_modal' %>
</script>

<script id="myFollowersOf" type="script/x-mustache">
	<%= render partial: 'follows/my_followers_of_modal' %>
</script>

<script id="opinionatorsOfShare" type="script/x-mustache">
	<%= render partial: 'user_shares/all_opinionators_modal' %>
</script>

<script id="commentersOnShare" type="script/x-mustache">
	<%= render partial: 'user_shares/all_commenters_modal' %>
</script>