<div class="tab-pane fade show active" id="content-front-page"
	role="tabpanel"
	aria-labelledby="front-page-tab"
	data-profile-deactivated="<%= current_user.profile_is_deactivated? ? 1 : 0 %>"
	ng-controller="FrontPageController" ng-cloak>

	 <ul class="bg-white nav nav-tabs nav-fill d-flex" id="home_feed_tabs">
			<li class="nav-item">
			  <a id="activity-articles-tab" class="pb-2 pt-3 nav-link active"
			  		ng-click="selectTab('articles', feeds.articles.firstLoaded)"
			  		ng-class="{'active': selectedTab == 'articles', 'disabled': !feeds.articles.firstLoaded}"
			  		ng-disabled="!feeds.articles.firstLoaded">
			    <label>Articles</label>
			  </a>
			</li>
			<li class="nav-item">
			  <a id="activity-posts-tab" class="pb-2 pt-3 nav-link"
			  		ng-click="selectTab('posts', feeds.posts.firstLoaded)"
			  		ng-class="{'active': selectedTab == 'posts', 'disabled': !feeds.posts.firstLoaded}"
			  		ng-disabled="!feeds.posts.firstLoaded">
			    <label>Posts</label>
			  </a>
			</li>
			<li class="nav-item">
			  <a id="activity-follows-tab" class="pb-2 pt-3 nav-link"
			  		ng-click="selectTab('follows', suggestionsLoaded)"
			  		ng-class="{'active': selectedTab == 'follows', 'disabled': !feeds.follows.firstLoaded}"
			  		ng-disabled="!feeds.follows.firstLoaded">
			    <label>Follow activity</label>
			  </a>
			</li>
		</ul>

		<div class="container">
			<div class="alert alert-success mb-3 mt-3" ng-show="showPasswordChangedThanks" ng-cloak>
				<p class="alert-success">Thanks, your password has been changed.</p>
			</div>

			<section id="feed" class="front_page_page">
				<div class="" id="activity-tabs">
					<div class="mb-0 mt-3 px-2 py-2 mb-3 results_block row feed-listing feed-third-party d-flex align-items-start justify-content-between">
						<img class="rounded-circle" alt="" src="<%= current_user.profile_photo.url(:square) %>" style="width: 34px; height: 34px;" />
	          <textarea name="third_party_article_url"
	                      id="third_party_article_url_phantom"
	                      ng-keyup="openThirdPartySharingPanelIfEnterPressed($event)"
	                      ng-focus="expandThirdPartySharingTextarea($event)"
	                      ng-blur="contractThirdPartySharingTextarea($event)"
	                      ng-paste="openThirdPartySharingPanelFromPaste($event)"
	                      placeholder="What are you reading?"
	                      class="form-control" style="width: 88%"></textarea>
					</div>

					<div class="ajax_loading feeds" ng-if="!feeds[selectedTab].firstLoaded">
					Loading <span>{{selectedTab}}</span>...</div>

					<!-- Articles Tab -->
					<div class="section_articles" ng-show="(selectedTab == 'articles')">

						<div ng-if="feeds.articles.firstLoaded" class="results_block row"
								ng-class="{'empty': feeds.articles.data.length == 0}">
							<p class="col-12 empty_resource" ng-if="feeds.articles.data.length == 0">
								<span>There is no activity to show here</span>
							</p>

							<div ng-repeat="item in feeds.articles.data" class="col-12 feed-listing pb-3 px-0 type-{{item.type}}"
										ng-class="{'feed-share': _.contains(['categorisation', 'featuredSponsoredPick'], item.type), 'feed-exchange': item.type == 'exchange'}" ng-show="(item.isVisible != false) && _.contains(['exchange', 'categorisation', 'suggestion', 'latestArticles', 'sponsoredPicks', 'trendingExchanges', 'featuredSponsoredPick'], item.type)">
									<div ng-if="item.type == 'exchange'"><%= render 'exchanges/card' %></div>
									<div ng-if="item.type == 'categorisation'"><%= render 'categorisations/card' %></div>
									<div ng-if="(item.type == 'suggestion') && (suggestions.length > 2)"><%= render 'carousels/profile-suggestions' %></div>
									<div ng-if="item.type == 'latestArticles'"><%= render 'carousels/latest_articles_for_feed' %></div>
									<div ng-if="item.type == 'sponsoredPicks'"><%= render 'carousels/sponsored_picks_for_feed' %></div>
									<div ng-if="item.type == 'trendingExchanges'"><%= render 'carousels/trending_exchanges_for_feed' %></div>
									<div ng-if="item.type == 'featuredSponsoredPick'"><%= render 'categorisations/card' %></div>
							</div>
						</div>
					</div>


					<!-- Posts Tab -->
					<div class="section_posts" ng-show="(selectedTab == 'posts')">
						<div ng-if="feeds.posts.firstLoaded" class="results_block row"
								ng-class="{'empty': feeds.posts.data.length == 0}">
							<p class="col-12 empty_resource" ng-if="feeds.posts.data.length == 0">
								<span>There is no activity to show here</span>
							</p>

							<div ng-repeat="item in feeds.posts.data"
										 class="col-12 feed-listing feed-share pb-3 px-0 type-{{item.type}}"
										 ng-show="(item.isVisible != false) && _.contains(['share', 'rating', 'commentAction', 'opinionAction', 'suggestion', 'latestArticles', 'sponsoredPicks', 'trendingExchanges', 'featuredSponsoredPick'], item.type)">
									<div ng-if="item.type == 'share'"><%= render 'shares/card' %></div>
									<div ng-if="item.type == 'rating'"><%= render 'shares/card' %></div>
									<div ng-if="item.type == 'commentAction'"><%= render 'comments/card' %></div>
									<div ng-if="item.type == 'opinionAction'"><%= render 'opinions/card' %></div>
									<div ng-if="(item.type == 'suggestion') && (suggestions.length > 2)"><%= render 'carousels/profile-suggestions' %></div>
									<div ng-if="item.type == 'latestArticles'"><%= render 'carousels/latest_articles_for_feed' %></div>
									<div ng-if="item.type == 'sponsoredPicks'"><%= render 'carousels/sponsored_picks_for_feed' %></div>
									<div ng-if="item.type == 'trendingExchanges'"><%= render 'carousels/trending_exchanges_for_feed' %></div>
									<div ng-if="item.type == 'featuredSponsoredPick'"><%= render 'categorisations/card' %></div>
							</div>
						</div>
					</div>


					<!-- Follow activity Tab -->
					<div class="section_follows" ng-show="(selectedTab == 'follows')">
						<div ng-if="feeds.follows.firstLoaded" class="results_block row"
								ng-class="{'empty': feeds.follows.data.length == 0}">
							<p class="col-12 empty_resource" ng-if="feeds.follows.data.length == 0">
								<span>There is no activity to show here</span>
							</p>

							<div ng-repeat="item in feeds.follows.data"
										 class="col-12 feed-listing feed-follow feed-share pb-3 px-0 type-{{item.type}}"
										 ng-show="(item.isVisible != false) && _.contains(['follow', 'suggestion', 'latestArticles', 'sponsoredPicks', 'trendingExchanges', 'featuredSponsoredPick'], item.type)">
									<div ng-if="item.type == 'follow'"><%= render 'follows/card' %></div>
									<div ng-if="(item.type == 'suggestion') && (suggestions.length > 2)"><%= render 'carousels/profile-suggestions' %></div>
									<div ng-if="item.type == 'latestArticles'"><%= render 'carousels/latest_articles_for_feed' %></div>
									<div ng-if="item.type == 'sponsoredPicks'"><%= render 'carousels/sponsored_picks_for_feed' %></div>
									<div ng-if="item.type == 'trendingExchanges'"><%= render 'carousels/trending_exchanges_for_feed' %></div>
									<div ng-if="item.type == 'featuredSponsoredPick'"><%= render 'categorisations/card' %></div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
</div>

<script id="requiresConnectionInfoBox" type="script/x-mustache">
	<%= render partial: 'follows/no_connection_modal' %>
</script>

<script id="deleteOthersComment" type="script/x-mustache">
	<%= render partial: 'comments/delete_others_modal' %>
</script>

<script id="confirmBlock" type="script/x-mustache">
	<%= render partial: 'blocks/confirm_modal' %>
</script>

<script id="myFollowersOf" type="script/x-mustache">
	<%= render partial: 'follows/my_followers_of_modal' %>
</script>

<script id="opinionatorsOfShare" type="script/x-mustache">
	<%= render partial: 'user_shares/all_opinionators_modal' %>
</script>

<script id="commentersOnShare" type="script/x-mustache">
	<%= render partial: 'user_shares/all_commenters_modal' %>
</script>