<p>Hello,</p>

<p>
New feedback form submission from <b><%= @feedback.name %> </b> as follows:
</p>

<p>
	<label><b>URL: </b></label>
	<span><%= @feedback.url %></span>
</p>
<p>
	<label><b>Device: </b></label>
	<span><%= @feedback.device %></span>
</p>
<p>
	<label><b>Platform: </b></label>
	<span><%= @feedback.platform %></span>
</p>
<p>
	<label><b>Browser: </b></label>
	<span><%= @feedback.browser %></span>
</p>
<p>
	<label><b>Comments: </b></label>
	<span><%= @feedback.comments %></span>
</p>

<p>Cheers!</p>
