<%#
# Show

This view is the template for the show page.
It renders the attributes of a resource,
as well as a link to its edit page.

## Local variables:

- `page`:
  An instance of [Administrate::Page::Show][1].
  Contains methods for accessing the resource to be displayed on the page,
  as well as helpers for describing how each attribute of the resource
  should be displayed.

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Show
%>

<% content_for(:title) { "Quarantined post by #{page.resource.user.account_name}" } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <%= content_for(:title) %>
  </h1>

  <div>
    <%= link_to(
      t("administrate.actions.edit_resource", name: page.page_title),
      [:edit, namespace, page.resource],
      class: "button",
    ) if valid_action?(:edit) && show_action?(:edit, page.resource) %>
  </div>
</header>

<section class="main-content__body" ng-controller="ThirdPartyShareController">
  <dl>
    <% page.attributes.each do |attribute| %>
      <dt class="attribute-label" id="<%= attribute.name %>">
      <%= t(
        "helpers.label.#{resource_name}.#{attribute.name}",
        default: attribute.name.titleize,
      ) %>
      </dt>

      <dd class="attribute-data attribute-data--<%=attribute.html_class%>"
          ><%= render_field attribute, page: page %></dd>
    <% end %>
  </dl>

  <div class="field-unit">
    <div class="field-unit__field form-actions">
      <button ng-click="approve($event, <%= page.resource.id %>)" id="approve" class="btn btn-block btn-success">Approve post</button>
      <button ng-click="approveAndWhitelist($event, <%= page.resource.id %>)" id="approve" class="btn btn-block btn-success">Approve post and add domain to whitelist</button>
      <button ng-click="reject($event, <%= page.resource.id %>)" id="reject" class="btn btn-block btn-danger">Delete post and send rejection email</button>
      <button ng-click="delete($event, <%= page.resource.id %>)" id="delete" class="btn btn-block btn-danger">Delete both post and user</button>
    </div>
  </div>
</section>
