<section ng-controller="RatingsHistoryController" class="container front-page" data-article-id="<%= @article.id %>">

	<div class="row" ng-cloak>
		<section class="col-md-0 col-lg-3 pl-md-0 pl-xl-2" id="left_col">

			<div class="card w-100 mb-4 mt-3" id="trending_exchanges_card">
				<div class="card-header">
					<h5 class="card-title">Trending exchanges</h5>
				</div>
				<div class="card-body">
					<% @trending_exchanges.each do |exchange| %>
						<div class="exchange_item d-flex align-items-center justify-content-start mb-4">
							<a href="<%= exchange_path(slug: exchange.slug) %>">
								<img ng-src="<%= exchange.image.url(:listing) %>" class="mr-3" alt="<%=exchange.name%>" />
							</a>

							<div class="inner">
								<h5 class="card-title mb-0">
									<a href="<%= exchange_path(slug: exchange.slug) %>">
										<span><%= exchange.name %></span>
									</a>
								</h5>
							</div>
						</div>
					<% end %>
				</div>
			</div>

			<section id="feed_journalist_spotlight" class="callout card w-100 mt-4">
				<div class="card-header">
					<h5 class="card-title">Contributor spotlight</h5>
				</div>
				<div class="card-body pt-1">
					<% @contributors_for_spotlight.each do |contributor| %>
						<article class="row my-4">
							<div class="col-5">
								<a href="<%= contributor_path(slug: contributor.slug) %>">
									<% if contributor.image? %>
										<img src="<%= contributor.image.url(:detail) %>" alt="<%= contributor.display_name %>" />
									<% end %>
								</a>
							</div>
							<div class="col-7 pt-0 pt-md-2 pl-md-1 pr-md-0 pl-lg-0">
								<h5 class="mb-1">
									<a href="<%= contributor_path(slug: contributor.slug) %>">
										<%= contributor.display_name %></a>
								</h5>
								<% if contributor.title %>
									<p class="mb-0">
										<%= contributor.title %>
									</p>
								<% end %>
							</div>
						</article>
					<% end %>
					<a class="btn btn-block btn-standard mt-2 mb-2" href="/contributors">See More</a>
				</div>
			</section>

			<% unless current_user.has_full_profile? %>
			<div class="call-to-action-card card">
				<div class="card-header">
					<h5 class="card-title">Fill out your profile</h5>
				</div>
				<div class="card-body">
					<p class="card-text">Add information and photos to your profile to help people find you</p>
					<a href="<%= my_profile_path %>" class="btn btn-success btn-block">My Profile</a>
				</div>
			</div>
			<% end %>
		</section>

		<section class="col-md-12 col-lg-6" id="feed">
			<div class="container" id="activity-tabs">

				<div class="section_posts">
					<div ng-if="!ratings.firstLoaded" class="ajax_loading">
						Loading article ratings....
					</div>

					<div ng-if="ratings.firstLoaded" class="results_block row"
							ng-class="{'empty': ratings.data.length == 0}">


						<p class="col-12 empty_resource" ng-if="ratings.data.length == 0">
							<span>There is no activity to show here</span>
						</p>

						<div class="article_box card col-12 feed-listing">
							<div class="inner">
								<h4 class="my-2">All ratings for article</h4>
								<div class="img_mask">
									<a ng-if="article.image" href="{{ article.path }}"
											ng-attr-target="{{(article.isRemote) ? '_blank' : undefined}}">
										<img ng-src="{{ article.image }}" alt="{{ article.title }}" class="w-100" />
									</a>
								</div>

								<a href="{{ article.exchange.path }}" class="exchange-badge bg-colour-{{ $index+1 }}-dark exchange-{{ article.exchange.slug }}"
									ng-if="article.exchange.name.length">
							    <span ng-if="article.exchange.isSponsored"><i class="fas fa-star"></i></span>
								  {{ article.exchange.name }}
								</a>


								<header class="entry-header pt-3 px-3" ng-class="{'pt-4': article.isRemote}">
									<h6 ng-if="article.remoteDomain.length > 0" style="text-transform: uppercase; margin: 0 0 8px;">{{article.remoteDomain}}</h6>

									<h4 class="entry-title mb-0" id="article-post-title-{{ article.id }}">
										<a href="{{ article.path }}" ng-bind-html="article.title"
												ng-attr-target="{{(article.isRemote) ? '_blank' : undefined}}"></a>
									</h4>
								</header>

								<div class="entry-content py-0 px-3" ng-class="{'pb-3': article.isRemote}">
									{{ article.snippet }}
								</div>

								<div class="member_ratings p-3">
									<ul class="w-100 justify-content-between">
										<li class="py-2 pl-2 d-flex justify-content-start align-items-start">
											<label class="w-75">Well argued:</label>
											<span class="rating"
														ng-class="{'faded': !article.ratingWwc}">
												{{article.ratingWwc}}
											</span>
										</li>
										<li class="py-2 pl-2 d-flex justify-content-start align-items-start">
											<label class="w-75">Interesting points:</label>
											<span class="rating"
														ng-class="{'faded': !article.ratingVpc}">
												{{article.ratingVpc}}
											</span>
										</li>
										<li class="py-2 pl-2 d-flex justify-content-start align-items-start">
											<label class="w-75">Agree with arguments:</label>
											<span class="rating"
														ng-class="{'faded': !article.ratingAc}">
												{{article.ratingAc}}
											</span>
										</li>
									</ul>
								</div>

								<footer class="entry-footer pt-1 px-3 pb-2" ng-if="article.author.name.length">
									<p class="author_link d-flex justify-content-between align-items-start">
										<a href="{{ article.author.path }}">by <span ng-bind-html="article.author.name"></span></a>
										<span class="entry-date">{{ article.publishedAt }}</span></p>
								</footer>
							</div>
						</div>

						<div ng-repeat="rating in ratings.data"
									 class="col-12 feed-listing feed-share pb-3 px-0">

								<!-- Rating card -->
								<div class="card">
								 	<div class="user_info d-flex justify-content-between align-items-start">

								 		<div class="user_info_inner d-flex align-items-start">
								 			<a href="{{rating.user.path}}">
								 				<img ng-src="{{rating.user.profilePhoto}}" alt="{{rating.user.displayName}}" class="mr-3 rounded-circle" />
								 			</a>
								 			<div>
								 				<h4 class="mb-3">
								 					<a href="{{rating.user.path}}">
								 						<b>{{rating.user.displayName}}</b>
								 						<span class="text-muted">{{rating.user.username}}</span>
								 						&bullet; <time>{{rating.date}}</time>
								 					</a>
								 				</h4>
								 			</div>
								 		</div>
								 	</div>

								 	<p class="post" ng-if="rating.post.length > 0" ng-bind="trustAsHtml(rating.post)"></p>

								 	<div class="member_ratings pt-3 px-3 mb-0 mt-1" ng-if="rating.wellWritten > 0 || rating.validPoints > 0 || rating.agree > 0">
								 		<ul class="dots">
								 			<li class="mb-3" ng-if="rating.wellWritten > 0">
								 				<div class="justify-content-start d-flex align-items-start">
								 					<label class="mr-3 mr-xl-4 w-25">Well argued: </label>
								 					<div class="dots">
								 						<span class="dot feed" ng-repeat="i in _.range(1, 6)">
								 							<span ng-class="{
								 								'filled': i <= rating.wellWritten,
								 								'empty': i > rating.wellWritten
								 							}">&nbsp;</span>
								 						</span>
								 					</div>
								 					<h6 class="text-green feed">
								 						{{rating.wellWrittenText}}
								 					</h6>
								 				</div>
								 			</li>

								 			<li class="mb-3" ng-if="rating.validPoints > 0">
								 				<div class="justify-content-start d-flex align-items-start">
								 					<label class="mr-3 mr-xl-4  w-25">Interesting: </label>
								 					<div class="dots">
								 						<span class="dot feed" ng-repeat="i in _.range(1, 6)">
								 							<span ng-class="{
								 								'filled': i <= rating.validPoints,
								 								'empty': i > rating.validPoints
								 							}">&nbsp;</span>
								 						</span>
								 					</div>
								 					<h6 class="text-green feed">
								 						{{rating.validPointsText}}
								 					</h6>
								 				</div>
								 			</li>

								 			<li class="mb-3" ng-if="rating.agree > 0">
								 				<div class="justify-content-start d-flex align-items-start">
								 					<label class="mr-3 mr-xl-4  w-25">Agree: </label>
								 					<div class="dots">
								 						<span class="dot feed" ng-repeat="i in _.range(1, 6)">
								 							<span ng-class="{
								 								'filled': i <= rating.agree,
								 								'empty': i > rating.agree
								 							}">&nbsp;</span>
								 						</span>
								 					</div>
								 					<h6 class="text-green feed">
								 						{{rating.agreeText}}
								 					</h6>
								 				</div>
								 			</li>
								 		</ul>
								 	</div>
								</div>

						</div>
					</div>
				</div>

			</div>
		</section>

		<div class="col-md-0 col-lg-3 px-0 mt-3" id="callouts">
			<section id="trending_articles" class="callout card w-100">
				<div class="card-header">
					<h5 class="card-title">Latest articles</h5>
				</div>
				<div class="card-body pt-1">
					<% @trending_articles.each do |ta| %>
						<article class="row mt-3 px-0<%= ta.is_sponsored? ? ' sponsored_article' : '' %>">
							<div class="col-12">
								<% if(ta.is_sponsored?) %>
									<a href='/sponsors' class="sponsored">
										<i class="fas fa-star"></i>
										SPONSORED
									</a>
								<% end %>
								<h5 class="pb-0 mb-0">
									<a href="<%= article_path(ta) %>">
										<%= ta.title.html_safe %>
									</a>
								</h5>
								<% footerPaddingBottom = ta.is_sponsored? ? 'pb-4' : 'pb-0' %>
								<footer class="entry-footer pl-0 pt-0 <%= footerPaddingBottom %>">
									<p class="author_link">
										<a href="<%= contributor_path(slug: ta.author.slug) %>">
											by <span><%= ta.author.display_name.html_safe %></span>
										</a>
										<span class="entry-date">
											<%= article_date(ta) %>
										</span>
									</p>
								</footer>
							</div>
						</article>
					<% end %>
				</div>
			</section>
		</div>
	</div>
</section>