<%#
# Collection

This partial is used on the `index` and `show` pages
to display a collection of resources in an HTML table.

## Local variables:

- `collection_presenter`:
  An instance of [Administrate::Page::Collection][1].
  The table presenter uses `ResourceDashboard::COLLECTION_ATTRIBUTES` to determine
  the columns displayed in the table
- `resources`:
  An ActiveModel::Relation collection of resources to be displayed in the table.
  By default, the number of resources is limited by pagination
  or by a hard limit to prevent excessive page load times

[1]: http://www.rubydoc.info/gems/administrate/Administrate/Page/Collection
%>

<table aria-labelledby="<%= table_title %>">
  <thead>
    <tr>
      <% collection_presenter.attribute_types.each do |attr_name, attr_type| %>
        <th class="cell-label
        cell-label--<%= attr_type.html_class %>
        cell-label--<%= collection_presenter.ordered_html_class(attr_name) %>"
        scope="col"
        role="columnheader"
        aria-sort="<%= sort_order(collection_presenter.ordered_html_class(attr_name)) %>">
        <a href='#' ng-click="reorder($event, '<%= attr_name %>')">
          <%= t(
            "helpers.label.#{collection_presenter.resource_name}.#{attr_name}",
            default: attr_name.to_s,
          ).titleize %>
          <span class="cell-label__sort-indicator cell-label__sort-indicator--<%= collection_presenter.ordered_html_class(attr_name) %>" ng-if="searchFields.sort == '<%= attr_name %>'">
            <svg aria-hidden="true">
              <use xlink:href="#icon-up-caret" />
            </svg>
          </span>
          </a>
        </th>
      <% end %>

      <!-- Verified stata -->
      <th scope="col"></th>

      <!-- View account -->
      <th scope="col"></th>

      <!-- View profile -->
      <th scope="col"></th>

      <!-- Message user -->
      <th scope="col"></th>

      <% if current_user.admin_level == 'super_admin' %>
        <!-- Destroy user -->
        <th scope="col"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
      <tr class="js-table-row" tabindex="0" ng-repeat="user in users">

        <td class="cell-data">{{user.id}}</td>
        <td class="cell-data">{{user.accountName}}</td>
        <td class="cell-data">{{user.displayName}}</td>
        <td class="cell-data">{{user.username}}</td>
        <td class="cell-data">{{user.email}}</td>
        <td class="cell-data">{{user.signedUp}}</td>
        <td class="cell-data">{{user.accountStatus}}</td>
        <td class="cell-data">{{user.profileStatus}}</td>

        <td>
          <span ng-if="user.confirmed">
            <i class="fas fa-flag text-green mr2"></i>
          </span>
          <span ng-if="user.watchlisted">
            <i class="fas fa-flag text-orange mr2"></i>
          </span>
          <span ng-if="user.blacklisted">
            <i class="fas fa-flag text-red mr2"></i>
          </span>
        </td>

        <td class="cell-data text-center text-slate">
          <small>
            <a href="/admin/users/{{user.id}}" class="action-edit">Account details</a>
          </small>
        </td>

        <td class="cell-data text-center text-slate" ng-if="user.slug.length > 0">
            <small>
              <a href="/profile/{{user.slug}}" target="_blank">Profile</a>
            </small>
        </td>

        <td class="cell-data text-center text-slate">
          <small>
            <a href="mailto:{{user.email}">Send email</a>
          </small>
        </td>

        <% if current_user.admin_level == 'super_admin' %>
        <td class="cell-data text-center text-red">
          <small>
            <a href="/admin/destroy_user?user_id={{user.id}}" data-method="delete">Destroy</a>
          </small>
        </td>
        <% end %>

      </tr>
  </tbody>
</table>
