<% page_title @contributor.display_name.html_safe %>
<% meta_tag :description, truncate(@contributor.blurb, length: 120) %>
<% if @contributor.image? %>
	<% meta_tag :image, @contributor.image.url(:detail) %>
<% end %>

<section ng-controller="ContributorsController" data-author="<%= @contributor.id %>" data-per-page="<%= articles_per_page %>">
	<header class="black_heading pt-4 pb-3 py-md-5 mb-4 mb-md-5">
		<div class="container">
			<div class="row">
				<div class="col-2 col-md-2 my-md-auto">
					<% if @contributor.image? %>
						<img src="<%= @contributor.image.url(:detail) %>" alt="<%= @contributor.display_name %>" />
					<% end %>
				</div>
				<div class="col-10 col-md-8 col-lg-5 pl-0 pl-md-2 pl-lg-3 pt-0 my-md-auto">
					<h1 class="text-white mb-0"><%= @contributor.display_name.html_safe %></h1>

					<% if @contributor.title.present? %>
						<h6 class="text-white mb-2 mt-1"><%= @contributor.title %></h6>
					<% end %>

					<% if @contributor.url.present? %>
						<h6><a href="<%= @contributor.url %>" target="_blank" class="text-colour-2 url">
							<span><%= strip_protocol(@contributor.url) %></span>
						</a></h6>
					<% end %>

					<% if @contributor.user.present? %>
						<h6 class="pt-md-2 pb-md-2">
							<a href="<%= profile_path(slug: @contributor.user.slug) %>" class="text-white article_account">
								<img src="<%= asset_url('capital-a-bg.png') %>" alt="The Article" />
								<span><%= @contributor.user.username %></span>
							</a>
						</h6>
					<% end %>

					<% if @contributor.twitter_handle.present? %>
						<h6><a href="https://twitter.com/<%= @contributor.twitter_handle %>" target="_blank" class="text-white twitter_handle">
							<i class="fab fa-twitter text-colour-2-light"></i>
							<span><%= @contributor.twitter_handle %></span>
						</a></h6>
					<% end %>

					<% if @contributor.instagram_username.present? %>
						<h6><a href="https://www.instagram.com/<%= @contributor.instagram_username %>" target="_blank" class="text-white instagram_username">
							<i class="fab fa-instagram text-colour-2-light"></i>
							<span><%= @contributor.instagram_username %></span>
						</a></h6>
					<% end %>

					<% if @contributor.facebook_url.present? %>
						<h6><a href="<%= @contributor.facebook_url %>" target="_blank" class="text-white facebook_url">
							<i class="fab fa-facebook-f text-colour-2-light"></i>
							<span><%= strip_protocol(@contributor.facebook_url) %></span>
						</a></h6>
					<% end %>

					<% if @contributor.youtube_url.present? %>
						<h6><a href="<%= @contributor.youtube_url %>" target="_blank" class="text-white youtube_url">
							<i class="fab fa-youtube text-colour-2-light"></i>
							<span><%= @contributor.display_name.html_safe %> on YouTube</span>
						</a></h6>
					<% end %>

				</div>
				<div class="d-hide d-lg-block col-lg-5 pl-0 pt-md-3 pt-lg-0 my-md-auto text-lg-right">
					<% if !browser.device.mobile? %>
						<p class="l-height-3 mb-0 text-white"><%= @contributor.blurb %></p>
					<% end %>
				</div>
			</div>
			<% if browser.device.mobile? %>
				<div class="row">
					<div class="col-12 pt-md-3">
						<p class="l-height-3 w-100 pr-2 mb-0 text-white l-height-1">
							<small><%= @contributor.blurb %></small>
						</p>
					</div>
				</div>
			<% end %>
		</div>
	</header>

	<%=
		render partial: 'articles/listings', locals: {
			block_id: 'contributorArticles',
			title: "Articles by #{@contributor.display_name.html_safe}"
		}
	%>
	<div class="ajax_loading contributor_articles" ng-show="contributorArticles.loading">Loading articles</div>

	<% if @contributors_for_carousel.any? %>
		<div class="container">
			<h2 class="h1 bullet mb-2 mb-md-3 slick-carousel-title">
				Other contributors
			</h2>
		</div>
		<%= render partial: 'carousels/contributors', locals: { contributors: @contributors_for_carousel } %>
	<% end %>

	<% if browser.device.mobile? && show_ads? %>
		<div class="ads_box single_mpu mx-auto align-middle text-center mb-4">
			<!-- /21757645549/thearticle_<%= ad_page_type %>/bottomsidecolumn -->
			<div id='div-gpt-ad-<%= ad_page_id %>-0'>
				<script>
					googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-0'); });
				</script>
			</div>
		</div>
	<% end %>
</section>