<div class='<%= ad_classes %>'>
	<!-- /21757645549/thearticle_<%= ad_page_type %>/unruly -->
	<div id='div-gpt-ad-<%= ad_page_id %>-<%= ad_type_id %>' style='height:2px; width:2px;'>
		<script>
			googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-4'); });
		</script>
	</div>
</div>