<div class='<%= ad_classes %>'>
	<!-- /<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/<%= ad_name %> -->
	<div id='div-gpt-ad-<%= ad_page_id %>-<%= ad_type_id %>'>
		<script>
			googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-<%= ad_type_id %>'); });
		</script>
	</div>
</div>