    <%= render('common/cookie-notice') unless is_mobile_app? %>

    <% unless user_signed_in? %>
      <%= render 'devise/registrations/new' %>

      <script id="signinBox" type="script/x-mustache">
        <%= render 'devise/sessions/new' %>
      </script>
      <script id="forgottenPasswordBox" type="script/x-mustache">
        <%= render 'devise/passwords/new' %>
      </script>
    <% end %>

    <script type="text/javascript">
      // Bootstrap the app
      var moduleName = "TheArticleNG";
      var injections = [
        'rails',
        'cp.ngConfirm',
        'ngSanitize',
        'ngCookies',
        'mgo-angular-wizard',
        'TheArticle.directives',
        'TheArticle.factories',
        'TheArticle.filters',
        'TheArticle.controllers'
      ];
      <% if page_requires_tinymce? %>
        injections.push('ui.tinymce');
      <% end %>
      window.App = angular.module(moduleName, injections);
      window.App.run(function ($rootScope) { $rootScope._ = _; });
      $(document).ready(function() {
        $('[ng-controller]').each(function(index, root) {
          if (!$(root).hasClass('ng-scope')) {
            angular.bootstrap($(root), [moduleName]);
          }
        })
      });
      window.appShowSearch = function() {
        angular.element('body').scope().$broadcast('search-clicked');
        return true;
      };
    </script>
    <%= javascript_include_tag 'mobile', 'data-turbolinks-track': 'reload' %>

    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>

    <% if Rails.env == 'production' %>
      <script id="parsely-cfg" data-parsely-site="thearticle.com" src="//cdn.parsely.com/keys/thearticle.com/p.js"></script>
    <% end %>

    <% if is_testing_environment? %>
      <script id="testDomainInterstitial" type="script/x-mustache">
        <%= render 'testing/domain_interstitial' %>
      </script>

      <script id="testDomainFeedbackForm" type="script/x-mustache">
        <%= render 'testing/feedback_form' %>
      </script>

      <a href='#' ng-click="openFeedbackForm($event)" id="open_feedback_form">
        <i class="far fa-comment-alt"></i>
        <span>Report a bug</span>
      </a>
    <% end %>

    <% if Rails.env == 'production' %>
      <!-- Begin BlueKai Tag -->
      <iframe name="__bkframe" height="0" width="0" frameborder="0" style="display:none;position:absolute;clip:rect(0px 0px 0px 0px)" src="about:blank"></iframe>
      <script type="text/javascript" src="https://tags.bkrtx.com/js/bk-coretag.js"></script>
      <script type="text/javascript">
      bk_doJSTag(78101, 1);
      </script>
      <!-- End BlueKai Tag -->

      <!-- Teads -->
      <script type="text/javascript" class="teads" src="//a.teads.tv/page/116407/tag" async="true"></script>
      <script type="text/javascript">
        var articleDataForAds = [];
        <% if is_article_page? && @article.present? %>
          articleDataForAds.push(<%= @article.id %>);
          articleDataForAds.push("<%= yield_meta_tag(:description, default_meta_description) %>");
        <% end %>
        console.log(articleDataForAds);
      </script>

      <!-- Quantcast -->
      <script type="text/javascript">
        var _qevents = _qevents || [];

        (function() {
          var elem = document.createElement('script');
          elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
          elem.async = true;
          elem.type = "text/javascript";
          var scpt = document.getElementsByTagName('script')[0];
          scpt.parentNode.insertBefore(elem, scpt);
        })();

        _qevents.push({
          qacct:"p-9LX76t3TaEYn4"
        });
      </script>

      <noscript>
        <div style="display:none;">
          <img src="//pixel.quantserve.com/pixel/p-9LX76t3TaEYn4.gif" border="0" height="1" width="1" alt="Quantcast"/>
        </div>
      </noscript>
      <!-- End Quantcast tag -->
    <% end %>

    <%= render 'layouts/firebase_init' %>
  </body>
</html>
