<!DOCTYPE html>
<html>
  <head>
    <title><%= yield_page_title(default_page_title) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700" rel="stylesheet">

    <!-- Icons -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= asset_url('icons/favicon.png') %>"/>
    <meta name="apple-mobile-web-app-title" content="TheArticle" />
    <link rel="apple-touch-icon" sizes="57x57" href="<%= asset_url('icons/Icon-57.png') %>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%= asset_url('icons/Icon-72.png') %>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%= asset_url('icons/Icon-114.png') %>" />
    <link rel="apple-touch-icon" sizes="120x120" href="<%= asset_url('icons/Icon-120.png') %>" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%= asset_url('icons/Icon-144.png') %>" />
    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_url('icons/Icon-152.png') %>" />
    <link rel="apple-touch-icon" sizes="167x167" href="<%= asset_url('icons/Icon-167.png') %>" />
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url('icons/Icon-180.png') %>" />

    <!-- Standard SEO tags -->
    <meta name="description"  content="<%= yield_meta_tag(:description, default_meta_description) %>" />
    <% if content_for?(:meta_image) %>
    <meta itemprop="image" content="<%= yield_meta_tag(:image) %>" />
    <% end %>

    <!-- OpenGraph SEO tags -->
    <meta property="og:title" content="<%= yield_page_title(default_page_title) %>" />
    <meta property="og:url" content="<%= request.url %>" />
    <meta property="og:description"  content="<%= yield_meta_tag(:description, default_meta_description) %>" />
    <meta property="og:site_name" content="TheArticle" />
    <meta property="og:type" content="<%= page_og_type %>" />
    <% if content_for?(:meta_image) %>
    <meta property="og:image" content="<%= yield_meta_tag(:image) %>" />
    <% end %>

    <!-- Twitter SEO tags -->
    <meta property="twitter:title" content="<%= yield_page_title(default_page_title) %>" />
    <meta name="twitter:description"  content="<%= yield_meta_tag(:description, default_meta_description) %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:domain" content="www.thearticle.com" />
    <meta name="twitter:site" content="@TweetTheArticle" />
    <% if content_for?(:meta_image) %>
    <meta name="twitter:image" content="<%= yield_meta_tag(:image) %>" />
    <% end %>

    <% if content_for?(:"meta_canonical") %>
    <link rel="canonical" href="<%= yield_meta_tag(:canonical) %>" />
    <% end %>

    <% if is_article_page? && @article %>
    <meta property="article:published_time" content='<%= @article.published_at.strftime("%Y-%m-%dT%H:%M:%SZ") %>' />
    <meta property="article:modified_time" content='<%= @article.published_at.strftime("%Y-%m-%dT%H:%M:%SZ") %>' />
    <% end %>

    <%= javascript_include_tag 'setup', 'data-turbolinks-track' => true %>

    <% if(!is_development?) %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ga_tracking_id %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '<%= ga_tracking_id %>');
      </script>
    <% end %>

    <% if(show_ads?) %>
      <!-- Ad tags (gpt) -->
      <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
      <script>
        var googletag = googletag || {};
        googletag.cmd = googletag.cmd || [];
      </script>

      <script>
        googletag.cmd.push(function() {
          googletag.defineSlot('/<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/bottomsidecolumn', [[300, 600]], 'div-gpt-ad-<%= ad_page_id %>-0').addService(googletag.pubads());
          googletag.defineSlot('/<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/sidecolumn', [[300, 250]], 'div-gpt-ad-<%= ad_page_id %>-1').addService(googletag.pubads());
          googletag.defineSlot('/<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/skin', [1, 1], 'div-gpt-ad-<%= ad_page_id %>-2').addService(googletag.pubads());
          var topBanner = googletag.defineSlot('/<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/topbanner', [[320, 50], [320, 100]], 'div-gpt-ad-<%= ad_page_id %>-3').addService(googletag.pubads());
          googletag.defineSlot('/<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/unruly', [[345, 250], [2,2]], 'div-gpt-ad-<%= ad_page_id %>-4').addService(googletag.pubads());

          <% if is_article_page? %>
            googletag.pubads().setTargeting('article_id', '<%= @article.wp_id unless @article.nil? %>');
          <% elsif is_author_page? && @contributor.present? %>
            googletag.pubads().setTargeting('section_id', "<%= @contributor.slug %>");
          <% end %>
          googletag.pubads().enableSingleRequest();
          googletag.pubads().collapseEmptyDivs();
          googletag.enableServices();
          googletag.pubads().addEventListener('slotRenderEnded', function(event) {
            if(event.slot == topBanner) {
              setTimeout(function() {
                headerBarScope = angular.element('header#main_header').scope()
                headerBarScope.bindFixedNavScrolling();
              }, 1000);
            }
          });
        });
      </script>

      <!-- Tracking tags (gtm) -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= gtm_id %>');</script>
    <% end %>

    <% maps_api_key = Rails.application.credentials.google_maps_api_key[Rails.env.to_sym] %>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= maps_api_key %>" type="text/javascript"></script>

    <%= stylesheet_link_tag  'mobile', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="<%= asset_url('vendor/modernizr.js') %>" type="text/javascript"></script>
  </head>

  <body class="<%= body_classes %>" ng-app="TheArticleNG" onunload="">
  <% if show_ads? %>
   <div id="ads_top" class="bg-light py-3 mx-auto my-0" ng-app="TheArticleNG">
      <!-- /<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/skin -->
      <div id='div-gpt-ad-<%= ad_page_id %>-2' style='height:1px; width:1px;'>
        <script>
          googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-2'); });
        </script>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-8 d-flex justify-content-center">
            <div id="ads_top_box" class="ads_box">
              <!-- /<%= ad_publisher_id %>/thearticle_<%= ad_page_type %>/topbanner -->
              <div id='div-gpt-ad-<%= ad_page_id %>-3'>
                <script>
                  googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-3'); });
                </script>
              </div>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
    </div>
  <% end %>
