<nav id="mobile_side_menu" class="menu" ng-cloak ng-controller="SidebarController" data-signed-in="1">
  <section class="menu-section">
    <div id="sidebar_logo" class="justify-content-center">
      <a href="/">
        <span class="text-hide">TheArticle</span>
      </a>
    </div>

    <% if user_signed_in? %>
    <div id="sidebar_me" class="d-flex mb-1">
      <a href='/my-profile'>
        <img src="<%= current_user.profile_photo.url(:square) %>" class="rounded-circle" alt="<%= current_user.display_name %>" style="">
      </a>
      <p>
        <a href='/my-profile'>
          <span class="display_name"><%= current_user.display_name %></span>
          <small class="username text-muted"><%= current_user.username %></small>
          <span class="link">View profile</span>
        </a>
      </p>
    </div>
    <% end %>

    <% if user_signed_in? %>
    <div id="follows_info" class="d-flex">
      <p>
        <span class="pr-1">
          <a href="<%= user_followings_path(tab: 'following') %>">Following <span class="text-muted pl-0">{{followCounts.followings}}</span></a>
        </span>
        <span class="pl-1">
          <a href="<%= user_followings_path(tab: 'followers') %>">Followers <span class="text-muted pl-0">{{followCounts.followers}}</span></a>
        </span>
      </p>
    </div>
    <% end %>

    <% if user_signed_in? %>
    <h3 class="menu-section-title">My pages</h3>
    <ul class="list-unstyled menu-section-list">
      <li>
        <a href='<%= front_page_path %>'>Home</a>
      </li>
      <li>
        <a href='/?force_home=1'>Front page</a>
      </li>
      <li>
        <a href="/follow-suggestions">Follow suggestions</a>
      </li>
      <li>
        <a href="/notifications">Notifications</a>
      </li>
      <li>
        <a href="/account-settings">Account settings</a>
      </li>
      <% if current_user.is_admin? %>
      <li>
        <a class="" href="/admin" target="_blank">Admin</a>
      </li>
      <% end %>
      <li>
        <a class="" href="<%= destroy_user_session_path %>" data-method="delete">Sign out</a>
      </li>
    </ul>

    <% else %>
    <ul class="list-unstyled menu-section-list">
      <li><a href="/">Home</a></li>
      <li><a class="join_button" href="#" ng-click="openRegisterForm($event, 'mobile_side_menu')">Register</a></li>
      <li><a class="join_button" href="#" ng-click="openSigninForm($event)">Sign in</a></li>
    </ul>
    <% end %>

    <h3 class="menu-section-title">Browse</h3>
    <ul class="list-unstyled menu-section-list">
      <li>
        <a href='#search' ng-click="openSearchPanel($event)">Search</a>
      </li>
      <li>
        <a class="" href="/exchanges">Exchanges</a>
      </li>
      <li>
        <a class="" href="/contributors">Contributors</a>
      </li>
      <li>
        <a class="" href="/sponsors">Sponsors</a>
      </li>
    </ul>

    <h3 class="menu-section-title">Information</h3>
    <ul class="list-unstyled menu-section-list">
      <li>
        <a class="" href="/about">About</a>
      </li>
      <li>
        <a class="" href="/help">Help</a>
      </li>
      <li>
        <a class="" href="/write-for-us">Write for Us</a>
      </li>
      <li>
        <a class="" href="/contact">Contact</a>
      </li>
      <li>
        <a class="" href="/our-mission">Our Mission</a>
      </li>
      <li>
        <a class="" href="/terms-and-conditions">Terms &amp; Conditions</a>
      </li>
      <li>
        <a class="" href="/privacy-policy">Privacy Policy</a>
      </li>
    </ul>

    <ul class="list-unstyled menu-section-list">
      <% footer_landing_page_links.each_with_index do |link, index| %>
        <li class="mb-3">
          <a class="text-green py-0" href="/<%= link.slug %>"><%= link.heading %></a>
        </li>
      <% end %>
    </ul>

    <nav class="pt-2" id="social_links">
      <ul class="row list-unstyled px-0 py-0 mx-0 my-0">
        <li class="col-3 nav-item px-0 py-0" id="social_facebook">
          <a class="nav-link text-center text-dark" href="https://www.facebook.com/TheArticle.exchange/" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="col-3 nav-item px-0 py-0" id="social_twitter">
          <a class="nav-link text-center text-dark" href="https://twitter.com/TweetTheArticle" target="_blank">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="col-3 nav-item px-0 py-0" id="social_linked_in">
          <a class="nav-link text-center text-dark" href="https://www.linkedin.com/company/thearticle/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
    </nav>

  </section>
</nav>