<section id="member_callout">
	<div class="container">
		<h2>Join our community</h2>
		<p>In return, you will get emails each week with the best of TheArticle.  You will also be asked to help shape the big plans we have for the future.  Our intention is to create a renaissance in journalism and we want you at the heart of it.</p>
		<button data-toggle="modal" data-target="#join_form_modal" class="join_button btn btn-sm bg-grass text-white">Join Us</button>
	</div>
</section>

<div class="container">
	<div class="row">
		<div class="col-12 col-lg-4 pt-4 pt-lg-5" id="home_journalist_spotlight">
			<div class="container">
				<h2 class="bullet">
					<%= spotlight_heading %>
				</h2>
				<% contributors.each do |contributor| %>
					<article class="row my-4">
						<div class="col-4 col-md-2 col-lg-4">
							<a href="<%= contributor_path(slug: contributor.slug) %>">
								<% if contributor.image? %>
									<img src="<%= contributor.image.url(:detail) %>" alt="<%= contributor.display_name %>" />
								<% end %>
							</a>
						</div>
						<div class="col-8 col-md-10 col-lg-8 pt-0 pt-md-2 pl-md-1 pr-md-0 pl-lg-0">
							<h5 class="mb-1">
								<a href="<%= contributor_path(slug: contributor.slug) %>">
									<%= contributor.display_name %></a>
							</h5>
							<% if contributor.title %>
								<p class="mb-0">
									<%= contributor.title %>
								</p>
							<% end %>
						</div>
					</article>
				<% end %>
				<a class="btn btn-standard mt-md-4 mb-4" href="/contributors">See More</a>
			</div>
		</div>


		<div class="col-12 col-lg-8">
			<div class="row">
				<div class="col-12 col-md-6 pt-4 pt-md-5" id="home_latest_articles">
					<div class="container">
						<h2 class="bullet mb-4">Latest articles</h2>
						<% recent_articles.each do |recent_article| %>
							<article class="row mt-3<%= recent_article.is_sponsored ? ' sponsored_article' : '' %>">
								<div class="col-12">
									<% if recent_article.is_sponsored %>
										<a href='/sponsors' class="sponsored">
											<i class="fas fa-star"></i>
											SPONSORED
										</a>
									<% end %>
									<h5 class="">
										<a href="<%= article_path(recent_article) %>">
											<%= recent_article.title.html_safe %>
										</a>
									</h5>
									<% footer_padding_bottom = recent_article.is_sponsored ? 'pb-2' : 'pb-0' %>
									<footer class="entry-footer pl-0 pt-1 <%= footer_padding_bottom %>">
										<p class="author_link">
											<a href="<%= contributor_path(slug: recent_article.author.slug) %>">
												by <span><%= recent_article.author.display_name %></span>
											</a>&nbsp
											<span class="entry-date">
												<%= article_date(recent_article) %>
											</span>
										</p>
									</footer>
								</div>
							</article>
						<% end %>
					</div>
				</div>

				<div class="col-12 col-md-6 pt-md-5 mb-4" id="home_bottom_ad">
					<div class="ads_box m-auto align-middle double_mpu text-center">
						 <% if(show_ads?) %>
							<!-- /21757645549/thearticle_<%= ad_page_type %>/bottomsidecolumn -->
							<div id='div-gpt-ad-<%= ad_page_id %>-0'>
								<script>
									googletag.cmd.push(function() { googletag.display('div-gpt-ad-<%= ad_page_id %>-0') })
								</script>
							</div>
 							<% end %>
 					</div>
				</div>
			</div>
		</div>

	</div>
</div>