  <%= render 'layouts/head' %>

<div class="wrapper">
<!-- Sidebar -->
<nav id="sidebar">
  <div id="dismiss"><i class="fas fa-times"></i></div>

  <ul class="list-unstyled">
    <li>
      <a class="" href="/" id="nav_home">Home</a>
    </li>
    <li>
      <a class="" href="/our-mission" id="nav_link_mission">Our Mission</a>
    </li>
    <li>
      <a class="" href="/exchanges" id="nav_link_exchanges">Exchanges</a>
    </li>
    <li>
      <a class="join_button" data-toggle="modal" data-target="#join_form_modal" href="#" id="nav_link_exchanges">Join us</a>
    </li>
    <li>
      <a class="" href="/contributors" id="nav_link_journalists">Contributors</a>
    </li>
    <li>
      <a class="" href="/write-for-us" id="nav_link_write_for_ud">Write for Us</a>
    </li>
    <li>
      <a class="" href="/contact" id="nav_link_contact">Contact</a>
    </li>
  </ul>
</nav>

<!-- Page Content -->
<div id="content">
<header id="main_header">
  <div class="container">
    <div class="row">

      <div class="col-3 align-items-center">
        <a id="sidebarCollapse" class="text-black" href='#'>
          <i class="fas fa-align-left" aria-hidden="true"></i>
        </a>
       </div>

      <div id="logo" class="col-6 d-flex justify-content-center">
        <a href="/?<%= 'force_home=1' if user_signed_in? %>">
          <span class="text-hide">TheArticle</span>
        </a>
      </div>

      <div class="col-3 align-items-center">
        <a class="text-black search_trigger" href="#">
          <i class="fas fa-search" aria-hidden="true"></i>
        </a>
      </div>

    </div>
  </div>
</header>

<nav id="search_box" class="collapse hide" aria-expanded="true" style="">
  <div class="row" id="search_box_row">
    <div class="justify-content-center" id="search_inner">
      <form method="get" id="search_form" class="search_form" action="<%= search_path %>" role="search" >
        <div class="input-group">
          <input placeholder="Search TheArticle..." class="text-white form-control" type="text" value="" name="query">
          <span class="input-group-btn">
            <button class="btn-link btn-sm btn bg-colour-1 text-white gabriela" type="submit">
              GO <i class="fas fa-angle-right"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</nav>

<main id="main_content">
  <%= yield %>
</main>

<%= render 'layouts/footer' %>