 <%= render 'layouts/head' %>

<header id="main_header">
  <div class="container">
    <div class="row">
      <nav id="main_nav_left" class="navbar navbar-expand-md col-4 px-md-0 px-lg-1 pb-0 pt-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link nav-icon-text text-black pl-md-4" href="/our-mission" id="nav_link_mission">
              Our Mission
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-icon-text text-black pl-md-4" href="/exchanges" id="nav_link_exchanges">Exchanges</a>
          </li>
        </ul>
      </nav>

      <div id="logo" class="col-4 d-flex justify-content-center px-md-0 px-lg-1">
        <a href="/?<%= 'force_home=1' if user_signed_in? %>">
          <span class="text-hide">TheArticle</span>
        </a>
      </div>

      <nav class="navbar navbar-expand-md col-4 d-flex px-md-0 px-lg-1 pb-0">
        <ul class="nav w-100 justify-content-end ">
          <li class="nav-item mr-3">
            <a class="nav-link nav-icon py-0 text-black search_trigger" href="#" style="font-size: 1.3em;" id="nav_link_search">
              <i class="fas fa-search"></i>
            </a>
          </li>
          <li class="nav-item mr-1">
            <a class="nav-link nav-icon-text text-black pl-md-4 pb-0 pr-0" href="<%= new_user_registration_path %>" id="nav_link_join">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-icon-text text-black pl-md-4 pb-0" href="<%= new_user_session_path %>" id="nav_link_sign_in">
              <i class="fas fa-sign-in-alt"></i>
              Sign in
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<%= render 'common/search-box' %>

<%= render 'common/join-form-modal' %>

<main id="main_content" class="mb-4" role="main">
  <%= yield %>
</main>

<footer id="main_footer_top" class="main_footer bg-black text-white border-light border-bottom">
  <div class="container">
    <div class="row py-2">
      <nav class="navbar navbar-expand-md col-12 col-lg-10 d-flex" id="footer_nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="mr-3 text-white nav-link px-2" href="/our-mission">Our Mission</a>
          </li>
          <li class="nav-item">
            <a class="mr-3 text-white nav-link px-2" href="/terms-and-conditions">Terms & Conditions</a>
          </li>
          <li class="nav-item">
            <a class="mr-3 text-white nav-link px-2" href="/privacy-policy">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="mr-3 text-white nav-link px-2" href="/contributors">Contributors</a>
          </li>
          <li class="nav-item">
            <a class="mr-3 text-white nav-link px-2" href="/sponsors">Sponsors</a>
          </li>
          <li class="nav-item">
            <a class="mr-3 text-white nav-link px-2" href="/write-for-us">Write for Us</a>
          </li class="nav-item">
          <li class="nav-item">
            <a class="mr-3 text-white nav-link px-2" href="/contact">Contact</a>
          </li>
        </ul>
      </nav>

      <% unless user_signed_in? %>
      <div class="col-md-0 col-lg-2 d-flex align-items-center justify-content-end"">
        <button data-toggle="modal" data-target="#join_form_modal" class="join_button btn btn-sm bg-grass text-white">Join Us</button>
      </div>
      <% end %>
    </div>
  </div>
</footer>
<footer id="main_footer_bottom" class="main_footer bg-black text-white border-light border-top">
  <div class="container">
    <div class="row py-3">
      <div id="copyright" class="col-6 col-lg-5 d-flex align-items-center">
        <p class="text-light pl-5 pt-2">
          <small>
            &copy; <%= Date.today.strftime("%Y") %> TheArticle.&nbsp;
            <% if is_staging? %>
              Staging server
            <% else %>
              All rights reserved
            <% end %>
          </small>
        </p>
      </div>
      <div class="col-md-0 col-lg-2"></div>
      <div class="col-6 col-lg-5 d-flex justify-content-end">
        <nav class="navbar navbar-expand-md ml-auto pr-0" id="social_links">
          <ul class="nav ">
            <li class="nav-item" id="social_facebook">
              <a class="ml-2 nav-link text-white" href="https://www.facebook.com/TheArticle.exchange/" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item" id="social_twitter">
              <a class="ml-2 nav-link text-white" href="https://twitter.com/TweetTheArticle" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item" id="social_linked_in">
              <a class="ml-2 nav-link text-white" href="https://www.linkedin.com/company/thearticle/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="nav-item" id="social_rss">
              <a class="ml-2 nav-link text-white mr-0 pr-0" href="/feed/rss" target="_blank">
                <i class="fas fa-rss"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
<%= render 'layouts/foot' %>