 <%= render 'layouts/head' %>

<header id="main_header">
  <div class="container">
    <div class="row">
      <nav id="main_nav_left" class="navbar navbar-expand-md col-4 px-md-0 px-lg-1 pb-0 pt-3">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link nav-icon-text text-black pl-md-4" href="/our-mission" id="nav_link_mission">
              Our Mission
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-icon-text text-black pl-md-4" href="/exchanges" id="nav_link_exchanges">Exchanges</a>
          </li>
        </ul>
      </nav>

      <div id="logo" class="col-4 d-flex justify-content-center px-md-0 px-lg-1">
        <a href="/?<%= 'force_home=1' if user_signed_in? %>">
          <span class="text-hide">TheArticle</span>
        </a>
      </div>

      <nav class="navbar navbar-expand-md col-4 d-flex px-md-0 px-lg-1 pb-0">
        <ul class="nav w-100 justify-content-end ">
          <li class="nav-item mr-3">
            <a class="nav-link nav-icon py-0 text-black search_trigger" href="#" style="font-size: 1.3em;" id="nav_link_search">
              <i class="fas fa-search"></i>
            </a>
          </li>
          <li class="nav-item mr-1">
            <a class="nav-link nav-icon-text text-black pl-md-4 pb-0 pr-0" href="<%= new_user_registration_path %>" id="nav_link_join">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-icon-text text-black pl-md-4 pb-0" href="<%= new_user_session_path %>" id="nav_link_sign_in">
              <i class="fas fa-sign-in-alt"></i>
              Sign in
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<nav id="search_box" class="collapse hide" aria-expanded="true" style="">
  <div class="row" id="search_box_row">
    <div class="justify-content-center" id="search_inner">
      <form method="get" id="search_form" class="search_form" action="<%= search_path %>" role="search" >
        <div class="input-group">
          <input placeholder="Search TheArticle..." class="text-white form-control" type="text" value="" name="query">
          <span class="input-group-btn">
            <button class="btn-link btn-lg btn bg-colour-1 text-white gabriela" type="submit">
              GO <i class="fas fa-angle-right"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
  </div>
</nav>

<%= render 'common/join-form-modal' %>

<main id="main_content" class="mb-4" role="main">
  <%= yield %>
</main>

<%= render 'layouts/footer' %>