 <%= render 'layouts/head' %>

<header id="main_header" ng-controller="HeaderBarController" data-signed-in="<%= user_signed_in? ? 1 : 0 %>" ng-cloak>
  <div class="container">
    <div class="row">
      <nav id="main_nav_left" class="navbar navbar-expand-md col-4 px-md-0 px-lg-1 pb-0 pt-3">
        <ul class="nav">
          <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link nav-icon-text text-black pl-0" href="/my-home" id="nav_link_front_page">
                <span class="pr-1 pt-1">
                  <i class="fas fa-home"></i>
                </span> Home
              </a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link text-black pl-md-4" href="/our-mission" id="nav_link_mission">
                Our Mission
              </a>
            </li>
          <% end %>
          <li class="nav-item">
            <a class="nav-link text-black pl-md-4" style="<%= 'top: -1px; position: relative;' unless user_signed_in? %>" href="/exchanges" id="nav_link_exchanges">Exchanges</a>
          </li>
        </ul>
      </nav>

      <div id="logo" class="col-4 d-flex justify-content-center px-md-0 px-lg-1">
        <a href="/?<%= 'force_home=1' if user_signed_in? %>">
          <span class="text-hide">TheArticle</span>
        </a>
      </div>

      <nav class="navbar navbar-expand-md col-4 d-flex px-md-0 px-lg-1 pb-0 pt-3" id="main_nav_right">
        <ul class="nav w-100 justify-content-between ">
          <% if user_signed_in? %>
            <li class="signed_in nav-item" id="nav_link_search_signed_in">
              <a class="nav-link nav-icon py-2 text-black search_trigger" href="#">
                <i class="fas fa-search"></i>
              </a>
            </li>

            <li class="signed_in nav-item dropdown pr-lg-3">
              <a class="nav-link nav-icon py-2 pr-1 text-black pl-md-2 pl-lg-4" href="/notifications" id="nav_link_notifications">
                <i class="fas fa-bell"></i>
                <span class="badge badge-danger rounded-circle ng-cloak" ng-if="notificationBadgeCount > 0">
                  {{notificationBadgeCount}}
                </span>
              </a>
            </li>

            <li class="signed_in nav-item dropdown" >
              <a class="nav-link nav-icon pb-0 pt-1 text-black" href="#" id="nav_link_my_profile" data-toggle="dropdown">
                <img src="<%= current_user.profile_photo.url(:square) %>" class="rounded-circle" alt="<%= current_user.display_name %>">
                <span class="display_name"><%= current_user.display_name %></span>
              </a>
             <div class="dropdown-menu bg-light" id="my_profile_menu">
                <a class="dropdown-item py-2 bg-white" href="<%= front_page_path %>">
                 <i class="fas fa-home mr-2"></i>
                 Home
                </a>
                <a class="dropdown-item py-2 bg-white" href="/my-profile">
                 <i class="fas fa-user-alt mr-2"></i>
                 My profile
                </a>
                <a class="dropdown-item py-2 bg-white" href="<%= my_profile_path %>?panel=following">
                  <i class="fas fa-angle-double-right mr-2"></i>
                  Following
                </a>
                <a class="dropdown-item py-2 bg-white" href="<%= my_profile_path %>?panel=followers">
                  <i class="fas fa-angle-double-left mr-2"></i>
                  Followers
                </a>
                <a class="dropdown-item py-2 bg-white" href="/account-settings">
                  <i class="fas fa-cog mr-2"></i>
                  Account settings
                </a>
                <a class="dropdown-item py-2 bg-white" href="<%= destroy_user_session_path %>" data-method="delete">
                  <i class="fas fa-sign-out-alt mr-2"></i>
                  Sign out
                </a>
                <% if current_user.is_admin? %>
                <a class="dropdown-item py-2 bg-white" href="/admin" target="_blank">
                  <i class="fas fa-toolbox mr-2"></i>
                  Admin
                </a>
                <% end %>
              </div>
            </li>
          <% else %>
            <li class="nav-item mr-3">
              <a class="nav-link nav-icon py-0 text-black search_trigger" href="#" style="font-size: 1.3em;" id="nav_link_search">
                <i class="fas fa-search"></i>
              </a>
            </li>
            <li class="nav-item mr-1">
              <a class="nav-link nav-icon-text text-black pl-md-4 pb-0 pr-0" href="#" ng-click="openRegisterForm($event)" id="nav_link_join">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-text text-black pl-md-3 pl-lg-4 pb-0" href="#" id="nav_link_sign_in" ng-click="openSigninForm($event)">
                <i class="fas fa-user-circle mr-1 text-increase-3 top-1"></i>
                Sign in
              </a>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

<%= render 'common/search-box' %>

<main id="main_content" class="mb-4 <%= params[:controller] %>_<%= params[:action] %>" role="main">
  <%= yield %>
</main>

<%# unless user_signed_in? %>
<footer id="main_footer_top" class="main_footer bg-black text-white border-light border-bottom" ng-controller="FooterController" ng-cloak>
  <div class="container">
    <div class="row py-2">
      <nav class="navbar navbar-expand-md col-12 col-lg-10 d-flex" id="footer_nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="mr-2 text-white nav-link px-2" href="/our-mission">Our Mission</a>
          </li>
          <li class="nav-item">
            <a class="mr-2 text-white nav-link px-2" href="/terms-and-conditions">Terms &amp; Conditions</a>
          </li>
          <li class="nav-item">
            <a class="mr-2 text-white nav-link px-2" href="/privacy-policy">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a class="mr-2 text-white nav-link px-2" href="/contributors">Contributors</a>
          </li>
          <li class="nav-item">
            <a class="mr-2 text-white nav-link px-2" href="/sponsors">Sponsors</a>
          </li>
          <li class="nav-item">
            <a class="mr-2 text-white nav-link px-2" href="/write-for-us">Write for Us</a>
          </li class="nav-item">
          <li class="nav-item">
            <a class="mr-2 text-white nav-link px-2" href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <% if user_signed_in? %>
              <a class="mr-2 text-white nav-link px-2" href="<%= destroy_user_session_path %>" data-method="delete">Sign out</a>
            <% else %>
              <a class="mr-2 text-white nav-link px-2" href="<%= new_user_session_path %>">Sign in</a>
            <% end %>
          </li>
        </ul>
      </nav>

      <% unless user_signed_in? %>
      <div class="col-md-0 col-lg-2 d-flex align-items-center justify-content-end"">
        <a class="join_button btn btn-sm bg-grass text-white" href="#" ng-click="openRegisterForm($event)">Register now</a>
      </div>
      <% end %>
    </div>
  </div>
</footer>
<%# end %>

<footer id="main_footer_bottom" class="main_footer bg-black text-white border-light border-top" ng-cloak>
  <div class="container">
    <div class="row py-3">
      <div id="copyright" class="col-6 col-lg-5 d-flex align-items-center">
        <p class="text-light pl-5 pt-2">
          <small>
            &copy; <%= Date.today.strftime("%Y") %> TheArticle.&nbsp;
            <% if is_staging? %>
              Staging server
            <% else %>
              All rights reserved
            <% end %>
          </small>
        </p>
      </div>
      <div class="col-md-0 col-lg-2"></div>
      <div class="col-6 col-lg-5 d-flex justify-content-end">
        <nav class="navbar navbar-expand-md ml-auto pr-0" id="social_links">
          <ul class="nav ">
            <li class="nav-item" id="social_facebook">
              <a class="ml-2 nav-link text-white" href="https://www.facebook.com/TheArticle.exchange/" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item" id="social_twitter">
              <a class="ml-2 nav-link text-white" href="https://twitter.com/TweetTheArticle" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item" id="social_linked_in">
              <a class="ml-2 nav-link text-white" href="https://www.linkedin.com/company/thearticle/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </li>
            <li class="nav-item" id="social_rss">
              <a class="ml-2 nav-link text-white mr-0 pr-0" href="/feed/rss" target="_blank">
                <i class="fas fa-rss"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>

<% if user_signed_in? %>
  <script id="concernReport" type="script/x-mustache">
    <%= render partial: 'concern_reports/modal' %>
  </script>
<% end %>

<%= render 'layouts/foot' %>