<%= render 'layouts/head' %>

<% unless request.headers["X-MobileApp"] %>
  <%= render 'layouts/mobile-side-menu' %>

  <main id="panel_for_side_menu">
    <%= render('layouts/mobile-ad-top') if show_ads? %>
<% end %>

<div class="overlay"></div>

<!-- Page Content -->
<div id="content">
  <% unless request.headers["X-MobileApp"] %>
    <header id="main_header" ng-controller="HeaderBarController" data-signed-in="<%= user_signed_in? ? 1 : 0 %>">
      <div class="container bg-grey" ng-if="appPage" ng-cloak>
        <div class="app_page_heading py-1">
          <div class="d-flex justify-content-between">
            <div ng-if="showBackPage" class="with_back">
              <h4 class="pt-2">
                <a ng-click="backPage($event)" href='#' class="text-black">
                  <i class="fas fa-chevron-left backer mr-2"></i>
                  {{appPageTitle}}
                </a>
              </h4>
              <h6>{{ username }}</h6>
            </div>

            <div ng-if="!showBackPage">
              <h4 class="pt-2" ng-if="!showBackPage">{{appPageTitle}}</h4>
              <h6>{{ username }}</h6>
            </div>

            <a ng-click="openFrontPage()" href='#' class="d-block pt-2 text-green" id="close_app_page">
              <i class="fas fa-times text-green"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="container" ng-if="!appPage" ng-cloak>
        <div class="row">

          <div class="col-3 align-items-center pr-0">
            <div class="d-flex">
              <a id="sidebarCollapse" class="text-black" href='#'>
                <i class="fas fa-align-left" aria-hidden="true"></i>
              </a>
              <% if user_signed_in? %>
                <a class="text-black <%= 'active' if ['user_followings', 'profile_suggestions'].include?(params[:controller]) %>" id="header_follows" href="/user_followings">
                  <i class="fas fa-users"></i>
                </a>
              <% end %>
            </div>
          </div>

          <div id="logo" class="col-6 px-0 d-flex justify-content-center">
            <a href="/">
              <span class="text-hide">TheArticle</span>
            </a>
          </div>

          <div class="col-3 pl= align-items-center d-flex justify-content-end">
            <% if user_signed_in? %>
              <div class="d-flex pr-0 py-0 mt-1">
                <a class="text-black <%= 'active' if params[:controller] == 'search' %>"
                      id="header_search"
                      href="#"
                      ng-click="openSearchPanel($event)">
                  <i class="fas fa-search"></i>
                </a>
                <a class="text-black <%= 'active' if params[:controller] == 'notifications' %>" id="header_notifications" href="/notifications">
                  <i class="fas fa-bell"></i>
                  <span class="badge badge-danger rounded-circle ng-cloak" ng-if="notificationBadgeCount > 0">
                    <span ng-if="notificationBadgeCount > 99">99+</span>
                    <span ng-if="notificationBadgeCount <= 99">{{notificationBadgeCount}}</span>
                  </span>
                </a>
              </div>
            <% else %>
              <% if is_profile_page? %>
              <div ng-if="userProfile" class="dropdown navbar pr-0 py-0 mt-1" id="my_profile_settings_btn">
                <button type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                  <i class="fas fa-cog" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#" ng-click="requiresSignIn('follow a user')">Follow</a>
                  <a class="dropdown-item" href="#" ng-click="requiresSignIn('block a user')">Block</a>
                  <a class="dropdown-item" href="#" ng-click="requiresSignIn('report a user')">Report</a>
                </div>
              </div>
              <% else %>
                <a class="text-black pt-2" href="#" ng-click="openSigninForm($event)">
                  <i class="fas fa-user-circle mr-1 text-increase-5"></i>
                </a>
              <% end %>
            <% end %>
          </div>

        </div>
      </div>
    </header>
  <% end %>

  <%= render 'common/search-box' %>

  <main id="main_content" class="<%= params[:controller] %>_<%= params[:action] %>" data-slideout-ignore>
    <%= yield %>
  </main>

</div>

<% unless request.headers["X-MobileApp"] %>
</main>
<% end %>

<% if user_signed_in? %>
  <script id="concernReport" type="script/x-mustache">
    <%= render partial: 'concern_reports/modal' %>
  </script>
<% end %>

<%= render 'layouts/foot' %>