<%= render 'layouts/head' %>

<section ng-controller="RouterController">
  <%= render partial: 'layouts/mobile-side-menu', locals: { use_app_links: true } %>

  <main id="panel_for_side_menu">
    <div id="content">
      <header id="main_header" ng-controller="HeaderBarController">
        <div class="container">

          <!-- Non tabbed app page header -->
          <div class="row" ng-show="appPage">
            <div class="col-12 d-flex justify-content-between">
              <a ng-click="openFrontPage()" href='#' class="d-block py-2 text-black" id="close_app_page">
                <i class="fas fa-arrow-left text-black mr-2"></i>
                {{appPage}}
              </a>

              <div ng-show="myProfile" class="dropdown navbar pr-0 py-0 mt-1" id="my_profile_settings_btn">
                <button type="button" class="btn btn-link btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                  <i class="fas fa-cogs" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="#" ng-click="editProfile()">Edit profile</a>
                  <a class="dropdown-item" href="#" ng-click="editProfilePhoto()">Edit profile photo</a>
                  <a class="dropdown-item" href="#" ng-click="editCoverPhoto()">Edit cover photo</a>
                </div>
              </div>

            </div>
          </div>

          <!-- Tabbed app page header -->
          <div class="row" ng-show="!appPage">

            <div class="col-3 align-items-center">
              <a id="sidebarCollapse" class="text-black" href='#'>
                <i class="fas fa-align-left" aria-hidden="true"></i>
              </a>
             </div>

            <div id="logo" class="col-6 d-flex justify-content-center">
              <a href="/?<%= 'force_home=1' if user_signed_in? %>">
                <span class="text-hide">TheArticle</span>
              </a>
            </div>

            <div class="col-3 align-items-center" ng-if="notifications">
              <a class="text-black" ng-click="openAccountSettings('notifications')" href='#' id="notification_settings_btn">
                <i class="fas fa-cogs" aria-hidden="true"></i>
              </a>
            </div>

          </div>
        </div>
      </header>

      <nav id="member_options" ng-show="!appPage">
        <ul class="nav nav-pills nav-fill d-flex">
          <li class="nav-item">
            <a class="nav-link active" id="front-page-tab" data-toggle="tab" href="#content-front-page">
              <i class="fas fa-home"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="follows-tab" data-toggle="tab" href="#content-follows">
              <i class="fas fa-users"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="search-tab" data-toggle="tab" href="#content-search">
              <i class="fas fa-search"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="notifications-tab" data-toggle="tab" href="#content-notifications">
              <i class="fas fa-bell"></i>
            </a>
          </li>
        </ul>
      </nav>

      <%= render 'common/search-box' %>

      <main id="main_content" ng-class="{'app_page': appPage != false}">
        <div class="tab-content" id="app_tabs" ng-show="!appPage">
          <%= render 'mobile/front_page' %>
          <%= render 'mobile/follows' %>
          <%= render 'mobile/notifications' %>
        </div>

        <%= render 'mobile/profile' %>
        <%= render 'mobile/account_settings' %>
      </main>

      <footer id="main_footer_top" class="main_footer bg-black text-white">
        <div class="container pb-3">
          <div class="inner border-light border-top">
            <div class="row py-3">
              <div class="col-1"></div>
              <div class="col-10">
                <nav class="pt-2" id="social_links">
                  <ul class="row list-unstyled px-0 py-0 mx-0 my-0">
                    <li class="col-3 nav-item px-0 py-0" id="social_facebook">
                      <a class="nav-link text-center text-white" href="https://www.facebook.com/TheArticle.exchange/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                      </a>
                    </li>
                    <li class="col-3 nav-item px-0 py-0" id="social_twitter">
                      <a class="nav-link text-center text-white" href="https://twitter.com/TweetTheArticle" target="_blank">
                        <i class="fab fa-twitter"></i>
                      </a>
                    </li>
                    <li class="col-3 nav-item px-0 py-0" id="social_linked_in">
                      <a class="nav-link text-center text-white" href="https://www.linkedin.com/company/thearticle/" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                      </a>
                    </li>
                    <li class="col-3 nav-item px-0 py-0" id="social_rss">
                      <a class="nav-link text-center text-white" href="/feed/rss" target="_blank">
                        <i class="fas fa-rss"></i>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="col-1"></div>
            </div>

            <div class="row pt-3 px-2 pb-5">
              <div id="copyright" class="col-12 d-flex align-items-center">
                <p class="text-light w-100 text-center pt-1">
                  <small style="font-size: 70%;">&copy; <%= Date.today.strftime("%Y") %> TheArticle. All rights reserved</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </div>

    <div class="overlay"></div>

  </main>
</section>

<%= render 'layouts/foot' %>